*{
    padding:0px;
    margin:0px;
}
ul li {
    list-style:none outside none;
}
#body {
    margin:0px auto;
    min-height:100%;
    max-width:1225px;
    min-width:960px;
    color:#999999;
    font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size:12px;
    line-height:18px;
}
div#footer a{
    border:0;
}
