*{padding:0px;margin:0px;}
html,body{height:100%;}
ul li{list-style:none outside none;}
#body{
    margin:0px auto;
    height:auto;
    /* min-height:100%; */
    /* max-width:1225px; */
    /* width:960px; */
    width:100%;
    /* min-width:960px; */
    /* color:#999999; */
    color:#ffffff;
    font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size:12px;
    line-height:18px;
}
.clearFloat{
    clear:Both;
}
a img{
    line-height:0px;
}