div.product_block,li.product_block{
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #EEEEEE;
    float:left;
    height:300px;
    margin:0 0 10px 10px;
    padding:10px;
    position:relative;
    width:214px;
}
div.product_block_excerpt{
    height: 30px;
    margin-bottom: 5px;
}
a.product_block_img{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-position:center center;
    background-repeat:no-repeat;
    border-color:#FFFFFF #FFFFFF #EEEEEE;
    border-image:none;
    border-style:solid;
    border-width:1px;
    display:block;
    height:160px;
    margin-bottom:10px;
}
div.product_block_bottom{
    line-height:24px;
    overflow:hidden;
}
div.product_block_bottom div.product_block_price{
    color:#FF1493;
    float:right;
    font-family:"Times New Roman",Times,serif;
    font-size:25px;
}
div.product_block_bottom div.product_block_price span{
    color:PaleGreen;
    font-size: 15px;
    font-style: italic;
}
div.product_block_bottom div.product_block_price div.add_to_cart{
    width:80px;
    background:none repeat scroll 0 0 #FF3366;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF !important;
    display: block;
    font-size: 13px;
    min-width: 80px;
    padding: 2px;
    text-align: center;
    text-decoration: none;
}
