#header {
    height:365px;
    overflow:hidden;
    position:relative;
}
#static_menu-wrapper {
    background: none repeat scroll 0 0 DarkTurquoise;
    border-radius: 0 0 26px 26px;
    padding: 0 5px 5px;
    position: absolute;
    right: 280px;
    z-index: 100;
}
#static_menu {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color black black black;
    border-image: none;
    border-radius:0 0 22px 22px;
/*    border-right: 1px solid #FFFFFF;*/
    border-style: none solid solid;
    border-width: medium 1px 1px;
    padding: 16px;
    text-align: center;
}
#static_menu ul {
    display: inline;
    list-style-type: none;
}
#static_menu ul li {
    display: inline;
    padding: 0 23px;
}
#static_menu ul li a {
    color: #000000;
    font-size: 16px;
    text-decoration: none;
}
#cart{
    float:right;
    position:fixed;
    top:220px;
    width:300px;
    overflow:hidden;
    right:-240px;
    z-index:999;
    display:block;
}
/*#cart{
    background:none repeat scroll 0 0 #1A1B1D;
    border-radius:0px 0px 26px 26px;
    padding:5px;
    position:absolute;
    right:100px;
    top:0px;
    z-index:100;
}*/
#cart.opened {
    right: 0;
}
#auth {
    background: none repeat scroll 0 0 #1A1B1D;
    border-radius: 0px 0px 26px 26px;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 100;
}
#logo {
    background:url("/media/img/logo.png") no-repeat scroll 0 0 transparent;
    display:block;
    height:200px;
    left:50px;
    position: absolute;
    top:60px;
    width: 200px;
    z-index: 100;
}
#accordion_menu{
    border: 4px solid fuchsia;
}

.left_menu {
/*    border: 1px solid #CCCCCC;*/
    border-radius:10px 10px 10px 10px;
    margin-bottom:18px;
    padding:10px;
}

#main {
    margin-bottom:15px;
    // position:relative;
    z-index:100;
}
#main_left {
    float:left;
    margin-right:20px;
    margin-top:0px;
    position:relative;
    width:200px;
}
.left_title {
    background:url("/media/img/icon-crown.png") no-repeat scroll 0 2px transparent;
//    border-bottom:1px solid #CCCCCC;
    color:#333333;
    font-size:16px;
    font-weight:normal;
    line-height:21px;
    margin-bottom:6px;
    padding-bottom:3px;
    padding-left:40px;
}
#main_center {
    background: url("/media/img/bg-main.png") repeat-x scroll 0 0 transparent;
    border: 5px solid #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px #CCCCCC;
    overflow: hidden;
    padding: 10px;
}
.center_title {
    background:url("/media/img/icon-crown.png") no-repeat scroll 0 2px transparent;
    border-bottom:1px solid #CCCCCC;
    color:#333333;
    font-size:16px;
    font-weight:normal;
    line-height:21px;
    margin-bottom:6px;
    padding-bottom:3px;
    padding-left:40px;
}
.products_container {
    margin-left:-9px;
    overflow:hidden;
    max-width:984px;
    min-width:740px;
}