*{padding:0;margin:0;}
html,body{height:100%;}
ul li{list-style:none outside none;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance:none;
    margin:0;
}
header#header{
    height:auto;
    min-height:50px;
    overflow:hidden;
    position:relative;
}
body nav{
    display:none;
}
body ul.navigation{
    display:none;
}
body input#nav-trigger{
    display:none;
}
body label[for='nav-trigger']{
    display:none;
}
section#body{
    margin:0 auto;
    height:auto;
    /* min-height:100%; */
    /* max-width:1225px; */
    /* width:960px; */
    width:100%;
    /* min-width:960px; */
    /* color:#999999; */
    /* color:#ffffff; */
    color:#0000cd;
    font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size:16px;
    line-height:18px;
}
.clearFloat{
    clear:Both;
}
.Black{
    color:Black;
}
.Red{
    color:Red;
}
.DimGray{
    color:DimGray;
}
.lime{
    color:#0000cd;
}
Gray{
    color:Gray;
}
a img{
    line-height:0;
}
p#to-top{
    position:fixed;
    bottom:30px;
    right:30px;
    z-index:999;
}
/*p#to-top a{
    width:100px;
    display:block;
    text-align:center;
    font:11px/100% Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    text-decoration:none;
    color:#ddd;*/
    /* transition */
/*    -webkit-transition:5s;
    -moz-transition:5s;
    transition:5s;
}*/
p#to-top a:hover{
    color:#000;
}
/* arrow icon (span tag) */
p#to-top span{
    width:100px;
    height:100px;
    display:block;
    margin-bottom:7px;
    background:#aaa url(/media/img/arrow_to_top.png) no-repeat center center;
    /* rounded corners */
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    /* transition */
    -webkit-transition:2s;
    -moz-transition:2s;
    transition:2s;
}
p#to-top a:hover span{
    background-color:#555;
}
div#feedback-panel{
    background-color:rgba(255, 255, 255, 0.85);
    margin:0 auto;
    padding-top:15px;
    padding-right:20px;
    padding-left:20px;
    transition:all 0.6s ease-out 0s;
    width:385px;
    z-index:200;
}
.feedback_banner-h1{
    color:#555555;
    font-size:26px;
    line-height:24px;
    text-align:right;
    height:auto;
}
.feedback_banner-form-row{
    position:relative;
    top:22px;
    height:33px;
    float:left;
    width:100%;
    text-align:left;
    letter-spacing:normal;
}
.feedback_line{
    position:relative;
    float:left;
    margin-bottom:5px;
}
.feedback_banner-charbox, .feedback_banner-textbox{
    width:350px;
    border:1px inset #c2c2c2;
    font-size:14px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background:0 0;
    color:#333;
    line-height:30px;
    float:left;
    display:block;
    -webkit-transition:.25s ease-out;
    -moz-transition:.25s ease-out;
    -o-transition:.25s ease-out;
    transition:.25s ease-out;
    padding:0 8px;
    text-align:left;
    letter-spacing:normal;
    left:auto;
}
.feedback_banner-charbox{
    height:34px;
}
.feedback_banner-textbox{
    height:164px;
}
.feedback_submit-button{
    width:158px;
    height:33px;
    font-size:14px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    border:1px solid #333;
    color:#fff;
    line-height:30px;
    float:left;
    cursor:pointer;
    margin-top:10px;
    margin-left:0;
    -webkit-transition:.25s ease-out;
    -moz-transition:.25s ease-out;
    -o-transition:.25s ease-out;
    transition:.25s ease-out;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    padding:0;
    background:#333;
    letter-spacing:normal;
    text-indent:0;
    position:static;
}
/*@media (min-width:480px){
    div#wowslider-container1{
        display:none;
    }
}*/

div#header_category{
    color:Black;
    text-align:left;
}
div#current_category{
    display:flex;
    padding-top:10px;
}
div#current_category figure.current_category_img{
    display:block;
    float:left;
    color:Black;
    text-align:justify;
    font-size:15px;
    letter-spacing:1px;
    width:100%;
}
div#current_category figure.current_category_img figcaption{
    text-align:center;
}
div#current_category figure.current_category_img a{
    float:left;
    line-height:1;
    margin-right:15px;
    text-decoration:none;
}
div#current_category figure.current_category_img a img {
    margin: 0 auto;
    display: block;
}
div#current_category figure.current_category_img h1{
    color:yellow;
    font-size:25px;
    font-style:italic;
    font-weight:bolder;
    margin-top:10px;
    text-align:center;
/*    float:left;*/
}
/*div.first_category_block {
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #EEEEEE;
    float:left;
    height:285px;
    margin:0 0 10px 0px;
    padding:7px;
    position:relative;
    width:214px;
}*/
div#categories_block.top_border{
    margin-top:10px;
    padding-top:10px;
    border-top-width:5px;
    border-top-style:dashed;
    border-top-color:#FFF6C9
}
div.category_block{
    background:none repeat scroll 0 0 #FFF6C9;
    border:1px solid #EEEEEE;
    float:left;
    height:285px;
    margin:5px;
    padding:7px;
    position:relative;
    width:214px;
}
div.category_block a.category_block_excerpt{
    display:inline-block;
    float:left;
    vertical-align:middle;
    width:174px;
    text-align:left;
}
div.category_block a.category_block_arrow{
    position:absolute;
    bottom:2px;
    right:2px;
    line-height:0;
}
a.category_block_title{
    text-decoration:none;
    font-size:18px;
}
a.category_block_img{
    -moz-border-bottom-colors:none;
    -moz-border-left-colors:none;
    -moz-border-right-colors:none;
    -moz-border-top-colors:none;
    background-position:center center;
    background-repeat:no-repeat;
/*    border-color:rgba(204, 157, 134, 1);*/
    border-style:none;
    border-width:0;
    display:block;
    height:160px;
    margin-top:5px;
    margin-bottom:10px;
    line-height:160px;
}
a.category_block_img img{
    vertical-align:middle;
}
a.category_block_excerpt{
    font-size:12px;
    color:Black;
    font-style:Italic;
    text-decoration:None;
}
/*div.first_product_block{
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #EEEEEE;
    float:left;
    height:300px;
    margin:0 0 10px 0px;
    padding:7px;
    position:relative;
    width:214px;
}*/
div.product_block, li.product_block{
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #EEEEEE;
    float:left;
    height:300px;
/*    margin:0 0 10px 10px;*/
    margin:5px;
    padding:7px;
    position:relative;
    width:214px;
}
div.product_block_excerpt{
    height: 30px;
    margin-bottom: 5px;
}
a.product_block_img{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-position:center center;
    background-repeat:no-repeat;
    border-color:#FFFFFF #FFFFFF #EEEEEE;
    border-image:none;
    border-style:solid;
    border-width:1px;
    display:block;
    height:160px;
    margin-bottom:10px;
}
div#product_box{
    width:98%;height:auto;
    border:5px solid #FFF6C9;
    border-radius:10px;
    padding:5px;
    color:#333333;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    line-height:125%;
    display:inline-block;
}
div#product_box div#product_box_header{
    text-align:left;
}
div#product_box div#product_box_top{
    width:100%;
    position:relative;
}
div#product_box div#product_box_top div#product_box_left{
	float:left;
	width:354px;
}
div#product_box div#product_box_top div#product_box_left div#social_links{
    width:100%;
    display:inline-flex;
    position:relative;
}
div#social_links a.social_link {
    background-image: url("https://keksik.com.ua/media/img/social-ico.jpg");
    display: block;
    height: 40px;
    width: 40px;
    margin: 5px 10px 0;
}
a#social_button_VK{
background-position:-168px 0;
}
a#social_button_OK{
background-position:-126px 0;
}
a#social_button_FB{
background-position:0 0;
}
a#social_button_TW{
background-position:-42px 0;
}
a#social_button_MR{
background-position:-294px 0;
}

div#product_box div#product_box_top div#product_box_left div#product_box_left_top {
    margin: 5px 5px 5px 0;
}
div#product_box div#product_box_top div#product_box_left div#product_box_left_top div.image-wrap {
    height: 372px;
    line-height: 370px;
}
div#product_box div#product_box_top div#product_box_left div#product_box_left_top div.image-wrap a img.cloudzoom {
    vertical-align: middle;
}
div#product_box div#product_box_top div#product_box_left div#product_box_left_top div#slider {
    border-bottom: 2px solid #FFF6C9;
    border-top: 2px solid #FFF6C9;
    height: 99px;
    margin: 10px 15px 0 15px;
    position: relative;
    width: auto;
}
div#product_box div#product_box_top div#product_box_left div#product_box_left_top div#slider div#parent ul.thumbelina li {
    display: inline-block;
}
.thumbelina-but.horiz.left {
    border-radius:7px 0 0 7px;
    left:-22px;
}
.thumbelina-but.horiz {
    height:97px;
    line-height:98px;
    top:-1px;
    width:20px;
}
.thumbelina-but {
    background-color:#FFF6C9;
    border:2px solid #FFF6C9;
    box-shadow:0 0 8px rgba(0, 0, 0, 0.25);
    color:#888888;
    cursor:pointer;
    font-family:monospace;
    font-size:14px;
    font-weight:bold;
    position:absolute;
    text-align:center;
    vertical-align:middle;
    z-index:1;
}
.thumbelina-but.disabled, .thumbelina-but.disabled:hover {
    background-color:#EFEFEF;
    box-shadow:none;
    color:#CCCCCC;
    cursor:default;
}
div#product_box div#product_box_top div#product_box_left div#product_box_left_top div#slider div#parent{
    position:relative;
    overflow:hidden;
    width:100%;
    height:100%;
}
.thumbelina{
    display:-moz-inline-box;
    display:inline-block;
    vertical-align:middle;
    zoom:1;
    //display:inline;

/*    font-size:0;
    list-style:none outside none;
    margin:0;
    padding:0;
    position:absolute;
    white-space:nowrap;*/
}
.thumbelina li img {
    border:1px solid #CCCCCC;
    vertical-align:middle;
}
.thumbelina li img:hover {
    border:1px solid #AAAAAA;
}
.thumbelina-but.horiz.right {
    border-radius:0 5px 5px 0;
    right:-22px;
}
div#product_box div#product_box_top div#product_box_left div#product_box_left_top div#slider div#parent div#helper{
    display:-moz-inline-box;
    display:inline-block;
    vertical-align:middle;
    height:100%;
    width:0px;
    zoom:1;
}
div#product_box_right{
/*    position:relative;*/
    text-align:left;
}
#product_box_right{
	width:auto; /*300px;*//*height:45px;*/
/*	margin-left:-15px;
	float:left;
//	list-style-image:none;
//	list-style-type:none;*/
	padding:5px 0px 5px 0px;
/*  margin:2px;*/
}
div#product_box_right h1{
    font-size:16px;
    height:auto;
    line-height:20px;
}
div#product_box_right h3{
    font-size:15px;
    font-weight:lighter;
    line-height:30px;
}
div#product_box_right p#product_box_right_manufacturer{
    font-size:15px;
    font-weight:lighter;
    line-height:30px;
}
div#product_box_right p#product_box_right_regular_price{
    line-height:25px;
    margin:0px;
    padding:0px;
    color:#333333;
    font-family:Arial,Helvetica,sans-serif;
    font-size:15px;
}
div#product_box_right p#product_box_right_regular_price span{
    text-decoration:line-through;
}
div#product_box_right p#product_box_right_price{
    font-size:23px;
    padding-top:10px;
    color:Red;
}
div#product_box_right p#product_box_right_action_price{
    font-size:23px;
    padding-top:18px;
    padding-bottom:18px;
    text-align:right;
}
div#product_box_right p#product_box_right_action_price span{
    font-weight:bold;
}
div#product_box_right div#product_box_time_action_price{
    text-align:right;
}
div#product_box_right p.price_total{
	padding-top:15px;/* 0px;*/
	color:#333333;
	font-family:Arial,Helvetica,sans-serif;
	font-size:15px;
}
div#product_box_right p.price_total span{
	color:#333333;
	font-family:Arial,Helvetica,sans-serif;
	font-size:18px;
}
div#product_box_right form{
    padding-top:15px;
    display:inline;
}
div#product_box_right form ul.quantity {
    list-style-type: none;
    font-size: 15px;
    margin-top: 10px;
}
div#product_box_right form ul.quantity li {
    line-height: 18px;
    margin: 3px 3px 0 0;
    list-style-type: none;
    float: left;
    font-size: 19px;
}
div#product_box_right div#product_box_bottom {
    /* position:relative; */
    font-size: 15px;
    color: Black;
    text-align: justify;
    line-height: 20px;
    padding: 7px 5px 5px 0px;
    letter-spacing: 1px;
}
div.product_block_bottom {
    line-height: 24px;
    overflow: hidden;
}
div.product_block_bottom div.product_block_price {
    float: right;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
}
div.product_block_bottom div.pink{
    color:rgb(255, 20, 147); /* #FF1493; */
}
div.product_block_bottom div.gray{
    color:rgb(200, 200, 200);
}
div.product_block_bottom div.product_block_price span{
    color:Black;
    font-size:15px;
    font-style:italic;
}
div.product_block_bottom div.product_block_price div.add_to_cart{
    width:80px;
    background:none repeat scroll 0 0 #FF3366;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF !important;
    display: block;
    font-size: 13px;
    min-width: 80px;
    padding: 2px;
    text-align: center;
    text-decoration: none;
}
div.cloudzoom-zoom {
    z-index: 100;
}
div#main_center div#show_cart, div#main_center div#show_order {
    color: Black;
    text-align: left;
}
div#show_cart form table#table_cart caption,
div#show_order table#table_order caption {
    font-size: 1.5em;
    line-height: 1.2em;
}
div#show_cart form table#table_cart thead tr th#cart_col_name,
div#show_order table#table_order thead tr th#order_col_name {
    border-width: 0 0 0.1em 0;
    border-color: Black;
    border-style: solid;
}
div#show_cart form table#table_cart thead tr th#cart_col_price,
div#show_order table#table_order thead tr th#order_col_price {
    width: 95px;
    text-align: center;
    border-width: 0 1px 1px 1px;
    border-color: Black;
    border-style: solid;
}
div#show_cart form table#table_cart thead tr th#cart_col_quantity,
div#show_order table#table_order thead tr th#order_col_quantity {
    width: 73px;
    text-align: center;
    border-width: 0 0 1px 0;
    border-color: Black;
    border-style: solid;
}
div#show_cart form table#table_cart thead tr th#cart_col_total,
div#show_order table#table_order thead tr th#order_col_total {
    width: 110px;
    text-align: center;
    border-width: 0 1px 1px 1px;
    border-color: Black;
    border-style: solid;
}
div#show_cart form table#table_cart thead tr th#cart_col_prepaid_sum,
div#show_order table#table_order thead tr th#order_col_prepaid_sum {
    width: 110px;
    text-align: center;
    border-width: 0 1px 1px 1px;
    border-color: Black;
    border-style: solid;
}
div#show_cart form table#table_cart thead tr th#cart_col_delete {
    text-align: center;
    border-width: 0 0 1px 0;
    border-color: Black;
    border-style: solid;
}
div#show_cart form table#table_cart tbody tr td.cart_product_col_price,
div#show_order table#table_order tbody tr td.order_product_col_price {
    width: 95px;
    text-align: center;
    border-width: 0 1px;
    border-color: Black;
    border-style: solid;
}
div#show_cart form table#table_cart tbody tr td.cart_product_col_quantity,
div#show_order table#table_order tbody tr td.order_product_col_quantity {
    padding: 0;
    text-align: center;
}
div#show_cart table#table_cart tbody tr td.cart_product_col_quantity li {
    float: left;
    list-style-type: none;
    line-height: 22px;
}
div#show_cart table#table_cart tbody tr td.cart_product_col_quantity li input {
    border: 1px solid #CCCCCC;
    text-align: center;
    width: 25px;
    padding: 2px;
}
div#show_cart form table#table_cart tbody tr td.cart_product_col_sum_of_quantity,
div#show_order table#table_order tbody tr td.order_product_col_sum_of_quantity {
    width: 110px;
    text-align: center;
    border-width: 0 1px;
    border-color: Black;
    border-style: solid;
}
div#show_cart form table#table_cart tbody tr td.cart_product_col_delete {
    text-align: center;
}
div#show_cart form table#table_cart tfoot tr th#label_prepaid_sum,
div#show_order table#table_order tfoot tr th#label_prepaid_sum {
    text-align: right;
}
div#show_cart form table#table_cart tfoot tr th#all_sum_of_quantity_in_cart,
div#show_order table#table_order tfoot tr th#all_sum_of_quantity_in_order {
    text-align: center;
    color: Red;
    font-size: 1.05em;
    border-width: 0.1em;
    border-color: red;
    border-style: solid;
}
div#show_cart form table#table_cart tfoot tr th#after_all_sum_of_quantity_in_cart,
div#show_order table#table_order tfoot tr th#after_all_sum_of_quantity_in_order {
    border-width: 0 0.1em 0 0.1em;
    border-color: black;
    border-style: solid;
}
div#show_cart form table#table_cart tfoot tr th#label_coupon_percantage,
div#show_order table#table_order tfoot tr th#label_coupon_percantage {
    text-align: right;
}
div#show_cart form table#table_cart tfoot tr th#all_sum_discount_in_cart,
div#show_order table#table_order tfoot tr th#all_sum_discount_in_order {
    text-align: center;
    color: Red;
    font-size: 1.05em;
    border-width: 0 0.1em;
    border-color: Black;
    border-style: solid;
}
div#show_cart form table#table_cart tfoot tr th#after_all_sum_discount_in_cart,
div#show_order table#table_oredr tfoot tr th#after_all_sum_discount_in_order {
    border-width: 0.1em 0.1em 0 0;
    border-color: Black;
    border-style: solid;
}
div#show_cart form table#table_cart tfoot tr th#label_sum_of_quantity_for_pay_with_coupon_percantage,
div#show_order table#table_order tfoot tr th#label_sum_of_quantity_for_pay_with_coupon_percantage {
    text-align: right;
}
div#show_cart form table#table_cart tfoot tr th#all_sum_of_quantity_for_pay,
div#show_order table#table_order tfoot tr th#all_sum_of_quantity_for_pay {
    text-align: center;
    color: Red;
    font-size: 1.05em;
    border-width: 0.1em;
    border-color: Black;
    border-style: solid;
}

div#show_cart form table#table_cart tfoot tr#minimal_sum_order th{
    height:34px;
}
div#show_cart form table#table_cart tfoot tr#minimal_sum_order th p.blink,
div#show_cart form input.blink#order_cart_input {
    margin-bottom: 10px;
    -webkit-animation:blink 0.7s linear infinite;
    animation:blink 0.7s linear infinite;
}
@-webkit-keyframes blink {
    /*{# Нужно изменить цвета #}*/
    0% {
        color: rgba(255, 16, 16, 1);
    }
    50% {
        color: rgba(255, 32, 32, 0);
    }
    100% {
        color: rgba(255, 64, 64, 1);
    }
}
@keyframes blink {
    0% {
        color: rgba(255, 16, 16, 1);
    }
    50% {
        color: rgba(255, 32, 32, 0);
    }
    100% {
        color: rgba(255, 64, 64, 1);
    }
}
div#show_order form#form_order table tr td.first_column {
    text-align: right;
    border-bottom: 1px solid lightgrey;
}
div#show_order form#form_order table tr td.last_line {
    border-bottom: none;
}

div#show_cart form input#recalc {
    float: left;
    list-style-type: none;
    line-height: 24px;
    margin-right: 5px;
}
div#show_cart form input#order_cart_input {
    float: left;
    list-style-type: none;
    line-height: 2em;
    margin-right: 0.5em;
    font-weight: bold;
}
div#show_cart form a#return_to_shopping {
    float: left;
    list-style-type: none;
    line-height: 32px;
    margin-right: 5px;
}
div#main_center div#coupon {
    display: block;
    float: left;
    margin-bottom: 0;
    text-align: left;
}
div#main_center div#coupon div#havecoupon {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
div#main_center div#coupon div#havecoupon a {
    text-decoration: none;
}
div#main_center div#coupon div#form-coupon label#input-coupon {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    max-width: 100%;
}
div#main_center div#coupon div#form-coupon div#form-control-coupon input#input-coupon {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 5px;
    vertical-align: middle;
    width: 135px;
}
div#main_center div#coupon div#form-coupon div#form-control-coupon button#form-control-coupon-button {
    background-color: #61279e;
    background-image: none;
    border-color: #61279e;
    color: #ffffff !important;
    text-shadow: none;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 20px;
}
/*================================= begin --> root_style.css ===============================================*/
div#footer a{
    border:0;
}
#static_menu-wrapper{
/*    background:none repeat scroll 0 0 DarkTurquoise;*/
    background:none repeat scroll 0 0 #FFF6C9; /*rgba(204, 157, 134, 0.5);*/
/*    border:3px solid #FFF6C9;*/
    border-radius:0 0 19px 19px;
    padding:0 5px 5px;
    position:absolute;
    right:280px;
    z-index:100;
}
#static_menu{
/*    -moz-border-bottom-colors:none;
    -moz-border-left-colors:none;
    -moz-border-right-colors:none;
    -moz-border-top-colors:none;*/
/*    border-color:-moz-use-text-color black black black;*/
    border:3px solid rgba(204, 157, 134, 1); /*#FFF6C9;*/
/*    border-image:none;*/
    border-radius:0 0 22px 22px;
/*    border-right: 1px solid #FFFFFF;*/
    border-style:none solid solid;
/*    border-width:medium 1px 1px;*/
    padding:10px;
    text-align:center;
}
#static_menu ul{
    display:inline;
    list-style-type:none;
}
#static_menu ul li{
    display:inline;
    padding:0 23px;
}
#static_menu ul li a{
    color:#000000;
    font-size:16px;
    text-decoration:none;
}
div#cart{
    float:right;
    position:fixed;
    top:220px;
    width:300px;
    overflow:hidden;
    right:0px;
    z-index:999;
    display:block;
}
div#cart div#currencies_block_top form{
    text-align:right;
}
div#cart div#currencies_block_top form select option#selected{
    font-weight:bold;
}
div#cart div#cart_button{
    float:left;
    height:51px;
    overflow:hidden;
    width:60px;
    display:block;
}
div#cart div#showcart{
    background:none repeat scroll 0 0 #fff6c9;
    border:1px solid #CECECE;
    border-radius:15px 0 0 15px;
    margin-left:70px;
    padding:10px;
    display:block;
}
div#cart div#showcart div#dynamic_div_showcart{
    color:Black;
}
div#cart div#showcart a{
    font-size:18px;
    margin-top:7px;
    display:block;
}
/*#cart{
    background:none repeat scroll 0 0 #1A1B1D;
    border-radius:0px 0px 26px 26px;
    padding:5px;
    position:absolute;
    right:100px;
    top:0px;
    z-index:100;
}*/
div#cart.opened{
    right:0;
}
div#cart.closed{
    right:-240px;
}
div#auth{
    background:none repeat scroll 0 0 #bbbbbb;
    border-radius:26px 26px 26px 26px;
    padding:5px;
    position:absolute;
    right:100px;
    top:-26px;
    z-index:200;
}
div#div_logo a#logo{
    background-position:top left;
    background-repeat:no-repeat;
    background-color:transparent;
    background-attachment:scroll;
    /*background-image:url("/media/img/logoNewYear2.png");*/
    display:block;
    height:128px;
    left:5%;
    position: absolute;
    top:105px;
    /*width:113px; - Обычный логотип. */
    width:108px;/* - Логотип с новогодней шапкой. */
    z-index:100;
}
section#main{
    /* width:960px; */
    height:100%;
    margin:15px 0 0 0;
    position:relative;
    z-index:100;
    text-align:center;
}
#main_left{
/*    float:left;*/
    display:inline-block;
    margin-right:20px;
    margin-top:0px;
    position:relative;
    width:200px;
    vertical-align:top;
}
.left_title{
/*    background:url("/media/img/keks.png") no-repeat scroll 0 2px transparent;*/
    /* border-bottom:1px solid #CCCCCC; */
/*    color:#ffff00;*/
    color:#0000cd;
    font-size:22px;
    letter-spacing:2px;
    font-weight:bold;
    line-height:21px;
    margin-bottom:6px;
    padding-bottom:3px;
    /* padding-left:40px; */
}
#main_center{
    display:inline-block;
/*    background:url("/media/img/bg-main.png") repeat-x scroll 0 0 rgba(255, 255, 255, 1);*/ /* transparent;*/
    background-color:rgba(204, 157, 134, 0.5); /* transparent;*/
/*    border:5px solid #FFFFFF;*/
    border:5px solid #fff6c9;
    border-radius:10px 10px 10px 10px;
    box-shadow:0 0 5px #CCCCCC;
    overflow:hidden;
    padding:5px;
/*    padding:10px 10px 10px 0px;*/
/*    width:950px;*/
    vertical-align:top;
}
.center_title{
/*    background:url("/media/img/keks.png") no-repeat scroll 0 2px transparent;*/
/*    border-bottom:1px solid #FFFF00; */ /*#CCCCCC;*/
    border-bottom:1px solid #0000cd; /*#CCCCCC;*/
/*    color:#ffff00; */ /* #333333 */
    color:#0000cd;
    font-size:30px;
    font-weight:normal;
    letter-spacing:10px;
    line-height:21px;
    margin-bottom:6px;
    padding-bottom:3px;
    /* padding-left:40px; */
}
/*.products_container{
    margin-left:0px;
    overflow:hidden;
    max-width:984px;
    min-width:740px;
}*/
div#main_right{
    display:inline-block;
    vertical-align:top;
    margin-left:20px;
    margin-top:0;
    position:relative;
    width:206px;
/*    border:4px solid #FF00FF;*/
    border:3px solid #fff6c9;
    border-radius:10px;
    margin-bottom:18px;
    padding:10px;
}
div#main_right form#search{
    margin-bottom:15px;
}
div#main_right form#search table{
    border-spacing:0;
}
div#main_right form#search table tbody tr td input.search_input{
    width:140px
}
div#main_right div.rightSlider div.rightSliderItems{
    /* height:250px; */
    /* border-image:none; */
    border-style:solid;
    /* border-width:1px; */
    /* border-top:none;
    border-right:none;
    border-bottom:darkgrey;
    border-left:none;*/
    border-width:0px 0px 1px 0px;
    border-color:grey;
}
div#main_right div.rightSlider div.rightSliderItems a#product_box_title{
    font-size:14px;
    color:Black;
}
div#main_right div.rightSlider div.rightSliderItems a#product_box_img{
    display:block;
    background-position:center center;
    background-repeat:no-repeat;
    background-image:url('/media/img/NoPhoto_210x160.jpg');
    height:160px;
    /* width:198px; */
    margin-top:2px;
    margin-bottom:2px;
    /* -moz-border-bottom-colors:none;
    -moz-border-left-colors:none;
    -moz-border-right-colors:none;
    -moz-border-top-colors:none; */
}
div#main_center div#show_order form#form_order{
    margin-top:15px;
}
div#main_center div#show_order form#form_order table tbody tr td input#FIO,
div#main_center div#show_order form#form_order table tbody tr td input#email,
div#main_center div#show_order form#form_order table tbody tr td input#phone {
    float: right;
    width: 240px;
}
div#main_center div#show_order form#form_order table tbody tr td select#select_country {
    float: right;
    width: 254px;
}
div#main_center div#show_order form#form_order table tbody tr td select#select_delivery_company {
    float: right;
    width: 215px;
}
div#main_center div#show_order form#form_order table tbody tr td input#inputsubmit {
    float: left;
    color: red;
}
.disabled_button {
    color: #c0c0c0;
}
div#main_center div#show_order form#form_order table tbody tr td input#warehouse_number {
    width: 30px;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
}
div.process_banner_closed{
    display:none;
    opacity:0;
}
div#process_banner-wrapper {
    height:0;
    overflow:visible;
    position:fixed;
    top:0;
    width:100%;
    z-index:2000000;
}
div#process_banner{
    background-color:rgba(255, 255, 255, 0.80);
    border-radius:16px;
    height:205px;
    margin:0 auto;
    overflow:hidden;
    position:relative;
    top:100px;
    transition:all 0.6s ease-out 0s;
    width:700px;
    z-index:200001;
}
div#process_banner-body{
    height:100%;
    margin:0 auto;
    position:relative;
    top:70px;
    width:580px;
}
div#process_banner-h1{
    font-size:24px;
    height:auto;
    letter-spacing:normal;
    line-height:34px;
    text-align:left;
}
div#process_banner_bg{
    display:none;
    background-color:rgba(0, 0, 0, 0.4);
    height:100%;
    position:fixed;
    top:0;
    width:100%;
    z-index:10000;
}

/*================================== end --> root_style.css ===============================================*/

/*============================== begin --> topSlider/style.css ============================================*/

/*=============================== end --> topSlider/style.css =============================================*/
/*
 *generated by WOW Slider 7.2
 *template Vernisage
 */
@import url(https://fonts.googleapis.com/css?family=Economica&subset=latin,latin-ext);
#wowslider-container1{
display:table;
zoom:1;
position:relative;
width:auto;
max-height:360px;
margin:23px auto 57.5px;
z-index:90;
text-align:left; /* reset align=center */
font-size:10px;

/* reset box-sizing (to boostrap friendly) */
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box;
}
* html #wowslider-container1{width:960px}
#wowslider-container1 .ws_images ul{
position:relative;
width:10000%;
height:100%;
left:0;
list-style:none;
margin:0;
padding:0;
border-spacing:0;
overflow:visible;
/*table-layout:fixed;*/
}
#wowslider-container1 .ws_images ul li{
position:relative;
width:1%;
height:100%;
line-height:0; /*opera*/
overflow:hidden;
float:left;
font-size:0;
padding:0 0 0 0 !important;
margin:0 0 0 0 !important;
}
#wowslider-container1 .ws_images{
position:relative;
left:0;
top:45px;
height:100%;
max-height:360px;
max-width:960px;
vertical-align:top;
border:none;
overflow:hidden;
}
#wowslider-container1 .ws_images ul a{
width:100%;
height:100%;
max-height:360px;
display:block;
color:transparent;
}
#wowslider-container1 img{
max-width:none !important;
}
#wowslider-container1 .ws_images ul img,
#wowslider-container1 .ws_images > div > img{
width:100%;
border:none 0;
max-width:none;
padding:0;
margin:0;
}
#wowslider-container1 .ws_images > div > img{
max-height:360px;
}
#wowslider-container1 .ws_images iframe{
position:absolute;
z-index:-1;
}
#wowslider-container1 .ws_controls{
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
}
#wowslider-container1 .ws-title > div{
display:inline-block !important;
}
#wowslider-container1 a{
text-decoration:none;
outline:none;
border:none;
}
#wowslider-container1 .ws_bullets{
float:left;
position:absolute;
z-index:70;
}
#wowslider-container1 .ws_bullets div{
position:relative;
float:left;
font-size:0px;
}
#wowslider-container1 .wsl{
display:none;
}
#wowslider-container1 sound,
#wowslider-container1 object{
position:absolute;
}
/* prevent some of users reset styles */
#wowslider-container1 .ws_effect{
position:static;
width:100%;
height:100%;
}
#wowslider-container1 .ws_photoItem{
background:#fff;
}
#wowslider-container1 .ws_photoItem > div{
left:2em;
right:2em;
top:2em;
bottom:2em;
}
#wowslider-container1.ws_gestures{
cursor:-webkit-grab;
cursor:-moz-grab;
cursor:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABwSURBVEjH7ZJBEsAgCAMT/v/n9NCOSqe2oD2yNx1JggB4BCEFWyFASP2KMQE7ywWhe/tTRGCGogLk02tFctiW/SUgaMyQG4PdPzDn31rQbMb8FiAXgvsEJNax1yVlVGAjA93apP3HFhZTGIqiKH7iADB6HxPlHdNVAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTA3LTA3VDEzOjQ5OjEwKzAyOjAwm7WiFAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0wNy0wN1QxMzo0OToxMCswMjowMOroGqgAAAAASUVORK5CYII="), move;
}
#wowslider-container1.ws_gestures.ws_grabbing{
cursor:-webkit-grabbing;
cursor:-moz-grabbing;
cursor:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABaSURBVEjH7ZMxCkAhDEOT8u9/5TpJ+xWkFse8IYutJgEB8RCHL1qCc90BEFnT6QH7mwgFHBUf8wJyS1TDLuc3vmighx37LZdIth3E5hKj9n6O0HRh+oJCiFcMxRUUDxR1CTMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDctMDdUMTM6NDk6MzgrMDI6MDDqf+sOAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA3LTA3VDEzOjQ5OjM4KzAyOjAwmyJTsgAAAABJRU5ErkJggg=="), move;
}
/* hide controls when video start play */
#wowslider-container1.ws_video_playing .ws_bullets{
display:none;
}
#wowslider-container1.ws_video_playing:hover .ws_bullets{
display:block;
}
/* IE fix because it don't show controls on hover if frame visible */
#wowslider-container1.ws_video_playing_ie .ws_bullets,
#wowslider-container1.ws_video_playing_ie a.ws_next,
#wowslider-container1.ws_video_playing_ie a.ws_prev{
display:block;
}
/* youtube/vimeo buttons */
#wowslider-container1 .ws_video_btn{
position:absolute;
display:none;
cursor:pointer;
top:0;
left:0;
width:100%;
height:100%;
z-index:55;
}
#wowslider-container1 .ws_video_btn.ws_youtube,
#wowslider-container1 .ws_video_btn.ws_vimeo{
display:block;
}
#wowslider-container1 .ws_video_btn div{
position:absolute;
background-image:url(/media/img/topSlider/playvideo.png);
background-size:200%;
top:50%;
left:50%;
width:7em;
height:5em;
margin-left:-3.5em;
margin-top:-2.5em;
}
#wowslider-container1 .ws_video_btn.ws_youtube div{
background-position:0 0;
}
#wowslider-container1 .ws_video_btn.ws_youtube:hover div{
background-position:100% 0;
}
#wowslider-container1 .ws_video_btn.ws_vimeo div{
background-position:0 100%;
}
#wowslider-container1 .ws_video_btn.ws_vimeo:hover div{
background-position:100% 100%;
}
#wowslider-container1 .ws_playpause.ws_hide{
display:none !important;
}
#wowslider-container1 .ws_bullets{
padding:10px;
}
#wowslider-container1 .ws_bullets a{
width:8px;
height:8px;
background:url(/media/img/topSlider/bullet.png) left top;
float:left;
text-indent:-4000px;
position:relative;
margin-left:6px;
color:transparent;
}
#wowslider-container1 .ws_bullets a.ws_selbull, #wowslider-container1 .ws_bullets a:hover{
background-position:0 100%;
}
#wowslider-container1 a.ws_next, #wowslider-container1 a.ws_prev{
background-size:200%;
position:absolute;
top:50%;
margin-top:-1.5em;
z-index:60;
height:2.8em;
width:1.8em;
background-image:url(/media/img/topSlider/arrows.png);
}
#wowslider-container1 a.ws_next{
background-position:100% 0;
right:0.7em;
}
#wowslider-container1 a.ws_prev{
left:0.7em;
background-position:0 0;
}
#wowslider-container1 a.ws_next:hover{
background-position:100% 100%;
}
#wowslider-container1 a.ws_prev:hover{
background-position:0 100%;
}
/*playpause*/
#wowslider-container1 .ws_playpause{
width:1.8em;
height:2.8em;
position:absolute;
top:50%;
left:50%;
margin-left:-0.9em;
margin-top:-1.5em;
z-index:59;
}
#wowslider-container1 .ws_pause{
background-size:100%;
background-image:url(/media/img/topSlider/pause.png);
}
#wowslider-container1 .ws_play{
background-size:100%;
background-image:url(/media/img/topSlider/play.png);
}
#wowslider-container1 .ws_pause:hover, #wowslider-container1 .ws_play:hover{
background-position:100% 100% !important;
}
/* bottom center */
#wowslider-container1 .ws_bullets{
bottom:0;
left:80%;
}
#wowslider-container1 .ws_bullets div{
left:-50%;
}
#wowslider-container1 .ws-title{
position:absolute;
display:block;
bottom:2.5em;
left:0;
margin-right:0.7em;
color:#959695;
z-index:50;
font-family:Arial;/*'Economica', Trebuchet MS, Helvetica, sans-serif;*/
line-height:2.9em;
}
#wowslider-container1 .ws-title div,#wowslider-container1 .ws-title span{
background:#FFFFFF;
display:inline-block;
padding:0.35em;
margin-left:6px;
border-radius:0.2em;
-moz-border-radius:0.2em;
-webkit-border-radius:0.2em;
opacity:0.65;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}
#wowslider-container1 .ws-title div{
display:block;
color:#000000;
font-size:3em;
font-weight:normal;
line-height:13px;
margin-top:0.5em;
}
#wowslider-container1 .ws-title span{
font-size:2em;
padding:3px;
/*margin-left:2px;*/
}
#wowslider-container1 .ws_images > ul{
animation:wsBasic 16s infinite;
-moz-animation:wsBasic 16s infinite;
-webkit-animation:wsBasic 16s infinite;
}
@keyframes wsBasic{0%{left:-0%} 12.5%{left:-0%} 25%{left:-100%} 37.5%{left:-100%} 50%{left:-200%} 62.5%{left:-200%} 75%{left:-300%} 87.5%{left:-300%} }
@-moz-keyframes wsBasic{0%{left:-0%} 12.5%{left:-0%} 25%{left:-100%} 37.5%{left:-100%} 50%{left:-200%} 62.5%{left:-200%} 75%{left:-300%} 87.5%{left:-300%} }
@-webkit-keyframes wsBasic{0%{left:-0%} 12.5%{left:-0%} 25%{left:-100%} 37.5%{left:-100%} 50%{left:-200%} 62.5%{left:-200%} 75%{left:-300%} 87.5%{left:-300%} }

#wowslider-container1 .ws_shadow{
background-image:url(/media/img/topSlider/bg.png);
background-repeat:no-repeat;
background-size:1003px 406px;
position:absolute;
z-index:-1;
left:-2.09%;
top:22px;
width:1001px;
height:405px;
}
* html #wowslider-container1 .ws_shadow{/*ie6*/
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='engine1//bg.png', sizingMethod='scale');
}
*+html #wowslider-container1 .ws_shadow{/*ie7*/
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='engine1//bg.png', sizingMethod='scale');
}
#wowslider-container1 .ws_bullets a img{
text-indent:0;
display:block;
bottom:15px;
left:-64px;
visibility:hidden;
position:absolute;
-moz-box-shadow:0 0 5px #999999;
box-shadow:0 0 5px #999999;
border:5px solid #FFFFFF;
max-width:none;
}
#wowslider-container1 .ws_bullets a:hover img {
    visibility: visible;
}

#wowslider-container1 .ws_bulframe div div {
    height: 48px;
    overflow: visible;
    position: relative;
}
#wowslider-container1 .ws_bulframe div {
    left: 0;
    overflow: hidden;
    position: relative;
    width: 240px;
    background-color: #FFFFFF;
}
#wowslider-container1 .ws_bullets .ws_bulframe {
    display: none;
    bottom: 16px;
    overflow: visible;
    position: absolute;
    cursor: pointer;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border: 5px solid #FFFFFF;
}
#wowslider-container1 .ws_bulframe span {
    display: block;
    position: absolute;
    bottom: -11px;
    margin-left: -8px;
    left: 119px;
    background: url(/media/img/topSlider/triangle.png);
    width: 15px;
    height: 6px;
}
#wowslider-container1 .ws_bulframe div div {
    height: auto;
}
@media all and (max-width:400px) {
    #wowslider-container1 .ws_controls,
    #wowslider-container1 .ws_bullets,
    #wowslider-container1 .ws_thumbs {
        display: none
    }
}
/*============================ begin --> topSlider/style.mod.css ==========================================*/
#wowslider-container1 .ws_hovershow{
/*display:none !important; */
opacity:0;
-webkit-transition:opacity 0.2s ease-in;
-moz-transition:opacity 0.2s ease-in;
-o-transition:opacity 0.2s ease-in;
transition:opacity 0.2s ease-in;
}
#wowslider-container1:hover .ws_hovershow{
/*display:block !important;*/
opacity:1;
-webkit-transition:opacity 0.2s ease-in;
-moz-transition:opacity 0.2s ease-in;
-o-transition:opacity 0.2s ease-in;
transition:opacity 0.2s ease-in;
}
/*playpause*/
#wowslider-container1 .ws_playpause{
width:18px;
height:28px;
position:absolute;
top:50%;
left:50%;
margin-left:-9px;
margin-top:-14px;
z-index:59;
}
#wowslider-container1 .pause{
background-image:url(/media/img/topSlider/pause.png);
}
#wowslider-container1 .play{
background-image:url(/media/img/topSlider/play.png);
}
#wowslider-container1 .pause:hover, #wowslider-container1 .play:hover{
background-position:100% 100% !important;
}
#wowslider-container1 .ws_fullscreen{
width:16px;
height:16px;
position:absolute;
top:20px;
left:15px;
margin-left:-9px;
margin-top:-14px;
z-index:59;
background-image:url(/media/img/topSlider/fullscreen.png);
}
div#ws_fullscreen:-moz-full-screen #wowslider-container1{
width:95% !important;
max-width:100% !important;
max-height:inherit;
}
div#ws_fullscreen:-webkit-full-screen #wowslider-container1{
width:95% !important;
max-width:100% !important;
max-height:inherit;
}
div#ws_fullscreen:fullscreen #wowslider-container1{
width:95% !important;
max-width:100% !important;
max-height:inherit;
}
div#ws_fullscreen:-moz-full-screen{
background-color:#000;
height:100%;
}
div#ws_fullscreen:-webkit-full-screen{
background-color:#000;
height:100%;
}
div#ws_fullscreen:fullscreen{
background-color:#000;
height:100%;
}
/*============================= end --> topSlider/style.mod.css ===========================================*/

@media (max-width:480px){
    body{
        overflow-x:hidden;
    }
    body nav{
        display:block !important;
        position:absolute;
        right:0;
    }
    body ul.navigation{
        display:block !important;
    }

    body label[for="nav-trigger"]{
        /* critical positioning styles */
        position: fixed;
        left: 15px; top: 15px;
        z-index: 2;

        /* non-critical apperance styles */
        height:6px;
        width: 30px;
        cursor: pointer;
        /*background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");*/
        background-size: contain;
    }
    body label[for="nav-trigger"]{
        display:block !important;
        position:fixed;
        /*overflow: hidden;
        margin: 0;
        padding: 0;*/
        width:30px;
        height:6px;
        /*font-size: 0;*/
        text-indent:-9999px;
        /*-webkit-appearance: none;*/
        /*-moz-appearance: none;*/
        /*appearance: none;
        box-shadow: none;
        border-radius:15px;
        border: thin solid;
        background: red none repeat scroll 0 0;
        opacity:0.5;*/
        cursor:pointer;
        -webkit-transition:background 1.9s;
              transition:background 1.9s;
        z-index:2;
        left:20px;
        top:30px;
        background: white;
        background-color: #0000ff;
    }
    body label[for="nav-trigger"]::before{
        top:-14px;
    }
    body label[for="nav-trigger"]::after {
        bottom:-14px;
    }
    body label[for="nav-trigger"]::before, label[for="nav-trigger"]::after{
        position: absolute;
        display: block !important;
        left: 0;
        width: 100%;
        height: 6px;
        background-color: #0000ff;
        content: "";
    }
    body label[for="nav-trigger"]:focus{
        outline: none;
    }

    section#body header#header{
        height:auto;
        min-height:30px;
    }
    section#body header#header div#div_logo{
        display:none !important;
    }
    section#body header#header div#auth{
        display:none;
    }
    section#body header#header div#static_menu{
        display:none;
    }
    div#wowslider-container1{
        display:none;
/*        margin:0 auto 0;
        z-index:0;*/
    }
/*    div.ws_shadow{
        display:none;
    }*/
    section#body header#header div#cart.closed{
        /*toggleClass('opened');}}); animate_cart.js*/
        right:-250px!important;
    }
    body section#body header#header div#cart.closed div#cart_button{
        height:45px;
        width:50px;
    }
    body section#body header#header div#cart.closed div#cart_button a img{
        width:50px;
    }
    body section#body section#main{
        z-index:0;
    }
    section#main div#main_left{
        margin-right:10px;
    }
    section#main div#main_left div#form_slide_left{
        display:none;
    }
    section#main div#main_left div#products_block_left{
        display:none;
    }
    section#main div#main_center{
        width:240px !important;
        border:1px solid #fff6c9;
    }
    section#main div#main_center h1.center_title{
        font-size:17px;
        font-weight:bolder;
        letter-spacing:1px;
        line-height:19px;
    }
    section#main div#main_right{
        display:none !important;
    }
    section#body div#feedback-panel{
        display:none !important;
    }
    section#body div#clb-phone_div{
        display:none !important;
    }
    section#body p#to-top{
        display:none !important;
    }
    section#body p#to-top a span{
        border-radius: 20px;
        display: block;
        height: 100px;
        margin-bottom: 7px;
        transition: all 2s ease 0s;
        width: 100px;
    }
    section#body p#to-top a span span{
        background: #aaa url("/media/img/arrow_to_top.png") no-repeat scroll center center;
    }
}
/*<link href="{{ MEDIA_URL }}css/media_screen_adaptive-min-481px-max-768px.css" media="(min-width:481px) and (max-width:768px)" rel="stylesheet">
<link href="{{ MEDIA_URL }}css/media_screen_adaptive-min-769px-max-960px.css" media="(min-width:769px) and (max-width:960px)" rel="stylesheet">
<link href="{{ MEDIA_URL }}css/media_screen_adaptive-min-961px.css" media="(min-width:961px)" rel="stylesheet">*/
