{% extends "root.jinja2.html" %}
{# {% load header_category %} #}
{# {% block title %}Интернет магазин keksik.com.ua - сайт находится в разработке - загляните к нам позже{% endblock %} #}
{% block title %}Интернет магазин Кексик. Магазин кондитерских инструментов и ингридиентов.{% endblock %}
{% block description %}Гельевые краски, цветочная пыльца, молды, кандурин, ингриенты для мастики и тортов.{% endblock %}
{% block keywords %}гель,{% endblock %}
{% block content_center %}
<p class="center_title">Новинки</p>
    <div class="products_container">
        {{ block_products(in_main_page, request)|safe }}
        {# {{ block_products(all_products, request)|safe }} #}
    </div>
{% endblock %}
