{% extends "root.jinja2.html" %}
{% block title %}{{ get_value_variable('root_page_title', 'char') }}{% endblock %}
{% block description %}{{ get_value_variable('root_page_description', 'char') }}{% endblock %}
{% block keywords %}{{ get_value_variable('root_page_keywords', 'char') }}{% endblock %}
{% block content_center %}{# http://www.wmtoolbox.net/ #}<!--4fa659d3-->
<h1 class="center_title">Новинки магазина Кексик</h1>
    {# <div class="products_container"> #}
        {{ many_blocks(in_main_page, request, 'product', False)|safe }}
    {# </div> #}
{% endblock %}
