{% extends "base.jinja2.html" %}
{# {% load header_category %} #}
{% block title %}Интернет магазин bulavka.mk.ua - сайт находится в разработке - загляните к нам по позже{% endblock %}
{% block header_js %}
<script type="text/javascript" src="/media/js/jquery/dcjqaccordion/cookie.js"></script>
<script type="text/javascript" src="/media/js/jquery/dcjqaccordion/hoverIntent.minified.js"></script>
<script type="text/javascript" src="/media/js/jquery/dcjqaccordion/dcjqaccordion.2.9.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
    jQuery('#accordion').dcAccordion();
});
</script>
{% endblock %}
{% block content -%}
    <p>Категории верхнего уровня:</p>
{#     {% for cat in categories_ %} #}
{#         <li></a><a href='{{ url(show_category, template_name='category/show_category.jinja2.html', category_url=cat.url, id=cat.pk, ) }}'>{{ cat.title }}</a></li> #}
{#         {% if not cat.parent %}
        <p style='display:inline;'>Категория первого уровня:</p>
        <li><a href='{{ cat.get_absolute_url() }}'>{{ cat.title }}</a></li>
        {% endif %}
    {% else %}
        Каталог пуст
    {% endfor %} #}
    <ul id='accordion' class="menu basement">
        {% for basement in categories_basement_ %}
            <li>
                {% if not basement.children %} # Базовый уровень НЕТ
                    <p>not basement</p>
                    <a href="{{ basement.get_absolute_url() }}"
                       alt='{{ basement.name }}'
                       title="{{ basement.title }}">{{ basement.title }}</a>
                {% else %} # Базовый уровень ДА
                    <p>yes basement</p>
                    <ul class="submenu first_level">
                        {% set basement_all = basement.children.all() %}
                        {% for first_level in basement_all %}
                            <li>
                                {% if not first_level.children %} # Первый уровень НЕТ
                                    <a href="{{ first_level.get_absolute_url() }}"
                                       alt='{{ first_level.name }}'
                                       title="{{ first_level.title }}">{{ first_level.title }}</a>
                                {% else %} # Первый уровень ДА
                                    <ul class="submenu second_level">
                                        {% set first_level_all = first_level.children.all() %}
                                        {% for second_level in first_level_all %}
                                            <li>
                                                {% if not second_level.children %} # Второй уровень НЕТ
                                                    <a href="{{ second_level.get_absolute_url() }}"
                                                       alt='{{ second_level.name }}'
                                                       title="{{ second_level.title }}">{{ second_level.title }}</a>
                                                {% else %} # Второй уровень ДА
                                                    <ul class="submenu third_level">
                                                        {% set second_level_all = second_level.children.all() %}
                                                        {% for third_level in second_level_all %}
                                                            <li>
                                                                <a href="{{ third_level.get_absolute_url() }}"
                                                                   alt='{{ third_level.name }}'
                                                                   title="{{ third_level.title }}">{{ third_level.title }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                             </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{%- endblock %}
