<!DOCTYPE html>
<html lang="ru">
<head>
{# {1% from "bootstrap/macros.html" import debugmin %} #}
<title>Страница добавления/редактирования Групы купонов.</title>
<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src="{{ MEDIA_URL }}bootstrap/js/bootstrap.js"></script>
<script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/v4.0.0/src/js/bootstrap-datetimepicker.js"></script>
<link href="{{ MEDIA_URL }}bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/v4.0.0/build/css/bootstrap-datetimepicker.css" rel="stylesheet" />
</head>
<body>
{# {1% set coupon_group = form %}
{% if form.id %}
    {% set disable = True %}
{% else %}
    {% set disable = False %}
{% endif %} #}
    <div id="show_coupon_group" style="color:Black;text-align:left;" class="container-fluid">
{{ form.non_field_errors() }}
        {% if not disable %}
            <form action="{{ url('admin_coupon:coupon_group_add') }}"
                  class="form-horizontal row"
                  method="post"
                  role="form">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <input type="hidden" name="POST_NAME" value="coupon_group_edit">
        {% elif coupon_group_pk %}
            <div class="row">
            <div class="form-group">
                <label for="coupon_group_pk"
                        class="col-md-4 control-label">№ группы купонов:</label>
                <div class="col-md-6">
                    <input type="text"
                           name="pk"
                           id="coupon_group_pk"
                           class="form-control"
                           value="{{ coupon_group_pk }}" disabled>
                </div>
            </div>
        {% endif %}
            <div class="form-group">
                <label for="coupon_grouper_name"
                        class="col-md-4 control-label">Наименование группы купонов:</label>
                {{ form.name.errors }}
                <div class="col-md-6">
                    <input type="text"
                           name="name"
                           id="coupon_grouper_name"
                           class="form-control"
                           value="{% if coupon_group %}{{ coupon_group.name }}{% elif form is defined %}{{ form.name.value() }}{% endif %}"
                           {% if disable %}disabled{% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label for="coupon_group_how_much_coupons"
                        class="col-md-4 control-label">Количество купонов которое нужно сгенерировать:</label>
                {{ form.how_much_coupons.errors }}
                <div class="col-md-6">
                    <input type="text"
                           name="how_much_coupons"
                           id="coupon_group_how_much_coupons"
                           class="form-control"
                           value="{% if coupon_group %}{{ coupon_group.how_much_coupons }}{% elif form is defined %}{{ form.how_much_coupons.value() }}{% endif %}"
                           {% if disable %}disabled{% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label for="coupon_group_number_of_possible_uses"
                        class="col-md-4 control-label">Количество возможных использований:</label>
                {{ form.number_of_possible_uses.errors }}
                <div class="col-md-6">
                    <input type="text"
                           name="number_of_possible_uses"
                           id="coupon_group_number_of_possible_uses"
                           class="form-control"
                           value="{% if coupon_group %}{{ coupon_group.number_of_possible_uses }}{% elif form is defined %}{{ form.number_of_possible_uses.value() }}{% endif %}"
                           {% if disable %}disabled{% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label for="coupon_group_percentage_discount"
                        class="col-md-4 control-label">Процент скидки:</label>
                {{ form.percentage_discount.errors }}
                <div class="col-md-6">
                    <input type="text"
                           name="percentage_discount"
                           id="coupon_group_percentage_discount"
                           class="form-control"
                           value="{% if coupon_group %}{{ coupon_group.percentage_discount }}{% elif form is defined %}{{ form.percentage_discount.value() }}{% endif %}"
                           {% if disable %}disabled{% endif %}>
                </div>
            </div>
{% if not disable %}
{# <style>
.glyphicon-calendar:before{
    content: "\e109";
}
.input-group-addon{
    width:auto;
}
</style> #}
{% endif %}
            <div class="form-group">
                <label for="coupon_group_start_of_the_coupon"
                        class="col-md-4 control-label">Врямя начала действия купонов:</label>
                {{ form.start_of_the_coupon.errors }}
                <div class="col-md-6">
                    <input class="form-control make-datepicker"
                           type="datetime"
                           name="start_of_the_coupon"
                           data-date-format="DD.MM.YYYY HH:mm:ss"
                           id="coupon_group_start_of_the_coupon"
                           value="{% if coupon_group %}{{ coupon_group.start_of_the_coupon }}{% elif form is defined %}{{ form.start_of_the_coupon.value() }}{% endif %}"
                           {% if disable %}disabled{% endif %}>
                    {% if not disable %}
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-time"></i>
                    </span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="coupon_group_end_of_the_coupon"
                        class="col-md-4 control-label">Врямя окончания действия купонов:</label>
                {{ form.end_of_the_coupon.errors }}
                <div class="col-md-6">
                    <input class="form-control make-datepicker"
                           type="datetime"
                           name="end_of_the_coupon"
                           id="coupon_group_end_of_the_coupon"
                           data-date-format="DD.MM.YYYY HH:mm:ss"
                           value="{% if coupon_group %}{{ coupon_group.end_of_the_coupon }}{% elif form is defined %}{{ form.end_of_the_coupon.value() }}{% endif %}"
                           {% if disable %}disabled{% endif %}>
                    {% if not disable %}
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-time"></i>
                    </span>
                    {% endif %}
                </div>
            </div>
{% if not disable %}
<script>
$('.make-datepicker').datetimepicker({
    {#     format:'MMM Do YYYY',
    collapse:true,
    language:'ru',
    pick12HourFormat:false #}
  });
</script>
{% endif %}
            <div class="form-group">
                <label for="coupon_group_created_at"
                        class="col-md-4 control-label">Дата и врямя создания:</label>
                {{ form.created_at.errors }}
                <div class="col-md-6">
                    <input type="datetime"
                           id="coupon_group_created_at"
                           value="{% if coupon_group %}{{ coupon_group.created_at }}{% elif form is defined %}{{ form.created_at.value() }}{% endif %}"
                           disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="coupon_group_updated_at"
                        class="col-md-4 control-label">Дата и врямя изменения:</label>
                {{ form.updated_at.errors }}
                <div class="col-md-6">
                    <input type="datetime"
                           id="coupon_group_updated_at"
                           value="{% if coupon_group %}{{ coupon_group.updated_at }}{% elif form is defined %}{{ form.updated_at.value() }}{% endif %}"
                           disabled>
                </div>
            </div>
        {% if not disable %}
            <button type="submit" class="btn btn-primary">Генерация купонов</button>
            </form>
        {% else %}
            </div>
        {% endif %}
    </div>
    {% if coupons %}
        <div class="coupons">
            {% for coupon in coupons %}
                <div class="coupon">
                    <a href="{{ coupon.get_absolute_url() }}">{{ coupon.name }} {{ coupon.pk }} {{ coupon.key }}</a>
                </div>
            {% else %}
                <p>Coupons is Empty</p>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>
