<!DOCTYPE html>
<html lang="ru">
<head>
<title>Страница редактирования Комментария.</title>
<meta charset="utf-8">
</head>
<body>
    <div id="show_comment" style="color:Black;text-align:left;">
        {% set url = comment.pk|int_to_string %}
        {% set int_range = 6 - url|length %}
        {% if int_range > 0 %}
            {% for i in int_range|get_range %}
                {% set url = '0' + url %}
                {% if i == int_range - 1 %}
        <form method="POST" action="/админ/комментарий/редактор/{{ url }}/">
                {% endif %}
            {% endfor %}
        {% endif %}
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="POST_NAME" value="comment_dispatch">

            <label for="comment_id">№ комментария:</label>
            <input type="text" id="comment_id" value="{{ comment.pk }}" disabled>
            <label for="commenter_name">Имя комментатора:</label>
            <input type="text" id="commenter_name" value="{{ comment.name }}">
            <br>
            {% if comment.user %}
                <label for="commenter_user">Пользователь комментатор:</label>
                <input type="text" id="commenter_user" value="{{ comment.user }}" disabled>
                <br>
            {% endif %}
            <label for="commenter_sessionid">SessionID комментатора:</label>
            <input type="text" id="commenter_sessionid" value="{{ comment.sessionid }}">
            <br>
            <label for="comment">Комментарий:</label>
            <input type="text" id="comment" value="{{ comment.comment }}">
            <br>
            <label for="comment_pass_moderation">Прохождение модерации:</label>
            <input type="checkbox" id="comment_pass_moderation" value="{{ comment.pass_moderation }}">
            <br>
            <label for="comment_require_a_response">Запрос на ответ:</label>
            <input type="checkbox" id="comment_require_a_response" value="{{ comment.require_a_response }}">
            <br>
            <label for="comment_email_for_response">E-Mail для ответа:</label>
            <input type="email" id="comment_email_for_response" value="{{ comment.email_for_response }}">
            <br>
            <label for="comment_created_at">Дата и врямя создания:</label>
            <input type="datetime" id="comment_created_at" value="{{ comment.created_at }}">
            <br>
            <label for="comment_updated_at">Дата и врямя изменения:</label>
            <input type="datetime" id="comment_updated_at" value="{{ comment.updated_at }}">
            <br>
            <input type="button" value="Сохранить">
        </form>
    </div>
</body>
</html>
