*.ini
*.pid
*.log
*.pot
*.pyc
.idea
local_setting*.*
keksik.py
chipdip.py
VirtEnv/
VirtEnvironment/
VirtualEnvironment/
VirtEnv-Win32/
media/photo/
media/slide/
media/email_img/
start.sh
stop.sh
reload.sh
server.key
server.mysql
server.postgres
envs_init.sh
envs_manage.sh
