*.ini
*.pid
*.log
*.pot
*.*~
*.pyc
.idea
local_*.*
keksik.py
chipdip.py
VirtEnv/
VirtEnvironment/
VirtualEnvironment/
VirtEnv-Win32/
media/photo/
media/slide/
media/email_img/
start.sh
stop.sh
reload.sh
server.key
server.mysql
server.postgres
envs_init.sh
envs_manage.sh
Будет удалено applications/__pycache__/
Будет удалено applications/account/__pycache__/
Будет удалено applications/adminSite/__pycache__/
Будет удалено applications/adminSite/coupon/__pycache__/
Будет удалено applications/adminSite/delivery/__pycache__/
Будет удалено applications/adminSite/order/__pycache__/
Будет удалено applications/adminSite/sms_ussd/__pycache__/
Будет удалено applications/ajax/__pycache__/
Будет удалено applications/authModel/__pycache__/
Будет удалено applications/authModel/management/__pycache__/
Будет удалено applications/authModel/migrations/__pycache__/
Будет удалено applications/bitrix/__pycache__/
Будет удалено applications/bitrix/management/__pycache__/
Будет удалено applications/callback/__pycache__/
Будет удалено applications/callback/migrations/__pycache__/
Будет удалено applications/cart/__pycache__/
Будет удалено applications/cart/management/__pycache__/
Будет удалено applications/cart/management/commands/__pycache__/
Будет удалено applications/cart/migrations/0011_auto_20170805_2103.py
Будет удалено applications/cart/migrations/__pycache__/
Будет удалено applications/cart/templatetags/__pycache__/
Будет удалено applications/comment/__pycache__/
Будет удалено applications/comment/migrations/__pycache__/
Будет удалено applications/coupon/__pycache__/
Будет удалено applications/coupon/migrations/__pycache__/
Будет удалено applications/currency/__pycache__/
Будет удалено applications/currency/templatetags/__pycache__/
Будет удалено applications/delivery/__pycache__/
Будет удалено applications/delivery/management/__pycache__/
Будет удалено applications/delivery/migrations/__pycache__/
Будет удалено applications/delivery2/__pycache__/
Будет удалено applications/delivery2/migrations/__pycache__/
Будет удалено applications/discount/__pycache__/
Будет удалено applications/discount/management/__pycache__/
Будет удалено applications/discount/migrations/__pycache__/
Будет удалено applications/feedback/__pycache__/
Будет удалено applications/handlers/__pycache__/
Будет удалено applications/mycalendar/__pycache__/
Будет удалено applications/mycalendar/migrations/__pycache__/
Будет удалено applications/opinion/__pycache__/
Будет удалено applications/payment/__pycache__/
Будет удалено applications/product/__pycache__/
Будет удалено applications/product/management/__pycache__/
Будет удалено applications/product/migrations/__pycache__/
Будет удалено applications/product/templatetags/__pycache__/
Будет удалено applications/root/__pycache__/
Будет удалено applications/search/__pycache__/
Будет удалено applications/slide/__pycache__/
Будет удалено applications/slide/migrations/__pycache__/
Будет удалено applications/sms_ussd/__pycache__/
Будет удалено applications/sms_ussd/management/__pycache__/
Будет удалено applications/sms_ussd/migrations/__pycache__/
Будет удалено applications/socks/__pycache__/
Будет удалено applications/socks/migrations/__pycache__/
Будет удалено applications/static/__pycache__/
Будет удалено applications/utils/__pycache__/
Будет удалено applications/utils/captcha/__pycache__/
Будет удалено applications/utils/captcha/migrations/__pycache__/
Будет удалено applications/utils/mediafile/__pycache__/
Будет удалено applications/utils/mediafile/migrations/__pycache__/
Будет удалено applications/utils/setting/__pycache__/
Будет удалено applications/utils/setting
/migrations/__pycache__/
Будет удалено applications/utils/setting/templatetags/__pycache__/
Будет удалено applications/utils/templatetags/__pycache__/
Будет удалено applications/yandex/__pycache__/
Будет удалено applications/yml/__pycache__/
Будет удалено compat/FormSlug/__pycache__/
Будет удалено compat/ImageWithThumbs/__pycache__/
Будет удалено compat/__pycache__/
Будет удалено compat/bigint_path.save/__pycache__/
Будет удалено compat/social_auth_widget/__pycache__/
Будет удалено compat/social_auth_widget/templatetags/__pycache__/
Будет удалено proj/__pycache__/
Будет удалено proj/processor/__pycache__/
