{% extends 'root.jinja2' %}
{# {% load header_category %} #}
{% block title %}Все события начиная с сегодня{% endblock %}
{% block content_center %}
<style>
section#main div#main_center div#calendar{
    text-align:left;
    color:black;
}
p span{
    font-weight:bold;
    font-size:120%;
}
div#calendar ul{
    margin-left:20px;
    list-style-position:inside;
    list-style-type:square;
    list-style-image:none;
}
</style>
<div id="calendar">
<div id="form_selects">
    <select name="select_leading_course"
        id="select_leading_course"
        style="float:left;width:246px;">
        {% for leading_course in leadings_courses %}
            <option value="{{ leading_course.pk }}">{{ leading_course.surname }} {{ leading_course.name }}{% if leading_course.patronymic %} {{ leading_course.patronymic }}{% endif %}</option>
        {% endfor %}
    </select>
    <select name="select_subject"
        id="select_subject"
        style="float:left;width:246px;">
        {% for subject in subjects %}
            <option value="{{ subject.pk }}">{{ subject.subject }}</option>
        {% endfor %}
    </select>
    <select name="select_city"
        id="select_city"
        style="float:left;width:246px;">
        {% for city in cityes %}
            <option value="{{ city.pk }}">{{ cyty.subject }}</option>
        {% endfor %}
    </select>
</div>
<div id="form_events">
{% for event in events %}
<div id="form_event">
<p><span>Ведущий(ая) курсов:</span> {{ event.leading_course.surname }} {{ event.leading_course.name }}{% if event.leading_course.patronymic %} {{ event.leading_course.patronymic }}{% endif %}</p>
<p><span>Тема курсов:</span> {{ event.subject.subject }}</p>
<ul type="square">
{% set locations_date_time = event.location_date_time.location_date_time__gte_today() %}
{% for location_date_time in locations_date_time %}
<li><p><span>Город:</span> {{ location_date_time.city.name_ru }} <span>Дата начала:</span> {{ location_date_time.date_start }} <span>Дата окончания:</span> {{ location_date_time.date_end }}</p></li>
{% endfor %}
</ul>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
