{% extends 'root.jinja2' %}
{# {% load header_category %} #}
{% block title %}Все события начиная с сегодня{% endblock %}
{% block content_center %}
{% for event in events %}
Ведущий(ая) курсов: {{ event.leading_course.surname }} {{ event.leading_course.name }} {{ event.leading_course.patronymic }}
Тема курсов: {{ event.subject.subject }}
{% endfor %}

{% set i = 0 %}
{% for location_data_time in locations_data_time %}
{% set i = i + 1 %}

{{ i }}{{ location_data_time.date_start }}
{% endfor %}


{% endblock %}
