{% extends 'root.jinja2' %}
{# {% load header_category %} #}
{% block title %}Все события начиная с сегодня{% endblock %}
{% block content_center %}
{% for event in events %}
Ведущий(ая) курсов: {{ event.leading_course.surname }} {{ event.leading_course.name }} {{ event.leading_course.patronymic }}
Тема курсов: {{ event.subject.subject }}
{% endfor %}

{% for location_data_time in locations_data_time %}
Ведущий(ая) курсов: {{ event.leading_course.surname }} {{ event.leading_course.name }} {{ event.leading_course.patronymic }}
Тема курсов: {{ event.subject.subject }}
{% endfor %}


{% endblock %}
