{% if not current_category.parent %}
<a href="/">Home</a>&nbsp;&gt;&nbsp;
    <a href="{{ current_category.get_absolute_url }}">{{ current_category.title }}</a>
{% elif not current_category.parent.parent %}
<a href="/">Home</a>&nbsp;&gt;&nbsp;
    <a href="{{ current_category.parent.get_absolute_url }}">{{ current_category.parent.title }}</a>
    &nbsp;&gt;&nbsp;<a href="{{ current_category.get_absolute_url }}">{{ current_category.title }}</a>
{% elif not current_category.parent.parent.parent %}
<a href="/">Home</a>&nbsp;&gt;&nbsp;
    <a href="{{ current_category.parent.parent.get_absolute_url }}">{{ current_category.parent.parent.title }}</a>
    &nbsp;&gt;&nbsp;
    <a href="{{ current_category.parent.get_absolute_url }}">{{ current_category.parent.title }}</a>
    &nbsp;&gt;&nbsp;<a href="{{ current_category.get_absolute_url }}">{{ current_category.title }}</a>
{% elif not current_category.parent.parent.parent.parent %}
<a href="/">Home</a>&nbsp;&gt;&nbsp;
    <a href="{{ current_category.parent.parent.parent.get_absolute_url }}">{{ current_category.parent.parent.parent.title }}</a>
    &nbsp;&gt;&nbsp;
    <a href="{{ current_category.parent.parent.get_absolute_url }}">{{ current_category.parent.parent.title }}</a>
    &nbsp;&gt;&nbsp;
    <a href="{{ current_category.parent.get_absolute_url }}">{{ current_category.parent.title }}</a>
    &nbsp;&gt;&nbsp;<a href="{{ current_category.get_absolute_url }}">{{ current_category.title }}</a>
{% elif not current_category.parent.parent.parent.parent.parent %}
<a href="/">Home</a>&nbsp;&gt;&nbsp;
    <a href="{{ current_category.parent.parent.parent.parent.get_absolute_url }}">{{ current_category.parent.parent.parent.parent.title }}</a>
    &nbsp;&gt;&nbsp;
    <a href="{{ current_category.parent.parent.parent.get_absolute_url }}">{{ current_category.parent.parent.parent.title }}</a>
    &nbsp;&gt;&nbsp;
    <a href="{{ current_category.parent.parent.get_absolute_url }}">{{ current_category.parent.parent.title }}</a>
    &nbsp;&gt;&nbsp;
    <a href="{{ current_category.parent.get_absolute_url }}">{{ current_category.parent.title }}</a>
    &nbsp;&gt;&nbsp;<a href="{{ current_category.get_absolute_url }}">{{ current_category.title }}</a>
{% elif not current_category.parent.parent.parent.parent.parent.parent %}
<a href="/">Home</a>&nbsp;&gt;&nbsp;
    <a href="{{ current_category.parent.parent.parent.parent.parent.get_absolute_url }}">{{ current_category.parent.parent.parent.parent.parent.title }}</a>
    &nbsp;&gt;&nbsp;
    <a href="{{ current_category.parent.parent.parent.parent.get_absolute_url }}">{{ current_category.parent.parent.parent.parent.title }}</a>
    &nbsp;&gt;&nbsp;
    <a href="{{ current_category.parent.parent.parent.get_absolute_url }}">{{ current_category.parent.parent.parent.title }}</a>
    &nbsp;&gt;&nbsp;
    <a href="{{ current_category.parent.parent.get_absolute_url }}">{{ current_category.parent.parent.title }}</a>
    &nbsp;&gt;&nbsp;
    <a href="{{ current_category.parent.get_absolute_url }}">{{ current_category.parent.title }}</a>
    &nbsp;&gt;&nbsp;<a href="{{ current_category.get_absolute_url }}">{{ current_category.title }}</a>
{% elif not current_category.parent.parent.parent.parent.parent.parent.parent %}
<a href="/">Home</a>&nbsp;&gt;&nbsp;
    <a href="{{ current_category.parent.parent.parent.parent.parent.parent.get_absolute_url }}">{{ current_category.parent.parent.parent.parent.parent.parent.title }}</a>
    &nbsp;&gt;&nbsp;
    <a href="{{ current_category.parent.parent.parent.parent.parent.get_absolute_url }}">{{ current_category.parent.parent.parent.parent.parent.title }}</a>
    &nbsp;&gt;&nbsp;
    <a href="{{ current_category.parent.parent.parent.parent.get_absolute_url }}">{{ current_category.parent.parent.parent.parent.title }}</a>
    &nbsp;&gt;&nbsp;
    <a href="{{ current_category.parent.parent.parent.get_absolute_url }}">{{ current_category.parent.parent.parent.title }}</a>
    &nbsp;&gt;&nbsp;
    <a href="{{ current_category.parent.parent.get_absolute_url }}">{{ current_category.parent.parent.title }}</a>
    &nbsp;&gt;&nbsp;
    <a href="{{ current_category.parent.get_absolute_url }}">{{ current_category.parent.title }}</a>
    &nbsp;&gt;&nbsp;<a href="{{ current_category.get_absolute_url }}">{{ current_category.title }}</a>
{% endif %}