<div id="current_category">
{% if category.main_photo %}
    <figure class="current_category_img">
        <a href="{{ category.get_absolute_url() }}"
           {% if category.main_photo.meta_title %}title="{{ category.main_photo.meta_title|trim_whitespace }}"{% endif %}>
            <img src="{{ category.main_photo.photo.url_210x160 }}" {% if category.main_photo.meta_alt %}alt="{{ category.main_photo.meta_alt|trim_whitespace }}" {% endif %}border="0">
            {% if category.main_photo.sign %}<figcaption>{{ category.main_photo.sign|trim_whitespace }}</figcaption>{% endif %}
        </a>
        {% if category.item_description %}<h1>{{ category.item_description|safe }}</h1><br>{% endif %}
        {% if category.description %}{{ category.description|safe }}{% endif %}
    </figure>
{% else %}
    {% if category.item_description %}<h1>{{ category.item_description|safe }}</h1>{% endif %}
    {% if category.description %}{{ category.description|safe }}{% endif %}
{% endif %}
</div>
