{% if object_id %}
    <iframe src="{% url "email:show_iframe" pk=object_id %}" width="100%" height="640px"></iframe>

    <script type="text/javascript">
        $(document).ready(function(){
            $("td.field-image p.file-upload a").each(function(){
                $(this).html("<img src='"+$(this).attr('href') +"' style='width:128px;height:128px;' />");
            });
        });
    </script>
{% endif %}
<div>
    <ul>
        <li>#UNSUBSCRIBE_URL#: Урл ссылки для отписки</li>
        <li>#SHOW_ONLINE_URL#: Урл ссылки для просмотра сообщения на сайте</li>
        <li>#OPEN_URL#: Урл ссылки для img ТЭГА для открытия письма</li>
        <li>#GOOGLE_URL#: Урл ссылки для трэкинга по Googl'у</li>
    </ul>
</div>
