{% extends 'root.jinja2' %}
{% block title %}Все события начиная с сегодня{% endblock %}
{% block content_center %}
<style>
section#main div#main_center div#calendar{
    text-align:left;
    color:black;
}
p span{
    font-weight:bold;
    font-size:120%;
}
div#calendar ul{
    margin-left:20px;
    list-style-position:inside;
    list-style-type:square;
    list-style-image:none;
}
</style>
<div id="calendar">
<div id="form_selects">
    <select name="select_subject"
        id="select_subject"
        style="float:left;width:33%;">
            <option value="0" selected><strong>Все темы курсов</strong></option>
        {% for section in sections %}
            <option value="{{ section.pk }}">{{ section.section }}</option>
        {% endfor %}
    </select>
    <select name="select_leading_course"
        id="select_leading_course"
        style="float:left;width:33%;">
            <option value="0" selected><strong>Ведущие курсов</strong></option>
        {% for leading_course in leadings_courses %}
            <option value="{{ leading_course.pk }}">{{ leading_course.surname }} {{ leading_course.name }}{% if leading_course.patronymic %} {{ leading_course.patronymic }}{% endif %}</option>
        {% endfor %}
    </select>
    <select name="select_city"
        id="select_city"
        style="float:left;width:33%;">
            <option value="0" selected><strong>Города проведения</strong></option>
        {% for city in cityes %}
            <option value="{{ city.pk }}">{{ city.name_ru }}</option>
        {% endfor %}
    </select>
</div>
<script>
$(document).ready(function(){
    onSelect();
});
$('#select_section').change(function () {onSelect();});
$('#select_leading_course').change(function () {onSelect();});
$('#select_city').change(function () {onSelect();});
function onSelect(){
    var select_section = $('#select_section').val();
    var leading_course = $('#select_leading_course').val();
    var select_city = $('#select_city').val();

    $('#form_events').load(
        url='{# /календарь/ #}{{ url('calendar:all_ru') }}',
        data={
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'select_section': select_section,
            'leading_course': leading_course,
            'select_city': select_city
        },
        complete=function( response, status, xhr ) {
            if (status == "error") {
                var msg = "Sorry but there was an error: ";
                $("#error").html(msg + xhr.status + " " + xhr.statusText);
            }
        }
    )
}
</script>
<span class="clearFloat"></span>
<div id="form_events" style="display:inline-block;">
<!-- Include -->
</div>
</div>
{% endblock %}
