#accordion_menu a{
    text-decoration:none;
}
#accordion_menu ul,
#accordion_menu ul li{
    margin:0px;
    padding:0px;
    border:none;
    list-style:none;
}
#accordion_menu ul a{
    padding:10px 10px 10px 15px;
/*    background:DarkTurquoise;*/
    background-color:rgba(204, 157, 134, 0.5);
    text-decoration:none;
    display:block;
    color:black;
/*    border-top:1px solid DarkTurquoise;
    border-bottom:1px solid DarkTurquoise;*/
    border-top:1px solid rgba(204, 157, 134, 1);
    border-bottom:1px solid rgba(204, 157, 134, 1);
    font-size:15px;
}
#accordion_menu ul a.colored{
/*    color:Fuchsia;*/
/*    color:#fe6c66;*/
    color:#ffff00;
}
#accordion_menu ul a.bold{
    font-weight:bold;
}
#accordion_menu ul a.italic{
    font-style:italic;
}
#accordion_menu ul ul a{
    padding:10px 10px 10px 25px;
}
#accordion_menu ul a.dcjq-parent,
#accordion_menu ul a.dcjq-parent:hover{
    padding:10px 10px 10px 15px;
}
#accordion_menu ul a.dcjq-parent.active{
    background:#0D5995 url(/media/img/vertical-account-menu/checkers.png) repeat 0 0;
}
#accordion_menu ul a:hover{
    background:#05477c;
}
