{% extends 'root.jinja2' %}
{% block title %}{% if current_category is defined %}{% if current_category.meta_title %}{{ current_category.meta_title|capfirst }}{% else %}{{ current_category.title|capfirst }}{% endif %}{% else %}Магазин Кексик{% endif %}{% endblock %}
{% block description %}{% if current_category is defined %}{% if current_category.meta_description %}{{ current_category.meta_description }}{% else %}{{ current_category.description }}{% endif %}{% else %}Страница категории - Магазин Кексик{% endif %}{% endblock %}
{% block keywords %}{% if current_category is defined %}{% if current_category.meta_keywords %}{{ current_category.meta_keywords }}{% else %}{{ current_category.item_description }}{% endif %}{% else %}кондитерские товары,ингредиенты,инструменты{% endif %}{% endblock %}
{% block content_center %}
    {% if current_category is defined %}
        <div id="header_category">
            {{ header_category2(current_category)|safe }}
        </div>
        {{ this_category(current_category, request.session.width_this_category)|safe }}
        {% set categories = current_category.children.serial_number() %}{# .order_by('-created_at', 'serial_number') #}
        {% set products = current_category.products.published() %}{# .order_by('-created_at', 'serial_number') #}
    {% endif %}
    {% if categories %}
        <span class="clearFloat">
        {% if request is defined %}
            {{ many_blocks(categories, request, 'category', True)|safe }}
        {% endif %}
    {% endif %}
    {% if products %}
<script>
window.dataLayer = window.dataLayer || [];
</script>
<script>
function product_to_cart(data, product_pk, available_to_order, productArray) {
    $.post("/ajax/product_to_cart/",
            {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                product_pk: product_pk,
                available_to_order: available_to_order
            },
            function (data, textStatus, jqXHR) {
                $('#dynamic_div_showcart').html(data.html);
            },
            "json");
    window.dataLayer.push({
        "ecommerce": {
            "currencyCode": "UAH",
            "add" : {
                "products" : [ productArray ]
            }
        }
    });
    animate_cart(data);
    return false;
}
</script>
        {% if categories %}
            <br class="clearFloat">
        {% else %}
            <span class="clearFloat">
        {% endif %}
        {% if request is defined %}
            {{ many_blocks(products, request, 'product', True)|safe }}
        {% endif %}
    {% endif %}
    {% if current_category is defined and current_category.bottom_category %}
        {% if categories or products %}
            <br class="clearFloat">
        {% else %}
            <span class="clearFloat">
        {% endif %}
        <div id="bottom_category">{{ current_category.bottom_category|safe }}</div>
    {% endif %}
{% endblock %}
