{% extends 'root.jinja2.html' %}
{% block title %}{% if current_category.meta_title %}{{ current_category.meta_title|capfirst }}{% else %}{{ current_category.title|capfirst }}{% endif %}{% endblock %}
{% block description %}{{ current_category.meta_description }}{% endblock %}
{% block keywords %}{{ current_category.meta_keywords }}{% endblock %}
{% block category_header_css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/categories_products_style.css" />
{% endblock %}
{% block content_center %}
    <div id="header_categories" style="color:Black;text-align:left;">
    {{ header_category2(current_category)|safe }}
    </div>
    {{ this_category(current_category)|safe }}
    <br class="clearFloat">
    {% set categories = current_category.children.all() %}
    {% if categories %}
        {{ many_blocks(categories, request, 'category', True)|safe }}
        <br class="clearFloat">
    {% endif %}
    {% set products = current_category.products.all() %}
    {% if products %}
        {{ many_blocks(products, request, 'product', True)|safe }}
    {% endif %}
{% endblock %}
