{% extends 'root.jinja2.html' %}
{% block title %}{{ current_category.title }}{% endblock %}
{% block content -%}
    {{ header_category(current_category) }}
    {% if current_category.children.all() %}
    <br>
        <p>Под категории в этой категории</p>
        {% for category in current_category.children.all() %}
            <a href="{{ category.get_absolute_url() }}">{{ category.title }}</a>
        {% endfor %}
    {% else %}
        <br>
        <p>Подкатегории в этой категории отсутсвуют</p>
    {% endif %}
    {% if current_category.products.all() %}
    <br>
        <p>Продукты в этой категории</p>
        {% for product in current_category.products.all() %}
            <a href="{{ product.get_absolute_url() }}">{{ product.title }}</a>
        {% endfor %}
    {% else %}
        <br>
        <p>Продукты в этой категории отсутсвуют</p>
    {% endif %}
{%- endblock %}
