{% extends 'root.jinja2.html' %}
{% block title %}Категории верхнего уровня интернет магазина Кексик.{% endblock %}
{% block description %}Гельевые краски,сахарная бумага,рисовая бумага,кандурин,ингриенты для мастики и тортов.Печать фотографий на сахарной бумаге.Силиконовые молды.Мастика для тортов.{% endblock %}
{% block keywords %}упаковка,пищевые красители,кондитерская мастика,маты,ганаж,кондитерские краски,молды,вайнеры,катеры,резаки{% endblock %}
{% block content_center %}
<p class="center_title"><h1>Главные категории интернет магазина Кексик</h1></p>
    {{ many_blocks(basement_categories, request, 'category', False)|safe }}
{% endblock %}
