{% extends 'root.jinja2.html' %}
{% block title %}{% if current_category is defined %}{% if current_category.meta_title %}{{ current_category.meta_title|capfirst }}{% else %}{{ current_category.title|capfirst }}{% endif %}{% else %}Страница поиска - магазина Кексик.{% endif %}{% endblock %}
{% block description %}{% if current_category is defined %}{{ current_category.meta_description }}{% else %}Страница поиска товаров и категорий.{% endif %}{% endblock %}
{% block keywords %}{% if current_category is defined %}{{ current_category.meta_keywords }}{% else %}товары,ингридиенты,инструменты{% endif %}{% endblock %}
{% block category_header_css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/categories_products_style.css" />
{% endblock %}
{% block content_center %}
    {% if current_category is defined %}
        <div id="header_categories" style="color:Black;text-align:left;">
            {{ header_category2(current_category)|safe }}
        </div>
        {{ this_category(current_category, request.session.width_this_category)|safe }}
    {% endif %}
    {% if current_category is defined %}
        {% set categories = current_category.children.all() %}{# .order_by('-created_at', 'serial_number') #}
    {% endif %}
    {% if categories %}
        <br class="clearFloat">
        {% if request is defined %}
            {{ many_blocks(categories, request, 'category', True)|safe }}
        {% endif %}
    {% endif %}
    {% if current_category is defined %}
        {% set products = current_category.products.all() %}{# .order_by('-created_at', 'serial_number') #}
    {% endif %}
    {% if products %}
        <br class="clearFloat">
        {% if request is defined %}
            {{ many_blocks(products, request, 'product', True)|safe }}
        {% endif %}
    {% endif %}
{% endblock %}
