{% if cart %}
    <form method="POST" action="{{ form1_action }}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
        <input type="hidden" name="POST_NAME" value="recalc_cart"/>
        <table id="table_carts" cols="6" summary="Ваша корзина">
            <caption style="font-size:20px;">Ваша корзина</caption>
            <thead>
                <tr>
                    <th scope="col" style="border-width:0px 0px 1px 0px;border-color:Black;border-style:solid;">Наименование</th>
                    <th scope="col" style="width:95px;text-align:center;border-width:0px 1px 1px 1px;border-color:Black;border-style:solid;">Цена</th>
                    <th scope="col" style="width:73px;text-align:center;border-width:0px 0px 1px 0px;border-color:Black;border-style:solid;">Кол-во</th>
                    <th scope="col" style="width:110px;text-align:center;border-width:0px 1px 1px 1px;border-color:Black;border-style:solid;">Итого</th>
                    <th scope="col" style="width:110px;text-align:center;border-width:0px 1px 1px 1px;border-color:Black;border-style:solid;">Сумма предоплаты</th>
                    {# <th scope="col" style="text-align:center;">Под заказ</th> #}
                    <th scope="col" style="text-align:center;border-width:0px 0px 1px 0px;border-color:Black;border-style:solid;">Удаление</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
<script>
{% if coupon %}
    var percentage_discount_coupon = {{ coupon.percentage_discount }};
{% else %}
    var percentage_discount_coupon = 0;
{% endif %}
var product_sum_of_quantity_in_order_array = new Array();
var product_sum_of_quantity_for_pay_array = new Array();

function CheckNumber(String){
	var Letters = ".,1234567890";
	var i;
	var c;
	for(i = 0; i < String.length; i ++){
		c = String.charAt( i );
		if (Letters.indexOf( c ) == -1){
			return true;
		}
	}
	return false;
}
</script>
                    {% for product in cart.products %}
                    {% set real_product=product.product %}
<script>
var price_qty_array_{{ product.pk }} = new Array();
var price_array_in_order_{{ product.pk }} = new Array();
var price_array_for_pay_{{ product.pk }} = new Array();
price_qty_array_{{ product.pk }}[0]=1;
price_array_in_order_{{ product.pk }}[0]={{ real_product.get_price(request, price=None, calc_or_show='show') }};
price_array_for_pay_{{ product.pk }}[0]={{ real_product.get_price(request, price=None, calc_or_show='calc') }};
price_qty_array_{{ product.pk }}[1]=999;
price_array_in_order_{{ product.pk }}[1]={{ real_product.get_price(request, price=None, calc_or_show='show') }};
price_array_for_pay_{{ product.pk }}[1]={{ real_product.get_price(request, price=None, calc_or_show='calc') }};
function Calculate_{{ product.pk }}(operation){
	var Qut=document.getElementById("quantity1_{{ product.pk }}").value;
	$("#errorMsg").html('');
	if(CheckNumber(Qut)){
		$("#errorMsg").html('Количество вводится цифрами!!!.');
		return false;
	}
	Qut=parseFloat(Qut);
	var minimal_quantity={{ real_product.minimal_quantity }};
	var quantity_of_complete={{ real_product.quantity_of_complete }};
    if(isNaN(Qut)){Qut=minimal_quantity};
	if(operation=='+'){Qut+=quantity_of_complete};
	if(operation=='-'){Qut-=quantity_of_complete};
	var intermediate_result=Qut-minimal_quantity;
	var result=intermediate_result%quantity_of_complete;
	if(result!=0&&intermediate_result!=0){
		result=Math.ceil(intermediate_result/quantity_of_complete);
		Qut=(result*quantity_of_complete)+minimal_quantity;
	}
	if(Qut<{{ real_product.minimal_quantity }}){
		Qut=minimal_quantity;
	}
	if(Qut>999){
        Qut=999;
	}
	$("#quantity1_{{ product.pk }}").val(Qut);
	$("#quantity2_{{ product.pk }}").val(Qut);
	$.each(price_qty_array_{{ product.pk }},function(i,val){
		if(val<=Qut&&Qut<price_qty_array_{{ product.pk }}[eval(i+1)]){
			var total=price_array_in_order_{{ product.pk }}[i]/{{ real_product.price_of_quantity }}*Qut;
			$("#sum_of_quantity_in_order_{{ product.pk }}").html(total.toFixed(2)+' {{ get_currency(request) }}');
			product_sum_of_quantity_in_order_array[{{ product.pk }}]=total.toFixed(2);
			var total=price_array_for_pay_{{ product.pk }}[i]/{{ real_product.price_of_quantity }}*Qut;
			$("#sum_of_quantity_for_pay_{{ product.pk }}").html(total.toFixed(2)+' {{ get_currency(request) }}');
			product_sum_of_quantity_for_pay_array[{{ product.pk }}]=total.toFixed(2);
		}
	});
	ReCalcSum(true);
    return true;
}
function onChange_{{ product.pk }}(){
	window.setInterval("Calculate_{{ product.pk }}('|')",5000);
	//setTimeout(calculate(value),1500);
	return true;
}
</script>
                    <tr{% if real_product.check_product_availability()[0] != 1 %} class="lime"{% endif %}>
                        <td>
                            <input name="product_in_request_{{ product.pk }}"
                                   value="{{ product.pk }}"
                                   type="hidden">
                            <a href="{{ real_product.get_absolute_url() }}"{% if real_product.check_product_availability()[0] != 1 %} class="lime"{% endif %}>{{ real_product.title }}</a>
                        </td>
                        <td style="width:95px;text-align:center;border-width:0px 1px;border-color:Black;border-style:solid;"><p id="product_price_{{ product.pk }}">{{ real_product.get_price(request, None, 'show') }} {{ get_currency(request) }}</p></td>
                        <td style="padding:0px;">
                            <li style="float:left;list-style-type:none;line-height:22px;">
                                <a href="javascript:void(0)">
                                    <img src="/media/img/minus.gif"
                                        onClick="Calculate_{{ product.pk }}('-')">
                                </a>
                            </li>
                            <li style="float:left;list-style-type:none;line-height:22px;">
                                <input id="quantity1_{{ product.pk }}"
                                       style="border:1px solid #CCCCCC;text-align:center;width:25px;padding:2px;"
                                       name="quantity_{{ product.pk }}" value="{{ product.quantity }}"
                                       onKeyUp="onChange_{{ product.pk }}();"
                                       type="text">
                            </li>
                            <li style="float:left;list-style-type:none;line-height:22px;">
                                <a href="javascript:void(0)">
                                    <img src="/media/img/plus.gif"
                                        onClick="Calculate_{{ product.pk }}('+')">
                                </a>
                            </li>
                        </td>
                        <td style="width:110px;text-align:center;border-width:0px 1px;border-color:Black;border-style:solid;"><p id="sum_of_quantity_in_order_{{ product.pk }}">{{ product.sum_of_quantity(request, calc_or_show='show') }} {{ get_currency(request) }}</p></td>
                        <td style="width:110px;text-align:center;border-width:0px 1px;border-color:Black;border-style:solid;"><p id="sum_of_quantity_for_pay_{{ product.pk }}">{{ product.sum_of_quantity(request, calc_or_show='calc') }} {{ get_currency(request) }}</p></td>
<script>
product_sum_of_quantity_in_order_array[{{ product.pk }}]={{ product.sum_of_quantity(request, calc_or_show='show') }};
product_sum_of_quantity_for_pay_array[{{ product.pk }}]={{ product.sum_of_quantity(request, calc_or_show='calc') }};
</script>
                        <td style="text-align:center;">
                            <input id="delete1_{{ product.pk }}"
                                   name="delete_{{ product.pk }}"
                                   title="Для удаления товара, нажмите кнопку перечитать корзину."
                                   type="checkbox">
                        </td>
                        <td>{{ real_product.check_product_availability(product_cart='cart')[1]|safe }}</td>
                    </tr>
                {% endfor %}
            </tbody>
<style>
div#show_cart form p{
margin-bottom:10px;
}
tr#tr_minimal_sum_order{
height:34px;
}
.blink1{
-webkit-animation:blink1 3s linear infinite;
animation:blink1 3s linear infinite;
}
@-webkit-keyframes blink1{
{# Нужно изменить цвета #}
0%{color:rgba(255, 16, 16, 1);}
50%{color:rgba(255, 32, 32, 0);}
100%{color:rgba(255, 64, 64, 1);}
}
@keyframes blink1{
0%{color:rgba(255, 16, 16, 1);}
50%{color:rgba(255, 32, 32, 0);}
100%{color:rgba(255, 64, 64, 1);}
}
</style>
            <tfoot>
                {% if coupon %}<tr>
                    <th colspan="3"
                        style="text-align:right;">Купон с дисконтом {{ coupon.percentage_discount }}% - скидка:</th>
                    <th colspan="1"
                        id="all_sum_discount_in_order"
                        style="text-align:center;color:Red;font-size:18px;border-width:0px 1px;border-color:Black;border-style:solid;"></th>
                    <th colspan="1" style="border-width:0px 1px;border-color:Black;border-style:solid;"></th>
                    <th colspan="1"></th>
                </tr>{% endif %}
                <tr id="all_sum">
                    <th colspan="3"
                        style="text-align:right;">{% if coupon %}Сумма заказа c учетом скидки:{% else %}Сумма заказа:{% endif %}</th>
                    <th colspan="1"
                        id="all_sum_of_quantity_in_order"
                        style="text-align:center;color:Red;font-size:18px;border-width:0px 1px;border-color:Black;border-style:solid;"></th>
                    <th colspan="1" style="border-width:0px 1px;border-color:Black;border-style:solid;"></th>
                    <th colspan="1"></th>
                </tr>
                <tr>
                    <th colspan="4"
                        style="text-align:right;">{% if coupon %}Сумма предоплаты с учетом скидки:{% else %}Сумма предоплаты:{% endif %}</th>
                    <th colspan="1"
                        id="all_sum_of_quantity_for_pay"
                        style="text-align:center;color:Red;font-size:18px;border-width:0px 1px;border-color:Black;border-style:solid;"></th>
                    <th colspan="1"></th>
                </tr>
                <tr id="tr_minimal_sum_order">
                    <th colspan="4">
                        <p class="blink1" id="minimal_sum_order">Минимальная сумма заказа {{ 100|convert_currency(request) }} {{ get_currency(request) }}</p>
                    </th>
                </tr>
            </tfoot>
<script>
function ReCalcSum(change){
    var sum_in_order=0;
	$.each(product_sum_of_quantity_in_order_array,function(i){
        var val=parseFloat(product_sum_of_quantity_in_order_array[i]);
        if(0<=val&&val<=999999){
            sum_in_order+=val;
        }
    });
    var sum_for_pay=0;
	$.each(product_sum_of_quantity_for_pay_array,function(i){
        var val=parseFloat(product_sum_of_quantity_for_pay_array[i]);
        if(0<=val&&val<=999999){
            sum_for_pay+=val;
        }
    });
    if(percentage_discount_coupon!=0){
        var sum_discount_coupon = sum_in_order / 100 * percentage_discount_coupon;
        sum_in_order = sum_in_order - sum_discount_coupon;
        sum_for_pay = sum_for_pay - sum_for_pay/100*percentage_discount_coupon;
    }
    if(change==true){
        $("#all_sum_discount_in_order").html('-'+sum_discount_coupon.toFixed(2)+' <span class="Black">{{ get_currency(request) }}</span>');
        $("#all_sum_of_quantity_in_order").html(sum_in_order.toFixed(2)+' <span class="Black">{{ get_currency(request) }}</span>');
        $("#all_sum_of_quantity_for_pay").html(sum_for_pay.toFixed(2)+' <span class="Black">{{ get_currency(request) }}</span>');
    }
    var minimal_sum_order=document.getElementById('minimal_sum_order');
    if(parseInt(sum_in_order)<={{ 100|convert_currency(request) }}){
{# Делаем кнопку НЕ активной и убираем мигание на кнопке заказа #}
        $("#order_cart_input").prop("disabled",true).removeClass("blink1");
{# Показываем надпись "Минимальная сумма заказа" #}
        minimal_sum_order.style.display='block';}
    else{
{# Делаем кнопку активной и добавляем мигание на кнопке заказа #}
        $("#order_cart_input").prop("disabled",false).addClass("blink1");
{# Убираем надпись "Минимальная сумма заказа" #}
        minimal_sum_order.style.display='none';}
}

$(document).ready(ReCalcSum(true));
</script>
        </table>
        <input style="float:left;list-style-type:none;line-height:24px;margin-right:5px;"
               type="submit"
               value="Пересчитать корзину"/>
    </form>
    <form method="POST" action="{{ form2_action }}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
        <input type="hidden" name="POST_NAME" value="order_cart"/>
        {% for product in cart.products %}
            <input name="product_in_request_{{ product.pk }}"
                   value="{{ product.pk }}"
                   type="hidden">
            <input id="quantity2_{{ product.pk }}"
                   name="quantity_{{ product.pk }}" value="{{ product.quantity }}"
                   type="hidden">
            <input id="delete2_{{ product.pk }}"
                   name="delete_{{ product.pk }}"
                   {# checked="" #}
                   type="hidden">
        {% endfor %}
        <input class="blink1"
               style="float:left;list-style-type:none;line-height:24px;margin-right:5px;font-weight:bold;"
               id="order_cart_input"
               type="submit"
               value="Оформить заказ">
        <a style="float:left;list-style-type:none;line-height:32px;margin-right:5px;"
           href="/"
           title="Вернуться к покупкам">Продолжить покупки &gt;&gt;</a>
    </form>
{% else %}
    <p>Ваша корзина пуста<br>
    <a href="/" title="Вернуться к покупкам">Продолжить покупки >></a></p>
{% endif %}