<table>
{% if request.user.is_authenticated and request.user.is_staff %}
    <tr>
        <td id="first_column">
            <select name="select_delivery_company"
                    id="select_delivery_company"
                    required=""
                    style="float:left;width:240px;">
                {% if not select_delivery_company or select_delivery_company == '1000' %}
                    <option value="1000"
                        selected=""
                        disabled="disabled">Транспортная компания
                    </option>
                {% endif %}
                {% for delivery_company in delivery_companies_list %}
                    {% if select_delivery_company == delivery_company.select_number and select_delivery_company != 1000 %}
                        <option value="{{ delivery_company.select_number }}"
                                selected="">
                            <strong>{{ delivery_company.select_string_ru }}</strong>
                        </option>
                    {% else %}
                        <option value="{{ delivery_company.select_number }}">
                            {{ delivery_company.select_string_ru }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        </td>
        <td>
            <label for="select_delivery_company">Транспортная компания</label>
        </td>
        <td></td>
    </tr>
{% endif %}
    <tr>
        <td id="first_column">
            <input type="text" name="region" id="region" required>
        </td>
        <td>
            <label for="region">Область</label>
        </td>
        <td></td>
    </tr>
    <tr>
        <td id="first_column">
            <input type="text" name="settlement" id="settlement" required>
        </td>
        <td>
            <label for="settlement">Город (населённый пункт)</label>
        </td>
        <td></td>
    </tr>
    <tr>
        <td id="first_column">
            <input type="number" name="warehouse_number" id="warehouse_number" required>
        </td>
        <td>
            <label for="warehouse_number">Номер склада "Новой почты"</label>
        </td>
        <td></td>
    </tr>
</table>