{# language: jinja2 #}
<!DOCTYPE html>
<html lang="ru">
<head>
<title>Страница добавления/редактирования рассылки.</title>
<meta charset="UTF-8">
<script src="{{ MEDIA_URL }}js/jquery/jquery-1.9.1.min.js"></script>
<script src="{{ MEDIA_URL }}bootstrap/js/bootstrap.js"></script>
<link href="{{ MEDIA_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div id="show_delivery" style="color:Black;text-align:left;" class="container-fluid">
{# {1{ form.non_field_errors() }} #}
        <form action="{% if delivery %}{{ url('admin_delivery:edit', delivery_id=delivery.get_url_number) }}{% else %}{{ url('admin_delivery:add') }}{% endif %}"
              class="form-horizontal row"
              enctype="multipart/form-data"
              method="POST"
              role="form">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="POST_NAME" value="add_edit">
            <div{#  class="row" #}
                 id="parent">
                {% if delivery %}
                <div class="form-group">
                    <label for="delivery_pk"
                            class="col-md-4 control-label">№ Рассылки:</label>
                    <div class="col-md-6">
                        <input type="text"
                               name="delivery_pk"
                               id="delivery_pk"
                               class="form-control"
                               value="{{ delivery.pk }}" readonly>
                    </div>
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="delivery_name"
                            class="col-md-4 control-label">Наименование рассылки:</label>
                    {# {1{ form.name.errors }} #}
                    <div class="col-md-6">
                        <input type="text"
                               name="name"
                               id="delivery_name"
                               class="form-control"
                               {% if delivery %}value="{{ delivery.name }}"{% endif %}>
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_test"
                            class="col-md-4 control-label">Тестовая рассылка:</label>
                    {# {1{ form.delivery.errors }} #}
                    <div class="col-md-1">
                        <select name="test"
                                class="form-control">
<style>
option:hover,
option:focus,
option:active{
    background:linear-gradient(#5A2569, #5A2569);
}
option:checked{
    font-weight:bolder;
}
</style>
                            {% if not delivery or delivery.delivery_test %}
                            <option value="1" selected><strong>Да</strong></option>
                            <option value="0">Нет</option>
                            {% else %}
                            <option value="1">Да</option>
                            <option value="0" selected><strong>Нет</strong></option>
                            {% endif %}
                        </select>
                        {# <input type="text"
                               name="test"
                               id="delivery_test"
                               class="form-control"
                               {% if delivery %}value="{{ delivery.delivery_test }}{% endif %}"> #}
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_send_test"
                            class="col-md-4 control-label">Тестовая рассылка отослана:</label>
                    <div class="col-md-1">
                        <select name="send_test"
                                class="form-control">
                            {% if not delivery or delivery.send_test %}
                            <option value="1" selected><strong>Да</strong></option>
                            <option value="0">Нет</option>
                            {% else %}
                            <option value="1">Да</option>
                            <option value="0" selected><strong>Нет</strong></option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_send_spam"
                            class="col-md-4 control-label">SPAM рассылка отослана:</label>
                    <div class="col-md-1">
                        <select name="send_spam"
                                class="form-control">
                            {% if not delivery or delivery.send_spam %}
                            <option value="1" selected><strong>Да</strong></option>
                            <option value="0">Нет</option>
                            {% else %}
                            <option value="1">Да</option>
                            <option value="0" selected><strong>Нет</strong></option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_send_general"
                            class="col-md-4 control-label">Главная рассылка отослана:</label>
                    <div class="col-md-1">
                        <select name="send_general"
                                class="form-control">
                            {% if not delivery or delivery.send_general %}
                            <option value="1" selected><strong>Да</strong></option>
                            <option value="0">Нет</option>
                            {% else %}
                            <option value="1">Да</option>
                            <option value="0" selected><strong>Нет</strong></option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_type"
                            class="col-md-4 control-label">Тип рассылки:</label>
                    {# {1{ form.delivery.errors }} #}
                    <div class="col-md-3">
                        <select name="type"
                                class="form-control">
                            {% for type in type_mailings %}
                            <option value="{{ type[0] }}"{% if delivery.type == type[0] %} selected{% endif %}>{{ type[1] }}</option>
                            {% endfor %}
                        </select>
                        {# <input type="text"
                               name="type"
                               id="delivery_type"
                               class="form-control"
                               {% if delivery %}value="{{ delivery.type }}{% endif %}"> #}
                    </div>
                </div>
{% if not delivery %}{% set subjects = (1, 2, 3, ) %}
{% else %}{% set subjects = delivery.subjects %}
{% endif %}
{% if subjects|length < 1 %}{% set subjects = (1, 2, 3, ) %}{% endif %}
                {% set i = 0 %}
                {% for subject in subjects %}
                    {% set i = i + 1 %}
                    <div class="form-group"
                            id="subject_{{ i }}">
                        <input type="hidden"
                               id="subject_pk"
                               name="subject_pk_{{ i }}"
                                value="{% if subject.pk %}{{ subject.pk }}{% else %}0{% endif %}">
                        {% if subject.pk %}
                        <label for="subject_delete"
                                class="col-md-1 control-label">Удалить:</label>
                        <div class="col-md-1">
                            <input type="checkbox"
                                   id="subject_delete"
                                   name="subject_delete_{{ i }}"
                                   class="form-control">
                        </div>
                        {% endif %}
                        <label for="subject_subject"
                                class="{% if delivery %}col-md-1{% else %}col-md-3{% endif %} control-label">Тема письма:</label>
                        <div class="col-md-6">
                            <input type="text"
                                   id="subject_subject"
                                   name="subject_subject_{{ i }}"
                                   class="form-control"
                                   value="{% if subject.subject %}{{ subject.subject }}{% endif %}">
                        </div>
                        <label for="subject_chance"
                                class="col-md-1">Шанс темы:</label>
                        <div class="col-md-1">
                            <input type="number"
                                   id="subject_chance"
                                   name="subject_chance_{{ i }}"
                                   class="form-control"
                                   value="{% if subject.chance %}{{ subject.chance }}{% else %}1{% endif %}">
                        </div>
                    </div>
                {% endfor %}
                <div id="subject_button"
                     class="form-group col-md-12" style="text-align:center;">
                    <button type="button" id="form-control-add-subject-button">Add field for Subject</button>
                </div>
<script>
document.getElementById('form-control-add-subject-button').onclick = function(){
    var i = 0;
    for(;;){
        if(!document.getElementById('subject_' + ++i)){
            break;
        }
    }
    i--;
    if(i==0){
        i++;
    }
    var div_subject_button = document.getElementById("subject_button");
    var div_parent = document.getElementById("parent");
{# div #}
    var div = document.createElement("div");
    div.setAttribute("id", "subject_" + ++i);
    div.setAttribute("class", "form-group");
{# input hidden pk #}
    var input_hidden_pk = document.createElement("input");
    input_hidden_pk.setAttribute("type", "hidden");
    input_hidden_pk.setAttribute("id", "subject_pk");
    input_hidden_pk.setAttribute("name", "subject_pk_" + i);
    input_hidden_pk.setAttribute("value", "0");
    div.appendChild(input_hidden_pk);
{# Subject Label #}
    var label_subject = document.createElement("label");
    label_subject.setAttribute("for", "subject_subject");
    label_subject.setAttribute("class", "col-md-3 control-label");
    label_subject.innerHTML = "Тема письма:";
    div.appendChild(label_subject);
{# Subject Div #}
    var div_subject = document.createElement("div");
    div_subject.setAttribute("class", "col-md-6");
{# Subject Input #}
    var input_subject = document.createElement("input");
    input_subject.setAttribute("type", "text");
    input_subject.setAttribute("id", "subject_subject");
    input_subject.setAttribute("name", "subject_subject_" + i);
    input_subject.setAttribute("class", "form-control");
    div_subject.appendChild(input_subject);
    div.appendChild(div_subject);
{# Suject Chance Label #}
    var label_chance = document.createElement("label");
    label_chance.setAttribute("for", "subject_chance");
    label_chance.setAttribute("class", "col-md-1");
    label_chance.innerHTML = "Шанс темы:";
    div.appendChild(label_chance);
{# Suject Chance Div #}
    var div_chance = document.createElement("div");
    div_chance.setAttribute("class", "col-md-1");
{# Suject Chance Input #}
    var input_chance = document.createElement("input");
    input_chance.setAttribute("type", "number");
    input_chance.setAttribute("id", "subject_chance");
    input_chance.setAttribute("class", "form-control");
    input_chance.setAttribute("name", "subject_chance_" + i);
    input_chance.setAttribute("value", 1);
    div_chance.appendChild(input_chance);
    div.appendChild(div_chance);

    div_parent.insertBefore(div, div_subject_button);
}
</script>

<!--                <div class="form-group">
                    <label for="delivery_html"
                            class="col-md-4 control-label">Html:</label>
                    {# {1{ form.key.errors }} #}
                    <div class="col-md-6">
<style>
#div_editor_delivery_html{
    /** Setting height is also important, otherwise editor wont showup**/
    height: 275px;
}
</style>
                        <div id="div_editor_delivery_html">{1% if delivery %}{1{ delivery.html }}{1% endif %}</div>
                        <textarea type="text"
                               name="html"
                               id="textarea_editor_delivery_html"
                               class="form-control"
                               style="visibility:hidden;display:none;">
                               {# {% elif form is defined %}{{ form.html.value() }} #}
                        </textarea>
<script src="{1{ MEDIA_URL }}js/ace/ace.js"></script>
<script src="{1{ MEDIA_URL }}js/ace/theme-twilight.js"></script>
<script src="{1{ MEDIA_URL }}js/ace/mode-html.js"></script>
<script>
window.onload=function(){
var textarea=$('#textarea_editor_delivery_html');

var editor=ace.edit("div_editor_delivery_html");
editor.setTheme("ace/theme/twilight");
editor.getSession().setMode("ace/mode/html");

//editor.getSession().setValue(textarea.getSession().getValue());

editor.getSession().on('change', function () {
    textarea.val(editor.getSession().getValue());
});

textarea.val(editor.getSession().getValue());

};
</script>
                    </div>
                </div>
-->
<!--                <div class="form-group">
                    <label for="delivery_html"
                            class="col-md-4 control-label">Html:</label>
                    <div class="col-md-6">
                        <div id="div_editor_delivery_html">{1% if delivery %}{1{ delivery.html }}{1% endif %}</div>
                        <textarea type="text"
                               name="html"
                               id="textarea_tinymce_editor_delivery_html"
                               class="form-control"
                               style="visibility:hidden;display:none;">
                        </textarea>
<script src='https://cdn.tinymce.com/4/tinymce.min.js'></script>

<script>
window.onload=function(){
    tinymce.init({
        selector: '#textarea_tinymce_editor_delivery_html'
    });
}
</script>
                    </div>
                </div>-->


<script src='https://cdn.tinymce.com/4/tinymce.min.js'></script>
{% if not delivery %}{% set bodies = (1, 2, 3, ) %}
{% else %}{% set bodies = delivery.bodies %}
{% endif %}
{% if bodies|length < 1 %}{% set bodies = (1, 2, 3, ) %}{% endif %}
                {% set i = 0 %}
                {% for body in bodies %}
                    {% set i = i + 1 %}
<script>
tinymce.init({selector:'textarea#body_html_{{ i }}'});
</script>
                    <div class="form-group"
                            id="body_{{ i }}">
                        <input type="hidden"
                               id="body_pk"
                               name="body_pk_{{ i }}"
                                value="{% if body.pk %}{{ body.pk }}{% else %}0{% endif %}">
                        {% if body.pk %}
                        <label for="body_delete"
                                class="col-md-1 control-label">Удалить:</label>
                        <div class="col-md-1">
                            <input type="checkbox"
                                   id="body_delete"
                                   name="body_delete_{{ i }}"
                                   class="form-control">
                        </div>
                        {% endif %}
                        <label for="body_html"
                                class="{% if delivery %}col-md-1{% else %}col-md-3{% endif %} control-label">Тело письма:</label>
                        <div class="col-md-6">
                            <textarea id="body_html_{{ i }}"
                                   name="body_html_{{ i }}"
                                   class="form-control">{% if body.html %}{{ body.html }}{% endif %}
                            </textarea>
                        </div>
                        <label for="body_chance"
                                class="col-md-1">Шанс тела:</label>
                        <div class="col-md-1">
                            <input type="number"
                                   id="body_chance_{{ i }}"
                                   name="body_chance_{{ i }}"
                                   class="form-control"
                                   value="{% if body.chance %}{{ body.chance }}{% else %}1{% endif %}">
                        </div>
                    </div>
                {% endfor %}
                <div id="body_button"
                     class="form-group col-md-12" style="text-align:center;">
                    <button type="button" id="form-control-add-body-button">Add field for Body</button>
                </div>
<script>
document.getElementById('form-control-add-body-button').onclick = function(){
    var i = 0;
    for(;;){
        if(!document.getElementById('body_' + ++i)){
            break;
        }
    }
    i--;
    if(i==0){
        i++;
    }
    var div_body_button = document.getElementById("body_button");
    var div_parent = document.getElementById("parent");
{# div #}
    var div = document.createElement("div");
    div.setAttribute("id", "body_" + ++i);
    div.setAttribute("class", "form-group");
{# input hidden pk #}
    var input_hidden_pk = document.createElement("input");
    input_hidden_pk.setAttribute("type", "hidden");
    input_hidden_pk.setAttribute("id", "body_pk");
    input_hidden_pk.setAttribute("name", "body_pk_" + i);
    input_hidden_pk.setAttribute("value", "0");
    div.appendChild(input_hidden_pk);
{# Subject Label #}
    var label_body = document.createElement("label");
    label_body.setAttribute("for", "body_html_" + i);
    label_body.setAttribute("class", "col-md-3 control-label");
    label_body.innerHTML = "Тело письма:";
    div.appendChild(label_body);
{# Subject Div #}
    var div_body = document.createElement("div");
    div_body.setAttribute("class", "col-md-6");
{# Subject Input #}
    var input_body = document.createElement("input");
    input_body.setAttribute("type", "text");
    input_body.setAttribute("id", "body_html_" + i);
    input_body.setAttribute("name", "body_html_" + i);
    input_body.setAttribute("class", "form-control");
    div_body.appendChild(input_body);
    div.appendChild(div_body);
{# Suject Chance Label #}
    var label_chance = document.createElement("label");
    label_chance.setAttribute("for", "body_chance");
    label_chance.setAttribute("class", "col-md-1");
    label_chance.innerHTML = "Шанс тела:";
    div.appendChild(label_chance);
{# Suject Chance Div #}
    var div_chance = document.createElement("div");
    div_chance.setAttribute("class", "col-md-1");
{# Suject Chance Input #}
    var input_chance = document.createElement("input");
    input_chance.setAttribute("type", "number");
    input_chance.setAttribute("id", "body_chance");
    input_chance.setAttribute("class", "form-control");
    input_chance.setAttribute("name", "body_chance_" + i);
    input_chance.setAttribute("value", 1);
    div_chance.appendChild(input_chance);
    div.appendChild(div_chance);

    div_parent.insertBefore(div, div_body_button);
    alert(i);
    tinymce.init({selector:'textarea#body_html_' + i});
}
</script>


{% if not delivery %}{% set urls = (1, 2, 3, ) %}
{% else %}{% set urls = delivery.urls %}
{% endif %}
{% if urls|length < 1 %}{% set urls = (1, 2, 3, ) %}{% endif %}
                {% set i = 0 %}
                {% for url in urls %}
                    {% set i = i + 1 %}
                    <div class="form-group"
                            id="url_{{ i }}">
                        <input type="hidden"
                               id="url_pk"
                               name="url_pk_{{ i }}"
                                value="{% if url.pk %}{{ url.pk }}{% else %}0{% endif %}">
                        {% if url.pk %}
                        <label for="url_delete"
                                class="col-md-1 control-label">Удалить:</label>
                        <div class="col-md-1">
                            <input type="checkbox"
                                   id="url_delete"
                                   name="url_delete_{{ i }}"
                                   class="form-control">
                        </div>
                        {% endif %}
                        <label for="url_id"
                                class="{% if delivery %}col-md-1{% else %}col-md-3{% endif %} control-label">Url ID:</label>
                        <div class="col-md-1">
                            <input type="number"
                                   id="url_id"
                                   name="url_id_{{ i }}"
                                   class="form-control"
                                   value="{% if url.url_id %}{{ url.url_id }}{% else %}{{ i }}{% endif %}">
                        </div>
                        <label for="url_href"
                                class="col-md-1">Url:</label>
                        <div class="col-md-2">
                            <input type="text"
                                   id="url_href"
                                   name="url_href_{{ i }}"
                                   class="form-control"
                                   value="{% if url.href %}{{ url.href }}{% else %}http://keksik.com.ua/{% endif %}">
                        </div>
                        <label for="url_str"
                                class="col-md-1">Url строка:</label>
                        <div class="col-md-2">
                            <input type="text"
                                   id="url_str"
                                   name="url_str_{{ i }}"
                                   class="form-control"
                                   value="{% if url.str %}{{ url.str }}{% else %}http://keksik.com.ua/{% endif %}">
                        </div>
                        <label for="url_title"
                                class="col-md-1">Url title:</label>
                        <div class="col-md-2">
                            <input type="text"
                                   id="url_title"
                                   name="url_title_{{ i }}"
                                   class="form-control"
                                   value="{% if url.title %}{{ url.title }}{% else %}http://keksik.com.ua/{% endif %}">
                        </div>
                    </div>
                {% endfor %}
                <div id="url_button"
                     class="form-group col-md-12" style="text-align:center;">
                    <button type="button" id="form-control-add-url-button">Add field for Url</button>
                </div>
<script>
document.getElementById('form-control-add-url-button').onclick = function(){
    var i = 0;
    for(;;){
        if(!document.getElementById('url_' + ++i)){
            break;
        }
    }
    i--;
    if(i==0){
        i++;
    }
    var div_url_button = document.getElementById("url_button");
    var div_parent = document.getElementById("parent");
{# div #}
    var div = document.createElement("div");
    div.setAttribute("id", "url_" + ++i);
    div.setAttribute("class", "form-group");
{# input hidden pk #}
    var input_hidden_pk = document.createElement("input");
    input_hidden_pk.setAttribute("type", "hidden");
    input_hidden_pk.setAttribute("id", "url_pk");
    input_hidden_pk.setAttribute("name", "url_pk_" + i);
    input_hidden_pk.setAttribute("value", "0");
    div.appendChild(input_hidden_pk);

{# Url Url_id Label #}
    var label_url_id = document.createElement("label");
    label_url_id.setAttribute("for", "url_id");
    label_url_id.setAttribute("class", "col-md-3 control-label");
    label_url_id.innerHTML = "Url ID:";
    div.appendChild(label_url_id);
{# Url_id Div #}
    var div_url_id = document.createElement("div");
    div_url_id.setAttribute("class", "col-md-1");
{# Url_id Input #}
    var input_url_id = document.createElement("input");
    input_url_id.setAttribute("type", "number");
    input_url_id.setAttribute("id", "url_id");
    input_url_id.setAttribute("name", "url_id_" + i);
    input_url_id.setAttribute("class", "form-control");
    input_url_id.setAttribute("value", i);
    div_url_id.appendChild(input_url_id);
    div.appendChild(div_url_id);

{# Url href Label #}
    var label_href = document.createElement("label");
    label_href.setAttribute("for", "url_href");
    label_href.setAttribute("class", "col-md-1");
    label_href.innerHTML = "Url:";
    div.appendChild(label_href);
{# Url href Div #}
    var div_href = document.createElement("div");
    div_href.setAttribute("class", "col-md-2");
{# Url href Input #}
    var input_href = document.createElement("input");
    input_href.setAttribute("type", "text");
    input_href.setAttribute("id", "url_href");
    input_href.setAttribute("class", "form-control");
    input_href.setAttribute("name", "url_href_" + i);
    input_href.setAttribute("value", "http://keksik.com.ua/");
    div_href.appendChild(input_href);
    div.appendChild(div_href);

{# Url str Label #}
    var label_str = document.createElement("label");
    label_str.setAttribute("for", "url_str");
    label_str.setAttribute("class", "col-md-1");
    label_str.innerHTML = "Url строка:";
    div.appendChild(label_str);
{# Url str Div #}
    var div_str = document.createElement("div");
    div_str.setAttribute("class", "col-md-2");
{# Url str Input #}
    var input_str = document.createElement("input");
    input_str.setAttribute("type", "text");
    input_str.setAttribute("id", "url_str");
    input_str.setAttribute("class", "form-control");
    input_str.setAttribute("name", "url_str_" + i);
    input_str.setAttribute("value", "http://keksik.com.ua/");
    div_str.appendChild(input_str);
    div.appendChild(div_str);

{# Url title Label #}
    var label_title = document.createElement("label");
    label_title.setAttribute("for", "url_title");
    label_title.setAttribute("class", "col-md-1");
    label_title.innerHTML = "Url title:";
    div.appendChild(label_title);
{# Url title Div #}
    var div_title = document.createElement("div");
    div_title.setAttribute("class", "col-md-2");
{# Url title Input #}
    var input_title = document.createElement("input");
    input_title.setAttribute("type", "text");
    input_title.setAttribute("id", "url_title");
    input_title.setAttribute("class", "form-control");
    input_title.setAttribute("name", "url_title_" + i);
    input_title.setAttribute("value", "http://keksik.com.ua/");
    div_title.appendChild(input_title);
    div.appendChild(div_title);


    div_parent.insertBefore(div, div_url_button);
}
</script>


{% if not delivery %}
    {% set images = (1, 2, 3, ) %}
{% else %}
    {% set images = delivery.images %}
{% endif %}
{% if images|length < 1 %}
    {% set images = (1, 2, 3, ) %}
{% endif %}
                {% set i = 0 %}
                {% for image in images %}
                {% set i = i + 1 %}
                <div class="form-group"
                        id="image_{{ i }}">
                    <input type="hidden"
                           id="image_pk"
                           name="image_pk_{{ i }}"
                            value="{% if image.pk %}{{ image.pk }}{% else %}0{% endif %}">
                    <label for="image_name"
                            class="col-md-1">Имя картинки:</label>
                    {# {1{ form.created_at.errors }} #}
                    <div class="col-md-2">
                        <input type="text"
                               id="image_name"
                               name="image_name_{{ i }}"
                               class="form-control"
                               value="{% if image.name %}{{ image.name }}{% else %}{{ i }}{% endif %}">
                    </div>
                    <label for="image_tag_name"
                            class="col-md-2">Tag имя картинки:</label>
                    {# {1{ form.created_at.errors }} #}
                    <div class="col-md-2">
                        <input type="text"
                               id="image_tag_name"
                               name="image_tag_name_{{ i }}"
                               class="form-control"
                               value="{% if image.tag_name %}{{ image.tag_name }}{% else %}{{ i }}{% endif %}">
                    </div>
                    <label for="image"
                            class="col-md-2 control-label">Картинка № {{ i }}:</label>
                    {# {1{ form.created_at.errors }} #}
                    <div class="form-column col-md-2">
                        <p class="file-upload">
                            {% if image.image %}На данный момент:
                            <a href="{{ image.image.url }}">{{ image.image }}</a>
                            <br>
                            Изменить:{% endif %}
                            <input type="file"
                                   accept="image/*"
                                   id="image"
                                   name="image_{{ i }}"
                                   style="width:190px;">
                        </p>
                    </div>
                </div>
                {% endfor %}
                <div id="button"
                     class="form-group col-md-12" style="text-align:center;">
                    <button type="button" id="form-control-add-image-button">Add field for image</button>
                </div>
<script>
document.getElementById('form-control-add-image-button').onclick = function(){
    var i = 0;
    for(;;){
        i++;
        id = 'image_' + i;
        if(!document.getElementById(id)){
            break;
        }
    }
    i--;
    if(i==0){
        i++;
    }
    id = 'image_' + i;
    var div_button = document.getElementById("button");
    var div_parent = document.getElementById("parent");
    var div_last = document.getElementById(id);
    var div = document.createElement("div");
    i++;
    div.setAttribute("id", "image_" + i);
    div.setAttribute("class", "form-group");
    var input_hidden_pk = document.createElement("input");
    input_hidden_pk.setAttribute("type", "hidden");
    input_hidden_pk.setAttribute("id", "image_pk");
    input_hidden_pk.setAttribute("name", "image_pk_" + i);
    input_hidden_pk.setAttribute("value", "0");
    div.appendChild(input_hidden_pk);
{# Image Name Label #}
    var label_name = document.createElement("label");
    label_name.setAttribute("for", "image_name");
    label_name.setAttribute("class", "col-md-1");
    label_name.innerHTML = "Имя картинки:";
    div.appendChild(label_name);
{# Image Name Div #}
    var div_name = document.createElement("div");
    div_name.setAttribute("class", "col-md-2");
    var input_name = document.createElement("input");
    input_name.setAttribute("type", "text");
    input_name.setAttribute("id", "image_name");
    input_name.setAttribute("name", "image_name_" + i);
    input_name.setAttribute("class", "form-control");
    input_name.setAttribute("value", i);
    div_name.appendChild(input_name);
    div.appendChild(div_name);
{# Tag name #}
    var label_tag = document.createElement("label");
    label_tag.setAttribute("for", "image_tag_name");
    label_tag.setAttribute("class", "col-md-2");
    label_tag.innerHTML = "Tag имя картинки:";
    div.appendChild(label_tag);
    var div_tag_name = document.createElement("div");
    div_tag_name.setAttribute("class", "col-md-2");
    var input_tag_name = document.createElement("input");
    input_tag_name.setAttribute("type", "text");
    input_tag_name.setAttribute("id", "image_tag_name");
    input_tag_name.setAttribute("name", "image_tag_name_" + i);
    input_tag_name.setAttribute("class", "form-control");
    input_tag_name.setAttribute("value", i);
    div_tag_name.appendChild(input_tag_name);
    div.appendChild(div_tag_name);
{# Image #}
    var label_image = document.createElement("label");
    label_image.setAttribute("for", "image");
    label_image.setAttribute("class", "col-md-2 control-label");
    label_image.innerHTML = "Картинка № " + i + ":";
    div.appendChild(label_image);
    var div_image = document.createElement("div");
    div_image.setAttribute("class", "form-column col-md-2");
    var p_image = document.createElement("p");
    p_image.setAttribute("class", "file-upload");
    var input_image = document.createElement("input");
    input_image.setAttribute("type", "file");
    input_image.setAttribute("accept", "image/*");
    input_image.setAttribute("id", "image");
    input_image.setAttribute("name", "image_" + i);
    input_image.setAttribute("style", "width:190px;");
    p_image.appendChild(input_image);
    div_image.appendChild(p_image);
    div.appendChild(div_image);

    div_parent.insertBefore(div, div_button);
}
</script>
                {% if delivery %}
                <div class="form-group">
                    <label for="delivery_created_at"
                            class="col-md-4 control-label">Дата создания:</label>
                    {# {1{ form.created_at.errors }} #}
                    <div class="col-md-6">
                        <input type="text"
                               name="created_at"
                               id="delevery_created_at"
                               class="form-control"
                               readonly
                               {% if delivery %}value="{{ delivery.created_at }}"{% endif %}>
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_updated_at"
                            class="col-md-4 control-label">Дата обновления:</label>
                    {# {1{ form.updated_at.errors }} #}
                    <div class="col-md-6">
                        <input type="text"
                               name="updated_at"
                               id="delevery_updated_at"
                               class="form-control"
                               readonly
                               {% if delivery %}value="{{ delivery.updated_at }}"{% endif %}>
                    </div>
                </div>
                {% endif %}
            </div>
            <input type="submit" value="{% if delivery %}Обновить{% else %}Добавить{% endif %} Рассылку">
        </form>
    </div>
</body>
</html>
