<!DOCTYPE html>
<html lang="ru">
<head>
<title>Страница добавления/редактирования рассылки.</title>
<meta charset="UTF-8">
<script src="{{ MEDIA_URL }}js/jquery/jquery-1.9.1.min.js"></script>
<script src="{{ MEDIA_URL }}bootstrap/js/bootstrap.js"></script>
<link href="{{ MEDIA_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div id="show_delivery" style="color:Black;text-align:left;" class="container-fluid">
{# {1{ form.non_field_errors() }} #}
        <form action="{% if delivery %}{{ url('admin_delivery:edit', delivery_id=delivery.get_url_number) }}{% else %}{{ url('admin_delivery:add') }}{% endif %}"
              class="form-horizontal row"
              method="post"
              role="form">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="POST_NAME" value="add_edit">
            <div class="row">
                {% if delivery %}
                <div class="form-group">
                    <label for="delivery_pk"
                            class="col-md-4 control-label">№ Рассылки:</label>
                    <div class="col-md-6">
                        <input type="text"
                               name="delivery_pk"
                               id="delivery_pk"
                               class="form-control"
                               value="{{ delivery.pk }}" readonly>
                    </div>
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="delivery_name"
                            class="col-md-4 control-label">Наименование рассылки:</label>
                    {# {1{ form.name.errors }} #}
                    <div class="col-md-6">
                        <input type="text"
                               name="name"
                               id="delivery_name"
                               class="form-control"
                               {% if delivery %}value="{{ delivery.name }}"{% endif %}>
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_test"
                            class="col-md-4 control-label">Тестовая рассылка:</label>
                    {# {1{ form.delivery.errors }} #}
                    <div class="col-md-6">
                        <select name="test">
<style>
option:hover,
option:focus,
option:active{
    background:linear-gradient(#5A2569, #5A2569);
}
option:checked{
    font-weight:bolder;
}
</style>
                            {% if not delivery or delivery.delivery_test %}
                            <option value="1" selected><strong>Да</strong></option>
                            <option value="0">Нет</option>
                            {% else %}
                            <option value="1">Да</option>
                            <option value="0" selected><strong>Нет</strong></option>
                            {% endif %}
                        </select>
                        {# <input type="text"
                               name="test"
                               id="delivery_test"
                               class="form-control"
                               {% if delivery %}value="{{ delivery.delivery_test }}{% endif %}"> #}
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_type"
                            class="col-md-4 control-label">Тип рассылки:</label>
                    {# {1{ form.delivery.errors }} #}
                    <div class="col-md-6">
                        <select name="type">
                            {% for type in type_mailings %}
                            <option value="{{ type[0] }}"{% if delivery.type == type[0] %} selected{% endif %}>{{ type[1] }}</option>
                            {% endfor %}
                        </select>
                        {# <input type="text"
                               name="type"
                               id="delivery_type"
                               class="form-control"
                               {% if delivery %}value="{{ delivery.type }}{% endif %}"> #}
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_subject"
                            class="col-md-4 control-label">Subject рассылки:</label>
                    {# {1{ form.delivery.errors }} #}
                    <div class="col-md-6">
                        <input type="text"
                               name="subject"
                               id="delivery_subject"
                               class="form-control"
                               {% if delivery %}value="{{ delivery.subject }}{% endif %}"> {# {% elif form is defined %}{{ form.subject.value() }} #}
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_html"
                            class="col-md-4 control-label">Html:</label>
                    {# {1{ form.key.errors }} #}
                    <div class="col-md-6">
<style>
#div_editor_delivery_html{
    /** Setting height is also important, otherwise editor wont showup**/
    height: 175px;
}
</style>
                        <div id="div_editor_delivery_html"></div>
                        <textarea type="text"
                               name="html"
                               id="textarea_editor_delivery_html"
                               class="form-control"
                               style="visibility:hidden;display:none;">
                               {% if delivery %}{{ delivery.html }}{% endif %}{# {% elif form is defined %}{{ form.html.value() }} #}
                        </textarea>
<script src="{{ MEDIA_URL }}js/ace/ace.js"></script>
<script src="{{ MEDIA_URL }}js/ace/theme-twilight.js"></script>
<script src="{{ MEDIA_URL }}js/ace/mode-html.js"></script>
<script>
window.onload=function(){
var textarea=$('#textarea_editor_delivery_html');

var editor=ace.edit("div_editor_delivery_html");
editor.setTheme("ace/theme/twilight");
editor.getSession().setMode("ace/mode/html");

editor.val(textarea.getSession().getValue());

editor.getSession().on('change', function () {
    textarea.val(editor.getSession().getValue());
});

};
</script>
                    </div>
                </div>
                {% if delivery %}
                <div class="form-group">
                    <label for="delivery_created_at"
                            class="col-md-4 control-label">Дата создания:</label>
                    {# {1{ form.created_at.errors }} #}
                    <div class="col-md-6">
                        <input type="text"
                               name="created_at"
                               id="delevery_created_at"
                               class="form-control"
                               readonly
                               {% if delivery %}value="{{ delivery.created_at }}"{% endif %}>
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_updated_at"
                            class="col-md-4 control-label">Дата обновления:</label>
                    {# {1{ form.updated_at.errors }} #}
                    <div class="col-md-6">
                        <input type="text"
                               name="updated_at"
                               id="delevery_updated_at"
                               class="form-control"
                               readonly
                               {% if delivery %}value="{{ delivery.updated_at }}"{% endif %}>
                    </div>
                </div>
                {% endif %}
            </div>
            <input type="submit" value="{% if delivery %}Обновить{% else %}Добавить{% endif %} Рассылку">
        </form>
    </div>
</body>
</html>
