{# language: jinja2 #}
<!DOCTYPE html>
<html lang="ru">
<head>
<title>Страница добавления/редактирования рассылки.</title>
<meta charset="UTF-8">
<script src="{{ MEDIA_URL }}js/jquery/jquery-1.9.1.min.js"></script>
<script src="{{ MEDIA_URL }}bootstrap/js/bootstrap.js"></script>
<link href="{{ MEDIA_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div id="show_delivery" style="color:Black;text-align:left;" class="container-fluid">
{# {1{ form.non_field_errors() }} #}
        <form action="{% if delivery %}{{ url('admin_delivery:edit', delivery_id=delivery.get_url_number) }}{% else %}{{ url('admin_delivery:add') }}{% endif %}"
              class="form-horizontal row"
              method="post"
              role="form">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="POST_NAME" value="add_edit">
            <div{#  class="row" #}
                 id="parent">
                {% if delivery %}
                <div class="form-group">
                    <label for="delivery_pk"
                            class="col-md-4 control-label">№ Рассылки:</label>
                    <div class="col-md-6">
                        <input type="text"
                               name="delivery_pk"
                               id="delivery_pk"
                               class="form-control"
                               value="{{ delivery.pk }}" readonly>
                    </div>
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="delivery_name"
                            class="col-md-4 control-label">Наименование рассылки:</label>
                    {# {1{ form.name.errors }} #}
                    <div class="col-md-6">
                        <input type="text"
                               name="name"
                               id="delivery_name"
                               class="form-control"
                               {% if delivery %}value="{{ delivery.name }}"{% endif %}>
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_test"
                            class="col-md-4 control-label">Тестовая рассылка:</label>
                    {# {1{ form.delivery.errors }} #}
                    <div class="col-md-1">
                        <select name="test"
                                class="form-control">
<style>
option:hover,
option:focus,
option:active{
    background:linear-gradient(#5A2569, #5A2569);
}
option:checked{
    font-weight:bolder;
}
</style>
                            {% if not delivery or delivery.delivery_test %}
                            <option value="1" selected><strong>Да</strong></option>
                            <option value="0">Нет</option>
                            {% else %}
                            <option value="1">Да</option>
                            <option value="0" selected><strong>Нет</strong></option>
                            {% endif %}
                        </select>
                        {# <input type="text"
                               name="test"
                               id="delivery_test"
                               class="form-control"
                               {% if delivery %}value="{{ delivery.delivery_test }}{% endif %}"> #}
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_send_test"
                            class="col-md-4 control-label">Тестовая рассылка отослана:</label>
                    <div class="col-md-1">
                        <select name="send_test"
                                class="form-control">
                            {% if not delivery or delivery.send_test %}
                            <option value="1" selected><strong>Да</strong></option>
                            <option value="0">Нет</option>
                            {% else %}
                            <option value="1">Да</option>
                            <option value="0" selected><strong>Нет</strong></option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_send_spam"
                            class="col-md-4 control-label">SPAM рассылка отослана:</label>
                    <div class="col-md-1">
                        <select name="send_spam"
                                class="form-control">
                            {% if not delivery or delivery.send_spam %}
                            <option value="1" selected><strong>Да</strong></option>
                            <option value="0">Нет</option>
                            {% else %}
                            <option value="1">Да</option>
                            <option value="0" selected><strong>Нет</strong></option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_send_general"
                            class="col-md-4 control-label">Главная рассылка отослана:</label>
                    <div class="col-md-1">
                        <select name="send_general"
                                class="form-control">
                            {% if not delivery or delivery.send_general %}
                            <option value="1" selected><strong>Да</strong></option>
                            <option value="0">Нет</option>
                            {% else %}
                            <option value="1">Да</option>
                            <option value="0" selected><strong>Нет</strong></option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_type"
                            class="col-md-4 control-label">Тип рассылки:</label>
                    {# {1{ form.delivery.errors }} #}
                    <div class="col-md-3">
                        <select name="type"
                                class="form-control">
                            {% for type in type_mailings %}
                            <option value="{{ type[0] }}"{% if delivery.type == type[0] %} selected{% endif %}>{{ type[1] }}</option>
                            {% endfor %}
                        </select>
                        {# <input type="text"
                               name="type"
                               id="delivery_type"
                               class="form-control"
                               {% if delivery %}value="{{ delivery.type }}{% endif %}"> #}
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_subject"
                            class="col-md-4 control-label">Subject рассылки:</label>
                    {# {1{ form.delivery.errors }} #}
                    <div class="col-md-6">
                        <input type="text"
                               name="subject"
                               id="delivery_subject"
                               class="form-control"
                               {% if delivery %}value="{{ delivery.subject }}{% endif %}"> {# {% elif form is defined %}{{ form.subject.value() }} #}
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_html"
                            class="col-md-4 control-label">Html:</label>
                    {# {1{ form.key.errors }} #}
                    <div class="col-md-6">
<style>
#div_editor_delivery_html{
    /** Setting height is also important, otherwise editor wont showup**/
    height: 275px;
}
</style>
                        <div id="div_editor_delivery_html">{% if delivery %}{{ delivery.html }}{% endif %}</div>
                        <textarea type="text"
                               name="html"
                               id="textarea_editor_delivery_html"
                               class="form-control"
                               style="visibility:hidden;display:none;">
                               {# {% elif form is defined %}{{ form.html.value() }} #}
                        </textarea>
<script src="{{ MEDIA_URL }}js/ace/ace.js"></script>
<script src="{{ MEDIA_URL }}js/ace/theme-twilight.js"></script>
<script src="{{ MEDIA_URL }}js/ace/mode-html.js"></script>
<script>
window.onload=function(){
var textarea=$('#textarea_editor_delivery_html');

var editor=ace.edit("div_editor_delivery_html");
editor.setTheme("ace/theme/twilight");
editor.getSession().setMode("ace/mode/html");

//editor.getSession().setValue(textarea.getSession().getValue());

editor.getSession().on('change', function () {
    textarea.val(editor.getSession().getValue());
});

textarea.val(editor.getSession().getValue());

};
</script>
                    </div>
                </div>
{% if not delivery %}
    {% set images = (1, 2, 3, ) %}
{% else %}
    {% set images = delivery.images %}
{% endif %}
{% if images|length < 1 %}
    {% set images = (1, 2, 3, ) %}
{% endif %}
                {% set i = 0 %}
                {% for image in images %}
                {% set i = i + 1 %}
                <div class="form-group"
                        id="image_{{ i }}">
                    <input type="hidden"
                           id="image_pk_{{ i }}"
                            value="{% if image.pk %}{{ image.pk }}{% else %}0{% endif %}">
                    <label for="delivery_image_name_{{ i }}"
                            class="col-md-1">Имя картинки:</label>
                    {# {1{ form.created_at.errors }} #}
                    <div class="col-md-2">
                        <input type="text"
                               name="photo"
                               id="delevery_image_name_{{ i }}"
                               class="form-control"
                               value="{% if image.name %}{{ image.name }}{% else %}{{ i }}{% endif %}">
                    </div>
                    <label for="delivery_image_tag_name_{{ i }}"
                            class="col-md-1">Tag имя картинки:</label>
                    {# {1{ form.created_at.errors }} #}
                    <div class="col-md-2">
                        <input type="text"
                               name="photo"
                               id="delevery_image_tag_name_{{ i }}"
                               class="form-control"
                               value="{% if image.tag_name %}{{ image.tag_name }}{% else %}{{ i }}{% endif %}">
                    </div>
                    <label for="delivery_image_{{ i }}"
                            class="col-md-2 control-label">Картинка № {{ i }}:</label>
                    {# {1{ form.created_at.errors }} #}
                    <div class="col-md-2">
                        <input type="file"
                               accept="image/*"
                               name="photo"
                               id="delevery_image_{{ i }}"
                               {% if image.img %}value="{{ image.img }}"{% endif %}>
                    </div>
                </div>
                {% endfor %}
                <div id="button">
                    <button type="button" id="form-control-add-image-button">add</button>
                </div>
<script>
document.getElementById('form-control-add-image-button').onclick = function(){
    var i = 0;
    for(;;){
        i++;
        id = 'image_' + i;
        if(!document.getElementById(id)){
            break;
        }
    }
    i--;
    if(i==0){
        i++;
    }
    id = 'image_' + i;
    var div_button = document.getElementById("button");
    var div_parent = document.getElementById("parent");
    var div_last = document.getElementById(id);
    var div = document.createElement("div");
    i++;
    div.setAttribute("id", "image_" + i);
    div.setAttribute("class", "form-group");
    var input_hidden_pk = document.createElement("input");
    input_hidden_pk.setAttribute("type", "hidden");
    input_hidden_pk.setAttribute("id", "image_pk_" + i);
    input_hidden_pk.setAttribute("value", "0");
    div.appendChild(input_hidden_pk);
{# Name #}
    var label_name = document.createElement("label");
    label_name.setAttribute("for", "delivery_image_name_" + i);
    label_name.setAttribute("class", "col-md-1");
    label_name.innerHTML = "Имя картинки:";
    div.appendChild(label_name);
    var div_name = document.createElement("div");
    div_name.setAttribute("class", "col-md-2");
    var input_name = document.createElement("input");
    input_name.setAttribute("type", "text");
    input_name.setAttribute("name", "photo");
    input_name.setAttribute("id", "delivery_image_name_" + i);
    input_name.setAttribute("class", "form-control");
    input_name.setAttribute("value", i);
    div_name.appendChild(input_name);
    div.appendChild(div_name);
{# Tag name #}
    var label_tag = document.createElement("label");
    label_tag.setAttribute("for", "delivery_image_tag_name_" + i);
    label_tag.setAttribute("class", "col-md-1");
    label_tag.innerHTML = "Tag имя картинки:";
    div.appendChild(label_tag);
    var div_tag_name = document.createElement("div");
    div_tag_name.setAttribute("class", "col-md-2");
    var input_tag_name = document.createElement("input");
    input_tag_name.setAttribute("type", "text");
    input_tag_name.setAttribute("name", "photo");
    input_tag_name.setAttribute("id", "delivery_image_tag_name_" + i);
    input_tag_name.setAttribute("class", "form-control");
    input_tag_name.setAttribute("value", i);
    div_tag_name.appendChild(input_tag_name);
    div.appendChild(div_tag_name);
{# Image #}
    var label_image = document.createElement("label");
    label_image.setAttribute("for", "delivery_image_" + i);
    label_image.setAttribute("class", "col-md-2 control-label");
    label_image.innerHTML = "Картинка № " + i + ":";
    div.appendChild(label_image);
    var div_image = document.createElement("div");
    div_image.setAttribute("class", "col-md-2");
    var input_image = document.createElement("input");
    input_image.setAttribute("type", "file");
    input_image.setAttribute("name", "photo");
    input_image.setAttribute("accept", "image/*");
    input_image.setAttribute("id", "delivery_image_" + i);
    div_image.appendChild(input_image);
    div.appendChild(div_image);

    div_parent.insertBefore(div, div_button);
}
</script>
                {% if delivery %}
                <div class="form-group">
                    <label for="delivery_created_at"
                            class="col-md-4 control-label">Дата создания:</label>
                    {# {1{ form.created_at.errors }} #}
                    <div class="col-md-6">
                        <input type="text"
                               name="created_at"
                               id="delevery_created_at"
                               class="form-control"
                               readonly
                               {% if delivery %}value="{{ delivery.created_at }}"{% endif %}>
                    </div>
                </div>
                <div class="form-group">
                    <label for="delivery_updated_at"
                            class="col-md-4 control-label">Дата обновления:</label>
                    {# {1{ form.updated_at.errors }} #}
                    <div class="col-md-6">
                        <input type="text"
                               name="updated_at"
                               id="delevery_updated_at"
                               class="form-control"
                               readonly
                               {% if delivery %}value="{{ delivery.updated_at }}"{% endif %}>
                    </div>
                </div>
                {% endif %}
            </div>
            <input type="submit" value="{% if delivery %}Обновить{% else %}Добавить{% endif %} Рассылку">
        </form>
    </div>
</body>
</html>
