{# language: jinja2 #}
<!DOCTYPE html>
<html lang="ru">
<head>
<title>Страница списка рассылок.</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<style>
body{
    display:table;
    width:100%;
    height:100%;
}
#flex-container {
    {# border: 1px solid #000; #}
    height:200px;
    {# width:200px; #}
    display:flex;
    {# vertical-align:middle; #}
    {# text-align:center; #}
}
#flexed-center {
    {# width:200px; /* Ширина элемента в пикселах */ #}
    {# padding:10px; /* Поля вокруг текста */ #}
    margin:auto; /* Выравниваем по центру */
    display:flex;
    {# background:#fc0; /* Цвет фона */ #}
}
</style>
</head>
<body>
    <div id="flex-container">
        <div id="flexed-center">
            <form method="POST" action="{{ url('admin_page:exclude_email_from_delivery') }}">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <input type="hidden" name="POST_NAME" value="exclude_email">
                <input type="text" name="bad_email">
                <input type="submit" value="Исключить E-Mail из рассылки">
            </form>
            <form method="POST" action="{{ url('admin_page:index') }}">
                {% if error_message %}<p style="color:Red;">{{ error_message }}</p>{% endif %}
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <input type="hidden" name="POST_NAME" value="index">
                <input type="text" name="id">
                <input type="submit" value="Искать рассылку">
            </form>
            <form method="POST" action="{{ url('admin_page:add') }}">
                {% if error_message %}<p style="color:Red;">{{ error_message }}</p>{% endif %}
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <input type="hidden" name="POST_NAME" value="delivery_add">
                <input type="submit" value="Добавить рассылку">
            </form>
        </div>
    </div>
<style>
#coupon_groups{
    margin-left:auto;
    margin-right:auto;
}
</style>
    <div id="mailings">
        <table>
            <tbody>
                {% for delivery in mailings %}
                <tr>
                    <td>
                        {# {% set str_url = delivery.pk|int_to_string %}
                        {% set int_range = 6 - str_url|length %}
                        {% if int_range > 0 %}
                            {% for i in int_range|get_range %}
                                {% set str_url = '0' + str_url %}
                                {% if i == int_range - 1 %}
                                    {% break %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <a href="{{ url('admin_delivery:edit', delivery_id=str_url) }}">{{ delivery.pk }}</a> #}
                        {# <a href="{1{ url('order_edit',id=order.pk) }}">{{ order.pk }}</a> #}
                        {# <a href="/админ/заказ/редактор/{{ url }}/">{{ order.pk }}</a> #}
                        {# <a href="{1{ url('order_edit', order.pk) }}">{{ order.pk }}</a> #}
                        № <a href="{{ url('admin_page:edit', delivery_id=delivery.get_url_number) }}">{{ delivery.pk }}</a>
                    </td>
                    <td>
                        Название: <a href="{{ url('admin_page:edit', delivery_id=delivery.get_url_number) }}">{{ delivery.name }}</a>
                    </td>
                    <td>
                        Тестовая рассылка: {{ delivery.delivery_test|true_false }}
                    </td>
                    <td>
                        Тип: {{ delivery.text_type }}
                    </td>
{#                     <td>
                        Subject: {{ delivery.subject }}
                    </td> #}
{#                     <td>
                        {{ delivery.start_of_the_coupon|date("d-M-Y H:i:s") }}
                    </td>
                    <td>
                        {{ coupon_group.end_of_the_coupon|date("d-M-Y H:i:s") }}
                    </td> #}
                    <td>
                        Дата добавления: {{ delivery.created_at|date("d-M-Y H:i:s") }}
                    </td>
                    <td>
                        Дата обновления: {{ delivery.updated_at|date("d-M-Y H:i:s") }}
                    </td>
                    <td>
                        Доставленно на адресов: {{ delivery.emails_delivered }}
                    </td>
                    <td>
                        Переходов по рассылке: {{ delivery.trace_of_visits }}
                    </td>
                    <td>
                        Уникальных переходов по рассылке: {{ delivery.trace_of_visits_unique }}
                    </td>
                    <td>
                        Заказов по рассылке: {{ delivery.order_from_trace_of_visits }}
                    </td>
                    <td>
                        Адресов в базе: {{ delivery.emails }}
                    </td>
                    <td>
                        Из них плохие: {{ delivery.bad_emails }}
                    </td>
                </tr>
                {% if delivery.delivery_test and not delivery.send_test and not delivery.send_general and not delivery.send_spam %}
                    <tr>
                        <td colspan="4">
                            <form action="{{ url('admin_page:start_delivery_test', delivery_id=delivery.get_url_number) }}" method="POST">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                <input type="hidden" name="POST_NAME" value="start_delivery_test">
                                <input type="submit" value="Отправить тестовую Рассылку">
                            </form>
                        </td>
                    </tr>
                {% endif %}
                {% if not delivery.delivery_test and delivery.send_test and not delivery.send_general and not delivery.send_spam %}
                <tr>
                    <td colspan="4">
                        <form action="{{ url('admin_page:start_delivery_general', delivery_id=delivery.get_url_number) }}" method="POST">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <input type="hidden" name="POST_NAME" value="start_delivery_general">
                            <input type="submit" value="Отправить ГЛАВНУЮ Рассылку">
                        </form>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>