{% extends 'root.jinja2' %}
{# {% load header_category %} #}
{% block title %}Оплата{% if request.user %} пользователя - {{ request.user }}{% endif %}{% endblock %}
{% block content_center %}
<div></div>
{% endblock %}
