{% if choice=='div' %}
<div class="product_block" style="margin:0px;margin-bottom:{{ margin_bottom }};margin-left:{{ margin_left }};">
{% elif choice=='li' %}
<li class="product_block">
{% endif %}
{% if block.disclose_product %}
    <a class="product_block_title"
       style="font-size:16px;"
       href="{{ block.get_absolute_url() }}"
       title="{{ block.name }}">{{ block.title }}</a>
    <a class="product_block_img"
       style="background-image:url('{% if block.main_photo %}{{ block.main_photo.photo.url_210x160 }}{% else %}/media/img/NoPhoto_210x160.jpg{% endif %}');"
       href="{{ block.get_absolute_url() }}"
       title="{{ block.title }}"></a>
    {# <div class="product_block_excerpt" title="{{ block.price }} грн.">{{ block.price }} грн.</div> #}
    <div class="product_block_bottom">
        <div class="product_block_price{% if block.is_availability == 1 %} pink{% else %} gray{% endif %}">{{ block.get_price(request) }}&nbsp;<span>{{ current_currency_.name_truncated }}</span></div>
        {% if block.is_availability == 1 %}
            <input class="add_to_cart button_buy"
                   type="image"
                   onclick="product_to_cart(this, {{ block.pk }});return false;"
                   rel="{{ block.pk }}"
                   href="javascript:void(0)"
                   src="/media/img/add_cart.png"
                   title="добавить в корзину">
        {% else %}
            <p>Нет на складе</p>
        {% endif %}
        {% if block.item_description %}
            <div id="product_block_short_description">
                {{ block.item_description }}
            </div>
        {% endif %}
    </div>
{% else %}
    <a class="product_block_title fancybox"
       href="{% if block.main_photo %}{{ block.main_photo.photo.url_210x160 }}{% else %}/media/img/NoPhoto_210x160.jpg{% endif %}"
       title="{{ block.name }}">{{ block.title }}</a>
    <a class="product_block_img fancybox"
       style="background-image:url('{% if block.main_photo %}{{ block.main_photo.photo.url_210x160 }}{% else %}/media/img/empty_210x160.jpg{% endif %}');"
       href="{% if block.main_photo %}{{ block.main_photo.photo.url_210x160 }}{% else %}/media/img/NoPhoto_210x160.jpg{% endif %}"
       title="{{ block.title }}"></a>
    {# <div class="product_block_excerpt" title="цена за ед. {{ block.get_price(request) }} грн.">цена за ед. {{ block.get_price(request) }} грн.</div> #}
    <div class="product_block_bottom">
        <div class="product_block_price{% if block.is_availability == 1 %} pink{% else %} gray{% endif %}">{{ block.get_price(request) }}&nbsp;<span>{{ current_currency_.name_truncated }}</span></div>
        {% if block.is_availability == 1 %}
            <input class="add_to_cart button_buy"
                   type="image"
                   onclick="product_to_cart(this, {{ block.pk }});return false;"
{#                    onclick="animate_cart(this);return false;" #}
                   rel="{{ block.pk }}"
                   href="javascript:void(0)"
                   src="/media/img/add_cart.png"
                   title="добавить в корзину">
        {% else %}
            <p>Нет на складе</p>
        {% endif %}
        {% if block.item_description %}
            <div id="product_block_short_description">
                {{ block.item_description }}
            </div>
        {% endif %}
    </div>
{% endif %}
{% if choice=='div' %}
</div>
{% elif choice=='li' %}
</li>
{% endif %}
