{% if choice=='div' %}
<div class="{{ product_block }}">
{% elif choice=='li' %}
<li class="product_block">
{% endif %}
{% if product.disclose_product %}
    <a class="product_block_title"
       style="font-size:16px;"
       href="{{ product.get_absolute_url() }}"
       title="{{ product.name }}">{{ product.title }}</a>
    <a class="product_block_img"
       style="background-image:url('{% if product.main_photo %}{{ product.main_photo.photo.url_210x160 }}{% else %}/media/img/NoPhoto_210x160.jpg{% endif %}');"
       href="{{ product.get_absolute_url() }}"
       title="{{ product.title }}"></a>
    {# <div class="product_block_excerpt" title="{{ product.price }} грн.">{{ product.price }} грн.</div> #}
    <div class="product_block_bottom">
        <div class="product_block_price">{{ product.price }}&nbsp;<span>грн.</span></div>
        {% if product.is_availability == 1 %}
            <input class="add_to_cart button_buy"
                   type="image"
                   onclick="product_to_cart(this, {{ product.pk }});"
                   rel="{{ product.pk }}"
                   href="javascript:void(0)"
                   src="/media/img/add_cart.png"
                   title="добавить в корзину">
        {% else %}
            <p>Нет на складе</p>
        {% endif %}
    </div>
{% else %}
    <a class="product_block_title fancybox"
       href="{% if product.main_photo %}{{ product.main_photo.photo.url_210x160 }}{% else %}/media/img/NoPhoto_210x160.jpg{% endif %}"
       title="{{ product.name }}">{{ product.title }}</a>
    <a class="product_block_img fancybox"
       style="background-image:url('{% if product.main_photo %}{{ product.main_photo.photo.url_210x160 }}{% else %}/media/img/empty_210x160.jpg{% endif %}');"
       href="{% if product.main_photo %}{{ product.main_photo.photo.url_210x160 }}{% else %}/media/img/NoPhoto_210x160.jpg{% endif %}"
       title="{{ product.title }}"></a>
    <div class="product_block_excerpt" title="цена за ед. {{ product.price }} грн.">цена за ед. {{ product.price }} грн.</div>
    <div class="product_block_bottom">
        <div class="product_block_price">{{ product.price }}<span>грн.</span></div>
        {% if product.is_availability == 1 %}
            <input class="add_to_cart button_buy"
                   type="image"
                   onclick="animate_cart(this);return false;"
                   rel="{{ product.pk }}"
                   href="javascript:void(0)"
                   src="/media/img/add_cart.png"
                   title="добавить в корзину">
        {% else %}
            <p>Нет на складе</p>
        {% endif %}
    </div>
{% endif %}
{% if choice=='div' %}
</div>
{% elif choice=='li' %}
</li>
{% endif %}
