<div id="products_block{% if attachment != '' %}_{{ attachment }}{% endif %}"{% if top_border %} style="margin-top:10px;padding-top:10px;border-top-width:5px;border-top-style:dashed;border-top-color:#FFF6C9"{% endif %}>
    {% set cycle = 1 %}
    {% set last_loop = False %}
    {% set revcounter = blocks|length %}
    {% if limit_on_string == 0 %}{# Для вставок в одну линию #}
        {% set limit_on_string = request.session.limit_on_string %}
    {% endif %}
    {% if revcounter <= limit_on_string %}
        {% set last_loop = True %}
    {% else %}
        {% set last_loop = False %}
    {% endif %}
    {% for product in blocks|sort(attribute='serial_number')|sort(attribute='is_availability') %}
        {{ one_block(product, request, 'div', cycle, last_loop, 'product')|safe }}
        {% if cycle < limit_on_string %}
            {% set cycle = cycle + 1 %}
        {% else %}
            {% set cycle = 1 %}
            {% set revcounter = revcounter - limit_on_string %}
            {% if revcounter <= limit_on_string %}
                {% set last_loop = True %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
<script>
function lazy_load() {

    // Картинка-заместитель
    var lazy_replacer='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';
    var container=document.getElementById('products_block');
    if (container) {
        var im=container.getElementsByClassName('product_block_img');
        // Сохранить адрес исходной картинки и заменить его на прозрачный GIF
        for (var i=0; i<im.length; i++) {
            var el=im[i];
            if (el.style.backgroundImage) {
                alert(el.style.backgroundImage.substring(4, el.style.backgroundImage.length-1));
                el.setAttribute('src-lazy',el.style.backgroundImage);
                el.lazy=el.src;
                el.src=lazy_replacer;
            }
        }
    }

    // Установить обработчики событий окна
    //window.onscroll = lazy_load_proc;
    //window.onresize = lazy_load_proc;
    // Сразу же показать картинки в видимой области
    //lazy_load_proc();
}
lazy_load();
</script>
