{# {1% if products %} #}
<div id="products_block"{% if top_border %} style="padding-top:15px;border-top-width:5px;border-top-style:dashed;border-top-color:#FFF6C9"{% endif %}>
<script>
function ajax_product_to_cart(product_pk){
    var request_dict = {
        csrfmiddlewaretoken:'{{ csrf_token }}',
        product_pk:product_pk
    }
    jQuery.post("/ajax/product_to_cart/",
        request_dict,
        function(data, textStatus, jqXHR){
            jQuery('#dynamic_div_showcart').html(data.html);
        },
        "json");
}
function product_to_cart(data, product_pk){
    ajax_product_to_cart(product_pk);
    animate_cart(data);
    return false;
}
</script>
    {# <p>Продукты в этой категории</p> #}
    {% set cycle = 1 %}
    {% set last_loop = False %}
    {% set revcounter = blocks|length %}
    {% for product in blocks %}
        {{ one_block(product, 'div', cycle, last_loop, 'product')|safe }}
        {% if revcounter < request.session.limit_on_string %}
            {% set last_loop = True %}
        {% endif %}
        {% set revcounter = revcounter - 1 %}
        {% if cycle < request.session.limit_on_string %}
            {% set cycle = cycle + 1 %}
        {% else %}
            {% set cycle = 1 %}
        {% endif %}
    {% endfor %}
</div>
{# {1% else %}
     <p>Продукты в этой категории отсутсвуют</p>
{1% endif %} #}
