<div class="product_block">
{% if product.disclose_product %}
    {% set photo_main = False %}
    {% for photo in product.photo.all() if photo.main and not photo_main %}
        <a class="product_block_title"
           href="{{ product.get_absolute_url() }}"
           title="{{ product.title }}">{{ product.name }}</a>
        <div class="product_block_excerpt" title="цена за ед. {{ product.price }} грн.">
            цена за ед. {{ product.price }} грн.</div>
        <a class="product_block_img"
           style="background-image: url('{{ photo.photo.url_210x160 }}');"
           href="{{ product.get_absolute_url() }}"
           title="{{ product.title }}"></a>
        <div class="product_block_bottom">
            <div class="product_block_price">{{ product.price }}<span>грн.</span></div>
            <a class="add_to_cart button_buy" rel="{{ product.pk }}" href="javascript:void(0)">в корзину</a>
        </div>
        {% set photo_main = True %}
    {% else %}
        <a class="product_block_title"
           href="{{ product.get_absolute_url() }}"
           title="{{ product.title }}">{{ product.name }}</a>
        <div class="product_block_excerpt" title="цена за ед. {{ product.price }} грн.">
            цена за ед. {{ product.price }} грн.</div>
        <a class="product_block_img"
           style="background-image: url({{ MEDIA_URL }}img/empty_210x160.jpg }});"
           href="{{ product.get_absolute_url() }}"
           title="{{ product.title }}"></a>
        {% set photo_main = True %}
        <div class="product_block_bottom">
            <div class="product_block_price">{{ product.price }}<span>грн.</span></div>
            <input class="add_to_cart button_buy"
                   type="image"
                   onclick="animate_cart(this);return false;"
                   rel="{{ product.pk }}"
                   href="javascript:void(0)"
                   src="/media/img/add_cart.png"
                   title="добавить в корзину">
        </div>
    {% endfor %}
{% else %}
    {% set photo_main = False %}
    {% for photo in product.photo.all() if photo.main and not photo_main %}
        <a class="product_block_title fancybox"
           href="{{ photo.photo.url }}"
           title="{{ product.title }}">{{ product.name }}</a>
        <div class="product_block_excerpt" title="цена за ед. {{ product.price }} грн.">
            цена за ед. {{ product.price }} грн.</div>
        <a class="product_block_img fancybox"
           style="background-image: url('{{ photo.photo.url_210x160 }}');"
           href="{{ photo.photo.url }}"
           title="{{ product.title }}"></a>
        <div class="product_block_bottom">
            <div class="product_block_price">{{ product.price }}<span>грн.</span></div>
            <a class="add_to_cart button_buy" rel="{{ product.pk }}" href="javascript:void(0)">в корзину</a>
        </div>
        {% set photo_main = True %}
    {% else %}
        <a class="product_block_title fancybox"
           href="{{ MEDIA_URL }}img/empty.jpg"
           title="{{ product.title }}">{{ product.name }}</a>
        <div class="product_block_excerpt" title="цена за ед. {{ product.price }} грн.">
            цена за ед. {{ product.price }} грн.</div>
        <a class="product_block_img fancybox"
           style="background-image: url({{ MEDIA_URL }}img/empty_210x160.jpg }});"
           href="{{ MEDIA_URL }}img/empty.jpg"
           title="{{ product.title }}"></a>
        {% set photo_main = True %}
        <div class="product_block_bottom">
            <div class="product_block_price">{{ product.price }}<span>грн.</span></div>
            <a class="add_to_cart button_buy" rel="{{ product.pk }}" href="javascript:void(0)">в корзину</a>
            <input class="add_to_cart button_buy"
                   type="image"
                   onclick="animate_cart(this);return false;"
                   rel="{{ product.pk }}"
                   href="javascript:void(0)"
                   src="/media/img/add_cart.png"
                   title="добавить в корзину">
        </div>
    {% endfor %}
{% endif %}
</div>