{% extends 'root.jinja2' %}
{% block title %}Возможно Ваш заказ находится в обработке !!!{% endblock %}
{% block content_center -%}
<br>
Ваш заказ кажется находится в обработке и поэтому <span style="color:red;font-weight:bold;">НЕ</span> принят повторно !!!
<br>
Возможно Вы сделали двойной щелчек по кнопке оформления заказа. Не делайте этого в следующий раз.
<br>
Пожалуйста, через несколько минут проверьте Ваш ящик электронной почты и мобильный телефон.
<br>
Возможно мы уже отправили сообщения с номером заказа в нашем магазине.
<br>
Предлагаем Вам <a href="/" title="Перейти на главную страницу магазина Кексик.ком.уа">продолжить покупки в нашем магазине -->></a>
<br>
{%- endblock %}
