{# language: jinja2 #}
{% extends 'order/step_two.jinja2' %}
{% block order_content %}
<tr>
    <td class="first_column">
        <label for="address">Полный адрес</label>
    </td>
    <td colspan="2">
        <textarea cols="50" rows="5" name="address" id="address">{% if address %}{{ address }}{% endif %}</textarea>
    </td>
</tr>
<tr>
    <td class="first_column">
        <label for="postcode">Почтовый индекс</label>
    </td>
    <td>
        <input type="number"
               name="postcode"
               id="postcode"
                {% if postcode %}
               value="{{ postcode }}"
                {% endif %}>
    </td>
</tr>
{% endblock %}