{% extends 'root.jinja2' %}
{% block title %}Ваш заказ НЕ принят!!!{% endblock %}
{% block content_center -%}
<br>
Ваш заказ <span style="color:red;font-weight:bold;">НЕ</span> принят!!!
<br>
Потому что в Вашей корзине отсутсвует товар!!!
<br>
Возможно Вы только, что уже сдалали заказ.
<br>
Пожалуйста, через некоторое время, проверьте Ваш ящик электронной почты и мобильный телефон.
<br>
Возможно мы уже выслали сообщения с номером заказа в нашем магазине.
<br>
Предлагаем Вам <a href="/" title="Перейти на главную страницу магазина Кексик.ком.уа">продолжить покупки в нашем магазине -->></a>
<br>
{%- endblock %}
