{# language: jinja2 #}
{% extends 'order/step_two.jinja2' %}
{% block order_content %}
<tr>
    <td id="first_column">
        <label for="region">Область</label>
    </td>
    <td colspan="2">
        <input type="text"
               name="region"
               id="region"
                {% if region %}
               value="{{ region }}"
                {% endif %}
               required>
    </td>
</tr>
<tr>
    <td id="first_column">
        <label for="settlement">Город (населённый пункт)</label>
    </td>
    <td colspan="2">
        <input type="text"
               name="settlement"
               id="settlement"
                {% if settlement %}
               value="{{ settlement }}"
                {% endif %}
               required>
    </td>
</tr>
<tr>
    <td id="first_column">
        <label for="select_delivery_company">Транспортная компания</label>
    </td>
    <td colspan="2">
        <select name="select_delivery_company"
                id="select_delivery_company"
                required=""
                style="float:left;width:240px;">
            {# {1% if not select_delivery_company or select_delivery_company == '1000' %}
                <option value="1000"
                    selected=""
                    disabled="disabled">Транспортная компания
                </option>
            {% endif %} #}
            {% for delivery_company in delivery_companies_list %}
                {% if select_delivery_company == delivery_company.select_number and select_delivery_company != 1000 %}
                    <option value="{{ delivery_company.select_number }}" selected=""><strong>{{ delivery_company.select_string_ru }}</strong></option>
                {% elif delivery_company.pk == 1 %}
                    <option value="{{ delivery_company.select_number }}" selected="">{{ delivery_company.select_string_ru }}</option>
                {% else %}
                    <option value="{{ delivery_company.select_number }}">{{ delivery_company.select_string_ru }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </td>
<tr>
<tr>
    <td id="first_column">
        <label for="warehouse_number">Номер склада транспортной компании</label>
    </td>
    <td colspan="2">
        <input type="number" name="warehouse_number" id="warehouse_number" required>
    </td>
</tr>
<tr>
    <td id="first_column">
        <label for="choise1">Я сознательно сделал свой выбор и жду SMS с реквизитами для оплаты</label>
    </td>
    <td colspan="2">
        <input type="checkbox" name="choice1" id="choice1" checked>
    </td>
</tr>
<tr>
    <td id="first_column">
        <label for="choise2">Перезвоните мне для уточнения заказа</label>
    </td>
    <td colspan="2">
        <input type="checkbox" name="choice2" id="choice2">
    </td>
</tr>
{% endblock %}