{# language: jinja2 #}
{% extends 'root.jinja2' %}
{# {% load header_category %} #}
{% block title %}Второй (завершающий) шаг оформления заказа{% endblock %}
{% block content_center %}
    <div id="show_order" style="color:Black;text-align:left;">
    {% if user_cart_ %}
        {{ block_cart(request, place_of_use='order', cart=user_cart_, coupon=coupon_)|safe }}
        {% if user_cart_.sum_money_of_all_products < 200 %}
            <div id="buttons"
                 style="margin:15px;">
                {# <a href="/" title="Вернуться к покупкам">Продолжить покупки >></a>&nbsp;&nbsp;&nbsp; #}
                <a href="/корзина/" title="Редактировать корзину">&gt;&gt;&nbsp;Редактировать корзину</a>
            </div>
        {% else %}
            <form method="POST" action="{{ form_action_next }}" id="form_order" name="form_order">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
                <input type="hidden" name="POST_NAME" value="ordering_step_two"/>
<style>
div#show_order form#form_order table tr td#first_column{
    text-align:right;
}
</style>
<table>
{% block order_content %}{% endblock %}
<tr>
    <td id="first_column">
        <label for="comment">Комментарий к заказу</label>
    </td>
    <td colspan="2">
        <textarea cols="50" rows="5" name="comment" id="comment"
            {% if comment %}
                value="{{ comment }}"
            {% endif %}></textarea>
    </td>
</tr>
</table>

                <p>Нажимая кнопку отправить заказ я подтверждаю, что с <a href="/оплата-и-доставка/" title="Условия оплаты и доставки товара интернет магазина Кексик">условиями оплаты и доставки</a> товара интернет-магазина Кексик, я ознакомлен</p>
                <input type="submit"
                       name="inputsubmit"
                       value="Закончить оформление заказа">
            </form>
        {% endif %}
    {% else %}
        <p>Ваша корзина пуста<br>
            <a href="/" title="Вернуться к покупкам">Продолжить покупки >></a>
        </p>
    {% endif %}
    </div>
{% endblock %}