{% extends 'root.jinja2.html' %}
{# {% load header_category %} #}
{% block title %}Первый шаг оформления заказа{% endblock %}
{% block content_center %}
    <div id="show_order" style="color:Black;text-align:left;">
    {% if user_cart_ %}
        {{ block_cart(request, place_of_use='order', cart=user_cart_, coupon=coupon_)|safe }}
        {% if user_cart_.sum_money_of_all_products < 200 %}
            <div id="buttons"
                 style="margin:15px;">
                {# <a href="/" title="Вернуться к покупкам">Продолжить покупки >></a>&nbsp;&nbsp;&nbsp; #}
                <a href="/корзина/" title="Редактировать корзину">&gt;&gt;&nbsp;Редактировать корзину</a>
             </div>
        {% else %}
            <form method="POST" action="{{ form_action_next }}" id="form_order" name="form_order" onSubmit="return Submit_Form();">
<script>
var submit_disable=false;
function Submit_Form(){
    if(submit_disable){
        alert('Пожалуйста, исправьте введенный Вами E-Mail адрес!!!');
        return false;
    }
    else{
        document.getElementById('inputsubmit').value='Подождите. Идет обработка заказа!!!';
        return true;
    }
}
</script>
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <input type="hidden" name="POST_NAME" value="ordering_step_one">
<style>
div#show_order form#form_order table tr td#first_column{
    text-align:right;
}
</style>
                <table>
                    <tr>
                        <td id="first_column">
                            <label for="FIO">ФИО</label>
                        </td>
                        <td colspan="2">
                            <input style="float:left;width:240px;"
                                   type="text" name="FIO" id="FIO" required
                                   {% if FIO %}
                                       value="{{ FIO }}"
                                   {% endif %}
                                   title="Эти данные будут использоваться для оформления посылки в почтовой службе">
                        </td>
                    </tr>
                    <tr>
                        <td id="first_column">
                            <label for="email">E-Mail</label>
                        </td>
                        <td>
                            <input style="float:left;width:240px;"
                                   type="email" name="email" id="email" required
                                   {% if email %}
                                       value="{{ email }}"
                                   {% endif %}
                                   title="На этот E-Mail адрес будет выслан обработанный нашим менеджером заказ&#013Пожалуйста, не забудьте проверить свой электронный почтовый ящик.">
<script>
document.getElementById('email').onchange=function(){
    var value = document.getElementById('email').value;
    jQuery.post("/ajax/order/email/test/",{
            csrfmiddlewaretoken:'{{ csrf_token }}',
            value:value
        },
		function(data, textStatus, jqXHR){
            if(data.result=='Bad'){
                submit_disable=true;
                document.getElementById('inputsubmit').classList.add('disabled_button');
                {# $('#email_error').html(data.email_error);
                 #}document.getElementById('email_error').innerHTML=data.email_error;{#
                document.getElementById('inputsubmit').readonly=true;
                document.getElementById('inputsubmit').disabled=true;
                $("#inputsubmit").prop("disabled",true);
             #}}else{
                submit_disable=false;
                document.getElementById('inputsubmit').classList.remove('disabled_button');
             {# $('#email_error').html('');
                 #}document.getElementById('email_error').innerHTML='';{#
                document.getElementById('inputsubmit').readonly=false;
                document.getElementById('inputsubmit').disabled=false;
                $("#inputsubmit").prop("disabled",false);
            #}}
            {# $('#result-html').html(data);
                        if(data.action=='change_delete'){
                var tr_id=document.getElementById('tr_id_{{ product.pk }}');
                tr_id.style.display='none';
                product_summ_of_quantity_array.splice({{ product.pk }}, 1);
                ReCalcSumm(true);
            }, #}
		    {# alert(data.result); #}
			{# // jQuery('#dynamic_div_showcart').html(data.html); #}
		},
		"json");
};
</script>
                        </td>
                        <td>
                            <p id="email_error" class="Red">{% if email_error %}{{ email_error }}{% endif %}</p>
                        </td>
                    </tr>
                    <tr>
                        <td id="first_column">
                            <label for="phone">Номер мобильного телефона</label>
                        </td>
                        <td colspan="2">
                            <input style="float:left;width:240px;"
                                   type="tel" name="phone" id="phone" required
                                   {% if phone %}
                                       value="{{ phone }}"
                                   {% endif %}>
                        </td>
                    </tr>
                    <tr>
                        <td id="first_column">
                            <label for="select_country">Страна</label>
                        </td>
                        <td colspan="2">
                            <select name="select_country"
                                    id="select_country"
                                    required=""
                                    style="float:left;width:246px;">
                                {% if not select_country or select_country == '1000' %}
                                    <option value="1000"
                                            selected=""
                                            disabled="disabled">Страна
                                    </option>
                                {% endif %}
                                {% for country_select in country_list %}
                                    {% if select_country.pk == country_select.pk and select_country != 1000 %}
                                        <option value="{{ country_select.pk }}"
                                                selected="">
                                            <strong>{{ country_select.name_ru }}</strong>
                                        </option>
                                    {% else %}
                                        <option value="{{ country_select.pk }}">{{ country_select.name_ru }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
<style>
.disabled_button{
color:#c0c0c0;
background-color:#ffffff;
}
</style>
                            <input type="submit"
                                   id="inputsubmit"
{#                                    onclick="Alert_On_Click()" #}
                                   name="inputsubmit"
                                   value="Продолжить оформление заказа">
<script>
    {# function Alert_On_Click(){ #}
    {# document.getElementById('inputsubmit').onclick=Click_On_Submit_Button(); #}
    {# var submit_button=document.forms["form_order"].elements["inputsubmit"];
submit_button.onchange=Click_On_Submit_Button(); #}
    {# var submit_form=document.forms["form_order"];
submit_form.onsubmit=Click_On_Submit_Button(); #}

    {# function Click_On_Submit_Button(){ #}
    {#     var value = document.getElementById('inputsubmit').disabled;
    var value2 = document.getElementById('inputsubmit').readonly; #}
    {#     alert(submit_disable);
    return false;
    if(submit_disable){
        alert('Пожалуйста, исправьте введенный Вами E-Mail адрес!!!');
        return false;
    }
    else{
        document.getElementById('inputsubmit').value='Подождите. Идет обработка заказа!!!';
        return true;
    }
    return false;
}
document.getElementById('form_order').onsubmit=Click_On_Submit_Button(); #}
</script>
                        </td>
                    </tr>
                </table>
            </form>
        {% endif %}
    {% else %}
        <p>Ваша корзина пуста<br>
            <a href="/" title="Вернуться к покупкам">Продолжить покупки >></a>
        </p>
    {% endif %}
    </div>
{% endblock %}