{% extends 'root.jinja2' %}
{% block title %}Ваш заказ принят!!!{% endblock %}
{% block content_center %}
<script>
var yaParams = {
    order_id: "{{ order_pk }}",
    order_price: {{ order.order_sum(calc_or_show='show') }},
    currency: "UAH",
    exchange_rate: 1 };
yaCounter21943054.reachGoal('Confirmed_order', yaParams);

window.dataLayer = window.dataLayer || [];

{% set products = order.order.all() %}
window.dataLayer.push({
    "ecommerce": {
        "currencyCode": "UAH",
        "purchase" : {
            "actionField": {
                "id" : "{{ order.number }}",
                "goal_id" : "5889228",
                "revenue": {{ order.order_sum(calc_or_show='show') }}
            },
            "products" : [
                {% for product in products %}
                    {
                        "id": "{{ product.product.get_ItemID }}",
                        "name": "{{ product.product.name|capfirst }}",
                        "price": {{ product.product.get_price(request=request,currency=980)|replace(",", ".") }},
                        "category": "{{ product.product.get_category_hierarchy(request=request) }}",
                        "position": {{ product.product.serial_number }},
                        "quantity": {{ product.quantity }}
                    }{% if not loop.last %},{% endif %}
                {% endfor %}
            ]
        }
    }
});
</script>
<br />
<strong>Ваш заказ принят!!!</strong>
<br />
Пожалуйста, через несколько минут проверьте Ваш ящик электронной почты и мобильный телефон.
<br />
Мы выслали сообщения с номером заказа в нашем магазине по указанным Вами реквизитам.
<br />
После обработки Вашего заказа, наш менеджер вышлет уточненный заказ и реквизиты для оплаты на <strong>указанный Вами E-Mail и номер мобильно телефона.</strong>.
<br />
<strong><sub>Спасибо за покупку!</sub></strong>
<br /><br />
{% endblock %}
