{# language: jinja2 #}
{% extends 'root.jinja2' %}
{# {% load header_category %} #}
{% block title %}Ваш заказ НЕпринят!!!{% endblock %}
{% block content_center -%}
<br>
В процессе оформления заказа возникла ошибка.
<br>
Ваш заказ НЕпринят!!!
<br>
Предлагаем Вам <a href="/" title="Перейти на главную страницу магазина Кексик.ком.уа">продолжить покупки в нашем магазине -->></a>
<br>
{%- endblock %}
