{% if choice=='div' %}
<div class="product_block"{# style="margin:0px;margin-bottom:{{ margin_bottom }};margin-left:{{ margin_left }};" #}>
{% elif choice=='li' %}
<li class="product_block">
{% endif %}
{% if block.disclose_product %}
<script>
var productArray = {
    "id": "{{ block.get_ItemID }}",
    "name": "{{ block.name|capfirst }}",
    "price": {{ block.get_price(request=request,currency_ISO_number=980)|replace(",", ".") }},
    "category": "{{ block.get_category_hierarchy(request=request) }}",
    "position": {{ block.serial_number }}
}
</script>
    <a class="product_block_title"
       style="font-size:16px;"
       href="{{ block.get_absolute_url() }}"
       title="{{ block.name }}">{{ block.title }}</a>
    <a class="product_block_img"
       style="background-image:url('{% if block.main_photo %}{{ block.main_photo.photo.url_210x160 }}{% else %}{{ MEDIA_URL }}img/NoPhoto_210x160.jpg{% endif %}');"
       href="{{ block.get_absolute_url() }}"
       title="{{ block.title }}">
        {% if block.in_action %}
            <img style="position:absolute;right:0;" src="{{ MEDIA_URL }}img/action.png">
        {% endif %}
    </a>
    <div class="product_block_bottom">
        {% if block.is_availability != 3 and block.is_availability != 4%}<div class="product_block_price{% if block.is_availability == 1 %} pink{% elif block.is_availability == 2 %} DimGray{% else %} Gray{% endif %}">{{ block.get_price(request) }}&nbsp;<span>{{ get_currency(request) }}</span></div>{% endif %}
        {% if block.is_availability == 1 %}
            <input class="add_to_cart button_buy"
                   type="image"
                   onclick="product_to_cart(this, {{ block.pk }}, productArray);return false;"
                   src="{{ MEDIA_URL }}img/add_cart.png"
                   title="Добавить товар в корзину"
                   alt="Добавить товар в корзину">
        {% elif block.is_availability == 2 %}
        {# Досутпен под заказ - положить в корзину заказ с 50% стоимости #}
            <p>Доступен под заказ.</p>
            <input class="add_to_cart button_buy"
                   type="image"
                   onclick="product_to_cart(this, {{ block.pk }}, productArray);return false;"
                   src="{{ MEDIA_URL }}img/add_cart.png"
                   title="Добавить в корзину 50% стоимости товара"
                   alt="Добавить товар в корзину">
        {% elif block.is_availability == 3 %}
            <p>Ожидается.</p>
        {% else %}
            <p>Нет на складе</p>
        {% endif %}
        {% if block.item_description %}
            <div id="product_block_short_description">
                {{ block.item_description }}
            </div>
        {% endif %}
    </div>
{% else %}
<script>
var productArray = {
    "id": "{{ block.get_ItemID }}",
    "name": "{{ block.name|capfirst }}",
    "price": {{ block.get_price(request=request,currency_ISO_number=980)|replace(",", ".") }},
    "category": "{{ block.get_category_hierarchy(request=request) }}",
    "position": {{ block.serial_number }}
}
</script>
    <a class="product_block_title fancybox"
       href="{% if block.main_photo %}{{ block.main_photo.photo.url_210x160 }}{% else %}{{ MEDIA_URL }}img/NoPhoto_210x160.jpg{% endif %}"
       title="{{ block.name }}">{{ block.title }}</a>
    <a class="product_block_img fancybox"
       style="background-image:url('{% if block.main_photo %}{{ block.main_photo.photo.url_210x160 }}{% else %}{{ MEDIA_URL }}img/empty_210x160.jpg{% endif %}');"
       href="{% if block.main_photo %}{{ block.main_photo.photo.url_210x160 }}{% else %}{{ MEDIA_URL }}img/NoPhoto_210x160.jpg{% endif %}"
       title="{{ block.title }}">
        {% if block.in_action %}
            <img style="position:absolute;right:0;" src="{{ MEDIA_URL }}img/action.png">
        {% endif %}
    </a>
    <div class="product_block_bottom">
        {% if block.is_availability != 3 and block.is_availability != 4%}<div class="product_block_price{% if block.is_availability == 1 %} pink{% else %} gray{% endif %}">{{ block.get_price(request) }}&nbsp;<span>{{ get_currency(request) }}</span></div>{% endif %}
        {% if block.is_availability == 1 %}
            <input class="add_to_cart button_buy"
                   type="image"
                   onclick="product_to_cart(this, {{ block.pk }}, productArray);return false;"
                   src="{{ MEDIA_URL }}img/add_cart.png"
                   title="Добавить товар в корзину"
                   alt="Добавить товар в корзину">
        {% elif block.is_availability == 2 %}
        {# Досутпен под заказ - положить в корзину заказ с 50% стоимости #}
            <p>Доступен под заказ.</p>
            <input class="add_to_cart button_buy"
                   type="image"
                   onclick="product_to_cart(this, {{ block.pk }}, productArray);return false;"
                   src="{{ MEDIA_URL }}img/add_cart.png"
                   title="Добавить в корзину 50% стоимости товара"
                   alt="Добавить товар в корзину">
        {% else %}
            <p>Нет на складе</p>
        {% endif %}
        {% if block.item_description %}
            <div id="product_block_short_description">
                {{ block.item_description }}
            </div>
        {% endif %}
    </div>
{% endif %}
{% if choice=='div' %}
</div>
{% elif choice=='li' %}
</li>
{% endif %}
