{% for product in blocks %}
    {% djcache 3600 'template_tab_menu_categories' product.pk %}
        <div class="main_product item_product">
            <div class="img_product">
                <a href="{{ product.get_absolute_url() }}">
                    <img src="{% if product.main_photo %}{{ product.main_photo.photo.url_210x160 }}{% else %}{{ MEDIA_URL }}img/NoPhoto_210x160.jpg{% endif %}" alt="{{ product.title }}">
                </a>
            </div>
            <div class="info_item_product">
                <a href="{{ product.get_absolute_url() }}">
                    <div class="name_product">{{ product.title }}</div>
                    <div class="prices_product">
                        {% if product.regular_price %}
                            <div class="old_price">{{ product.get_price(request, product.regular_price)|replace(",", ".") }} {{ get_currency(request) }}</div>
                        {% endif %}
                        <div class="new_price">{{ product.get_price(request) }}&nbsp;{{ get_currency(request) }}</div>
                    </div>
                </a>
                <div class="actions_product">
                    <a href="#123#" class="main_btn">в корзину</a>
                    <div class="input_quantity">
                        <input
                                type="text"
                                min="{{ product.minimal_quantity|int }}"
                                value="{{ product.minimal_quantity|int }}"
                                max="999"
                                step="{{ product.quantity_of_complete|int }}"
                                class="input_quant">
                    </div>
                </div>
            </div>
        </div>
    {% enddjcache %}
{% endfor %}
