<!DOCTYPE html>
<html>
<head>
<title>Страница редактирования заказа.</title>
<meta charset="utf-8">
<script src="{{ MEDIA_URL }}js/jquery/jquery.js"></script>
<script src="{{ MEDIA_URL }}js/jquery/jquery-ui/jquery-ui-1.10.4.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
{# <script src="{{ MEDIA_URL }}js/jquery/jquery-1.10.2.js"></script> #}
</head>
<body>
    <div id="show_cart" style="color:Black;text-align:left;">
        {% if order.user %}<p>User: {{ order.user }}</p>{% endif %}
        {% if order.sessionid %}<p>SessionId: {{ order.sessionid }}</p>{% endif %}
        <p>ФИО: {{ order.FIO }}</p>
        <p>E-Mail: {{ order.email }}</p>
        <p>Номер мобильного телефона: {{ order.phone }}</p>
        <p>Страна: {{ order.country.name_ru }}</p>
        {% if order.country.pk == 1 %}
        <p>Область: {{ order.region }}</p>
        <p>Населённый пункт: {{ order.settlement }}</p>
        <p>Номер склада "Новая почта": {{ order.warehouse_number }}</p>
        {% else %}
        <p>Адресс: {{ order.address }}</p>
        <p>Почтовый индекс: {{ order.postcode }}</p>
        {% endif %}
        <p>Комментарий к заказу: {{ order.comment }}</p>
        <p>Жду реквизиты: {{ order.checkbox1|true_false }}</p>
        <p>Жду звонка: {{ order.checkbox2|true_false }}</p>

        <p>{% set url = order.pk|int_to_string %}
           {% set int_range = 6 - url|length %}
           {% if int_range > 0 %}
               {% for i in int_range|get_range %}
                   {% set url = '0' + url %}
                   {% if i == int_range - 1 %}
                       <a href="/админ/заказ/редактор/{{ url }}/">Заказ №: {{ url }}</a>
                   {% endif %}
               {% endfor %}
           {% endif %}</p>

        <form method="POST" action="/админ/заказ/отправка/">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="POST_NAME" value="order_dispatch ">
            <table id="table_carts" cols="6" summary="Корзина заказчика № {{ order.pk }}">
                <caption style="font-size:20px;">Корзина заказчика № {{ order.pk }}</caption>
                <thead>
                    <tr>
                        <th scope="col">Артикул</td>
                        <th scope="col">Наименование</th>
                        {# <th scope="col">Цвет</th> #}
                        {# <th scope="col">Размер</th> #}
                        {# <th scope="col" class="center"><p>Цена за штуку</p></td> #}
                        <th scope="col" style="text-align:center;">Цена</th>
                        <th scope="col" style="width:86px;text-align:center;">Кол-во</th>
                        <th scope="col" style="text-align:center;">Сумма</th>
                        <th scope="col" style="text-align:center;">Под заказ</th>
                        <th scope="col" style="text-align:center;">Удаление</th>
                    </tr>
                </thead>
{# {% include 'order/include/utils.script' %} #}
<script>
function CheckNumber(String){
	var Letters = ".,1234567890";
	var i;
	var c;
	for(i = 0; i < String.length; i ++){
		c = String.charAt( i );
		if (Letters.indexOf( c ) == -1){
			return true;
		}
	}
	return false;
}
var product_summ_of_quantity_array = new Array();
product_summ_of_quantity_array[0]=0;
// product_summ_of_quantity_array[999999]=0;
function ReCalcSumm(change){
    var summ=0;
	$.each(product_summ_of_quantity_array,function(i){
        var val=parseFloat(product_summ_of_quantity_array[i])
        if(0<=val&&val<=999999){
            summ+=val;
        }
    });
    if(change==true){$("#all_summ_of_quantity").html(summ.toFixed(2)+' {{ get_currency(request) }}');}
{#
    // if(parseInt(summ)<={{ 100|convert_currency(request) }}){$("#order_cart_input").prop("disabled",true);}
    // else{$("#order_cart_input").prop("disabled",false);}
#}
}
</script>
                <tbody>
                    {# {% set products=user_cart_.products %} #}
                    {% for product in order.products|sort(attribute='created_at') %}
                    {% set real_product=product.product %}
{# {1% include 'order/include/calc.script' %} #}
<script>
var price_qty_array_{{ product.pk }} = new Array();
var price_array_{{ product.pk }} = new Array();
price_qty_array_{{ product.pk }}[0]=1;
price_array_{{ product.pk }}[0]={{ real_product.get_price(request, price=None, calc_or_show='calc') }};
{#  {% if discount1 != None %}
		{% if discount1.price %}
			{% for discount in discounts %}
				<!--{1% if not forloop.first %}-->
				{% if forloop.last %}
price_qty_array[{{ forloop.counter }}]={{ discount.quantity_of_products }};
price_array[{{ forloop.counter }}]={{ discount.price|replace(",", ".") }};
price_qty_array[{{ forloop.counter|add:"1" }}]=999;
price_array[{{ forloop.counter|add:"1" }}]={{ discount.price|replace(",", ".") }};
				<!--{1% endif %}-->
				{% else %}
price_qty_array[{{ forloop.counter }}]={{ discount.quantity_of_products }};
price_array[{{ forloop.counter }}]={{ discount.price|replace(",", ".") }};
				{% endif %}
			{% endfor %}
		{% else %}
		{% endif %}
	{% else %} #}
price_qty_array_{{ product.pk }}[1]=999;
price_array_{{ product.pk }}[1]={{ real_product.get_price(request, price=None, calc_or_show='calc') }};
	{# {% endif %} #}
function Calculate_{{ product.pk }}(operation){
{# 	//var price=0.00;
	//var total=0.00;
	var Qut=$("#quantity_{{ product.pk }}").val(); #}
    var Qut=document.getElementById("quantity_{{ product.pk }}").value
{# //$("#quantity_order").val(Qut); #}
	$("#errorMsg").html('');
	if(CheckNumber(Qut)){
		//calculate();
		//alert('aaa'+Qut+'bbb');
		$("#errorMsg").html('Количество вводится цифрами!!!.');
		return false;
	}
	Qut=parseFloat(Qut);
	if(operation=='+'){
        Qut+={{ real_product.quantity_of_complete }};
        ajax_action='change_in_the_quantity';
    };
	if(operation=='-'){
        Qut-={{ real_product.quantity_of_complete }};
        ajax_action='change_in_the_quantity';
    };
	if(operation=='0'){
        ajax_action='change_delete';
    };
    {# Минимальное количество едениц товара, которое можно положить в корзину #}
	var minimal_quantity={{ real_product.minimal_quantity }};
    {# Количество едениц данного товара которые состовляют один полный комплект #}
	var quantity_of_complete={{ real_product.quantity_of_complete }};
    {# Вычисляем наибольшее количество едениц данного товара #}
    var number_of_full_sets = parseInt((999 - minimal_quantity)/quantity_of_complete, 10);
    var maximal_quantity = number_of_full_sets*quantity_of_complete+minimal_quantity;
	var intermediate_result=Qut-{{ real_product.minimal_quantity }};
	var result=intermediate_result%quantity_of_complete;
	if(result!=0&&intermediate_result!=0){
		result=Math.ceil(intermediate_result/quantity_of_complete);
		Qut=(result*quantity_of_complete)+minimal_quantity;
	}
	if(Qut<{{ real_product.minimal_quantity }}){
		Qut=minimal_quantity;
	}
	if(Qut>999){
        Qut=maximal_quantity;
	}
    {# Установить цифру в поле количество едениц конкретного товара #}
	$("#quantity_{{ product.pk }}").val(Qut);
    {# Взять стоимость товара из таблицы(массива) со скидками #}
	$.each(price_qty_array_{{ product.pk }},function(i,val){
		if(val<=Qut&&Qut<price_qty_array_{{ product.pk }}[eval(i+1)]){
            {# Вычислить сумму всех единиц данного товара #}
			var total=price_array_{{ product.pk }}[i]/{{ real_product.price_of_quantity }}*Qut;
			{# Установить сумму стоимости всех единиц товара в коллонке рядом с количеством #}
			$("#summ_of_quantity_{{ product.pk }}").html(total.toFixed(2)+' {{ get_currency(request) }}');
			{# Внести изменение в таблицу(массив) сумм  стоимостей всех товаров #}
			product_summ_of_quantity_array[{{ product.pk }}]=total.toFixed(2);
		}
	})
    $.post("/ajax/order/change/", {
            csrfmiddlewaretoken:'{{ csrf_token }}',
            action:ajax_action,
            product_pk:{{ product.pk }},
            quantity:Qut
        },
		function(data, textStatus, jqXHR){
		    if(data.action=='change_delete'){
                var tr_id=document.getElementById('tr_id_{{ product.pk }}');
                tr_id.style.display='none';
                product_summ_of_quantity_array.splice({{ product.pk }}, 1);
                ReCalcSumm(true);
            };
		    {# alert(data.result); #}
			{# // jQuery('#dynamic_div_showcart').html(data.html); #}
		},
		"json");
	ReCalcSumm(true);
    return true;
}
function onChange_{{ product.pk }}(){
	window.setInterval("Calculate_{{ product.pk }}('|')",500);
	//setTimeout(calculate(value),1500);
	return true;
}
</script>
                        <tr id="tr_id_{{ product.pk }}">
                            <td>
                                <a href="http://keksik.com.ua/admin/product/product/{{ real_product.id }}/">
                                    {{ real_product.get_ItemID }}
                                </a>
                            </td>
                            <td>
                                <input type="hidden"
                                       name="product_in_request_{{ product.pk }}"
                                       value="{{ product.pk }}"/>
                                <a href="{{ real_product.get_absolute_url() }}">
                                    {{ real_product.title }}
                                </a>
                            </td>
                            <td>
                                <input type="hidden"
                                       name="product_in_request_{{ product.pk }}"
                                       value="{{ product.pk }}"/>
                                <a href="{{ real_product.get_absolute_url() }}">
                                    {{ real_product.title }}
                                </a>
                            </td>
                            <td style="padding:0px;">
                                <li style="float:left;list-style-type:none;line-height:22px;">
                                    <a href="javascript:void(0);">
                                        <img src="/media/img/minus.gif"
                                            onClick="javascript:Calculate_{{ product.pk }}('-');">
                                    </a>
                                </li>
                                <li style="float:left;list-style-type:none;line-height:22px;">
                                    <input id="quantity_{{ product.pk }}"
                                           style="border:1px solid #CCCCCC;text-align:center;width:40px;padding:2px;"
                                           name="quantity_{{ product.pk }}"
                                           value="{{ product.quantity }}"
        								   onKeyUp="javascript:onChange_{{ product.pk }}();"
                                           type="text">
                                </li>
                                <li style="float:left;list-style-type:none;line-height:22px;">
                                    <a href="javascript:void(0);">
                                        <img src="/media/img/plus.gif"
                                            onClick="javascript:Calculate_{{ product.pk }}('+');">
                                    </a>
                                </li>
                            </td>
                            {# {% set product_summ_of_quantity = product.sum_of_quantity %}
                            {% set real_product_price_of_quantity = real_product.price_of_quantity %}
                            {% set summ_of_quantity =  product_summ_of_quantity/real_product_price_of_quantity %} {{ summ_of_quantity }} #}
                            <td><p id="summ_of_quantity_{{ product.pk }}">{{ product.sum_of_quantity(request) }} {{ get_currency(request) }}</p></td>
<script>
product_summ_of_quantity_array[{{ product.pk }}]={{ product.sum_of_quantity(request) }};{# |replace(",", ".") #} {# |trim_whitespace #}
</script>
                             <td style="text-align:center;">
                                {% if real_product.is_availability == 3 %}
                                    <input type="checkbox" disabled checked>
                                {% else %}
                                    <input type="checkbox" disabled>
                                {% endif %}
                            </td>
                            <td style="text-align:center;">
                                <input id="delete1_{{ product.pk }}"
                                       name="delete_{{ product.pk }}"
                                       {# checked="" #}
                                       {# onchange="javascript:delete_on_off('delete1_{{ product.pk }}','delete2_{{ product.pk }}')" #}
                                       type="checkbox">
                                <input id="delete1_{{ product.pk }}"
                                       name="delete_{{ product.pk }}"
                                       onClick="javascript:Calculate_{{ product.pk }}('0');"
                                       type="button"
                                       value="Удалить">
                            </td>
                        </tr>
                    {% endfor %}
{# <script>
function reselect_minus(IdString1, IdString2){
    var value = document.getElementById(IdString1).value
    if (value > 1 && value <= 999 ){
        document.getElementById(IdString1).value--;
        document.getElementById(IdString2).value--;
        ReCalcSumm();}
    return false;}
function reselect_plus(IdString1, IdString2){
    var value = document.getElementById(IdString1).value
    if (value >= 1 && value < 999 ){
        document.getElementById(IdString1).value++;
        document.getElementById(IdString2).value++;
        ReCalcSumm();}
    return false;} #}
{# <script>
function delete_on_off(IdString1, IdString2){
    var checked = document.getElementById(IdString1).checked
    document.getElementById(IdString2).checked = checked;
    return false;}
</script> #}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2"
                            style="text-align:right;">Сумма:</th>
                        <th colspan="2"
                            id="all_summ_of_quantity"
                            style="text-align:left;color:Red;font-size:18px;"></th>
                    </tr>
                </tfoot>
            </table>
<script>
function open_window_add_product(){
{% set url = order.pk|int_to_string %}
{% set int_range = 6 - url|length %}
{% if int_range > 0 %}
    {% for i in int_range|get_range %}
        {% set url = '0' + url %}
        {% if i == int_range - 1 %}
            {# <a href="/админ/заказ/редактор/{{ url }}/">{{ order.pk }}</a> #}
var newWin = window.open('/админ/заказ/редактор/товар/добавить/{{ url }}/', 'example', 'width=500,height=400');
        {% endif %}
    {% endfor %}
{% endif %}
newWin.focus();
}
{#
newWin.onload = function() {

  // создать div в документе нового окна
  var div = newWin.document.createElement('div');
  div.innerHTML = 'Добро пожаловать!'
  div.style.fontSize = '30px'


  var body = newWin.document.body;

  // вставить первым элементом в новое body
  body.insertBefore(div, body.firstChild);
#}
</script>
            <input style="float:left;list-style-type:none;line-height:22px;margin-right:5px;"
                   onclick="open_window_add_product();"
                   type="button"
                   value="Добавить товар в заказ.">
            <input style="float:left;list-style-type:none;line-height:22px;margin-right:5px;"
                   type="button"
                   value="Перечитать заказ с сервера.">
            <input style="list-style-type:none;line-height:22px;margin-right:5px;"
                   type="submit"
                   value="Отправить заказ покупателю.">
        </form>
        <div>
            <label for="query">Строка поиска и добавления товара</label>
            <input type="text" name="query-string" id="query">
<script>
    try{
        $(document).ready(
                $('#query').autocomplete({
                    source:function(request, response){
                        $.ajax({
                            type:'POST',
                            dataType:'json',
                            url:'/ajax/order/add/search/',
                            data:{
                                csrfmiddlewaretoken:'{{ csrf_token }}',
                                QueryString:request.term // поисковая фраза
                            },
                            success:function(data, textStatus, jqXHR){
                                response(
                                        $.map(
                                                data.results,
                                                    function(item){
                                                        return{
                                                            pk:item.pk,
                                                            label:item.name,
                                                            title:item.title
                                                        }
                                                    }
                                        )
                                )
                            }
                        });
                    },
                    select:function(event, ui){
                        $.ajax({
                            type:'POST',
                            dataType:'json',
                            url:'/ajax/order/change/',
                            data:{
                                csrfmiddlewaretoken:'{{ csrf_token }}',
                                action:'change_add',
                                order_pk:{{ order.pk }},
                                product_pk:ui.item.pk
                            },
                            success:function(data, textStatus, jqXHR){
                                if(data.result='Ok'){
                                    location.reload();
                                    return false;
                                }
                            }
                        });
                    },
                    minLength:2
                }) // начинать поиск с трех символов
        );
        {#                     // source:'/ajax/order/add/search/',

                            success:function(data, textStatus, jqXHR){
                                    response(
                                            $.map(data.suggestions, function(item){
                                                return{
                                                    pk:item.pk,
                                                    label:item.name,
                                                    title:item.title
                                                }
                                            })
                                    )
                            },
                            dataType:'json'
                        })
                    },
                    select:function(event, ui){
                        $.post({
                            url:'/ajax/order/change/',
                            data:{
                                csrfmiddlewaretoken:'{{ csrf_token }}',
                                action:'change_add',
                                product_pk:ui.item.pk
                            },
                            success:function(data, textStatus, jqXHR){
                            },
                            dataType: 'json'
                        });
                        location.reload();
                        return false;
                    },


                    maxHeight:400, // Максимальная высота списка подсказок, в пикселях
                    width:300, // Ширина списка
                    minChars:2, // Минимальная длина запроса для срабатывания автозаполнения
                    deferRequestBy:300 // Задержка запроса (мсек), на случай, если мы не хотим слать миллион запросов,
                    // пока пользователь печатает. Я обычно ставлю 300.
                })
        ) #}
    }
    catch(e){alert(e)}

    {# serviceUrl: 'service/autocomplete.ashx', // Страница для обработки запросов автозаполнения #}
    {#     minChars: 2, // Минимальная длина запроса для срабатывания автозаполнения
    delimiter: /(,|;)\s*/, // Разделитель для нескольких запросов, символ или регулярное выражение
    maxHeight: 400, // Максимальная высота списка подсказок, в пикселях
    width: 300, // Ширина списка
    zIndex: 9999, // z-index списка
    deferRequestBy: 0, // Задержка запроса (мсек), на случай, если мы не хотим слать миллион запросов, пока пользователь печатает. Я обычно ставлю 300.
    params: { country: 'Yes'}, // Дополнительные параметры
    onSelect: function(data, value){ }, // Callback функция, срабатывающая на выбор одного из предложенных вариантов,
    lookup: ['January', 'February', 'March'] // Список вариантов для локального автозаполнения
}));
catch(e){alert(e)}
    #}
</script>
        </div>
    </div>
<script>
$(document).ready(ReCalcSumm(true));
</script>
</body>
</html>
{#
        <form method="POST" action="/корзина/заказ/">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
            <input type="hidden" name="POST_NAME" value="order_cart"/>
            {1% for product in user_cart_.products %}
                <input id="quantity2_{{ product.pk }}"
                       name="quantity_{{ product.pk }}" value="{{ product.quantity }}"
                       type="hidden"/>
                <input id="delete2_{{ product.pk }}"
                       name="delete_{{ product.pk }}"
#}
                       {# checked="" #}
{#
                       type="hidden"/>
            {1% endfor %}
            <input id="order_cart_input"
                   type="submit"
                   value="Оформить заказ"/>
        </form>
 #}