{% extends 'root.jinja2' %}
{% block title %}Отписка от рассылки прошла успешно{% endblock %}
{% block content_center %}
<div id="unsub" style="display:block;margin-bottom:0;float:left;text-align:left;">
    Отписка от рассылки прошла успешно.
    Если Вы не подписывались на нашу рассылку - извините за доставленные неудобства.
</div>
{% endblock %}
