{% extends 'root.jinja2' %}
{% block title %}Корзина{% if request.user %} пользователя - {{ request.user }}{% endif %}{% endblock %}
{% block content_center %}
<!-- Google Code for &#1050;&#1086;&#1088;&#1079;&#1080;&#1085;&#1072; Conversion Page -->
<script type="text/javascript">/* <![CDATA[ */
var google_conversion_id = 956428395;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "3GxSCPWDqVkQ6-CHyAM";
var google_remarketing_only = false;
/* ]]> */</script>
<script src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript><div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/956428395/?label=3GxSCPWDqVkQ6-CHyAM&amp;guid=ON&amp;script=0"/>
</div></noscript>{# Google Conversion #}
    <div id="show_cart">
        {{ block(request, place_of_use='cart', cart=user_cart_)|safe }}
    </div>
    <div id="coupon">
        <div id="havecoupon">
            <a href=""
               title="У Вас есть скидочный купон?">У Вас есть купон на скидку в магазине Кексик?</a>
        </div>
        <div id="msg-coupon">
        </div>
        <div id="form-coupon">
            <label for="input-coupon">Введите код Вашего купона:</label>
            <div id="form-control-coupon">
                <input id="input-coupon" type="text">
                <button type="submit"
                        id="form-control-coupon-button">Применить купон</button>
                <div id="result-html"></div>
<script>
document.getElementById('form-control-coupon-button').onclick = function() {
    var value = document.getElementById('input-coupon').value;
    jQuery.post("/ajax/coupon/test/",{
            csrfmiddlewaretoken:'{{ csrf_token }}',
            value:value
        },
		function(data, textStatus, jqXHR){
            if(data.result=='Bad'){
                jQuery('#msg-coupon').html('<p>'+data.help_text+'</p>');
            }else{
                jQuery('#msg-coupon').html('<p>'+data.help_text+'</p>');
                percentage_discount_coupon=data.percentage_discount;
                var tfoot = document.getElementsByTagName('tfoot')[0];
                var tr = document.createElement('tr');
                var th = document.createElement('th');
                th.setAttribute('colspan', '3');
                th.style='text-align:right;';
                var th_text = document.createTextNode('Купон с дисконтом '+percentage_discount_coupon+'% - скидка:');
                th.appendChild(th_text);
                tr.appendChild(th);

                th = document.createElement('th');
                th.id='all_sum_discount_in_cart';
                th.style='text-align:center;color:Red;font-size:18px;border-width:0px 1px;border-color:Black;border-style:solid;';
                tr.appendChild(th);

                th = document.createElement('th');
                th.style="border-width:0px 1px;border-color:Black;border-style:solid;";
                tr.appendChild(th);

                th = document.createElement('th');
                tr.appendChild(th);

                tfoot.insertBefore(tr, tfoot.firstChild);
                ReCalcSum(true);
            }
		},
		"json");
}
</script>
            </div>
        </div>
    </div>
{# {1% endif %} #}
{% endblock %}
