{% extends 'root.jinja2.html' %}
{% block title %}{{ page.meta_title }}{% endblock %}
{% block description %}{{ page.meta_description }}{% endblock %}
{% block keywords %}{{ page.meta_keywords }}{% endblock %}
{% block content_center -%}
{# <style>
#strong{
    font:20px;
}
</style> #}
<div style="color:Black;text-align:center;font-size:19px;">
<strong{# id="strong" #}>{{ page.title }}</strong>
</div>
<div style="color:Black;text-align:justify;font-size:16px;">
{{ html_text|safe }}
</div>
{% endblock -%}
