<!DOCTYPE html>
<html>
<head>
{% compress css %}
{% block block_title %}
    <title>
        {% block title %}{% endblock %}
    </title>
{% endblock %}
{% block block_description %}
    <title>
        {% block description %}{% endblock %}
    </title>
{% endblock %}
{% block block_keywords %}
    <title>
        {% block keywords %}{% endblock %}
    </title>
{% endblock %}
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/media/css/base_style.css" />
{% block header_css %}{% endblock %}
<script type="text/javascript" src="/media/js/jquery/jquery.js"></script>
<script type="text/javascript" src="/media/js/animate_cart.js"></script>
{% block header_js %}{% endblock %}
{% block ajax %}
{% if request.session.ajax_resolution %}
<script>
try{jQuery(document).ready(function(e) {
        var browserWindow = $(window);
        var width = browserWindow.width();
        var height = browserWindow.height();
        $.post("/ajax/resolution/", {
                width:width,
                height:height,
                csrfmiddlewaretoken:'{{ csrf_token }}'
            },
            function(data){alert(data);}
        );
    });
}catch(e){alert(e)}
</script>
{% endif %}
{% if request.session.ajax_cookie %}
<script>
try{jQuery(document).ready(function(e) {
        jQuery.post("/ajax/cookie/", {
                csrfmiddlewaretoken:'{{ csrf_token }}'
            },
            function(data){alert(data);}
        );
    });
}catch(e){alert(e)}
</script>
{% endif %}
{% endblock %}
{% endcompress %}
</head>
<body>
<!-- Google.Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42833173-1', 'keksik.com.ua');
  ga('send', 'pageview');
</script>
<!-- /Google.Analytics -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21943054 = new Ya.Metrika({id:21943054,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    trackHash:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div>
        <img src="//mc.yandex.ru/watch/21943054" style="position:absolute; left:-9999px;" alt=""/>
    </div>
</noscript>
<!-- /Yandex.Metrika counter -->
<!--LiveInternet counter-->
<script type="text/javascript">
<!--
new Image().src = "//counter.yadro.ru/hit?r"+escape(document.referrer)+((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+";h"+escape(document.title.substring(0,80))+";"+Math.random();
//-->
</script>
<!--/LiveInternet-->
<div id="body">
{% block content %}
{% block content_center %}
{% endblock %}
{% endblock %}
</div>
<div id="footer">
<!--LiveInternet logo-->
<a href="http://www.liveinternet.ru/click"
   target="_blank">
    <img src="//counter.yadro.ru/logo?29.6"
         title="LiveInternet: показано количество просмотров и посетителей"
         alt="" border="0" width="88" height="120"/>
</a>
<!--/LiveInternet-->
<!-- Yandex.Metrika informer -->
<a href="http://metrika.yandex.ru/stat/?id=21943054&amp;from=informer"
   target="_blank" rel="nofollow">
    <img src="//bs.yandex.ru/informer/21943054/3_0_ECFF20FF_CCFF00FF_0_pageviews"
         style="width:88px; height:31px; border:0;"
         alt="Яндекс.Метрика"
         title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)"
         onclick="try{Ya.Metrika.informer({i:this,id:21943054,lang:'ru'});return false}catch(e){}"/>
</a>
<!-- /Yandex.Metrika informer -->
</div>
</body>
</html>