<!DOCTYPE html>
<html>
<head>
{% compress css %}
{% block block_title %}<title>{% block title %}{% endblock %}</title>{% endblock %}
{% block block_description %}<meta name="description" content="{% block description %}{% endblock %}">{% endblock %}
{% block block_keywords %}<meta name="keywords" content="{% block keywords %}{% endblock %}">{% endblock %}
{# <base href="http://keksik.com.ua/" target="_blank"> - загрузить страницу в новой вкладке броузера #}
{# <base href="http://keksik.com.ua/" target="_self"> #}
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/base_style.css" />
{% block root_header_css %}{% endblock %}
{% block header_css %}{% endblock %}
{% block category_header_css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/category_style.css" />
{% endblock %}
{% block product_header_css %}{% endblock %}
<script src="{{ MEDIA_URL }}js/jquery/jquery.js"></script>
<script src="{{ MEDIA_URL }}js/animate_cart.js"></script>
{% block root_header_js %}{% endblock %}
{% block header_js %}{% endblock %}
{% block ajax %}
{% if request.session.ajax_resolution %}
<script>
try{jQuery(document).ready(function(e) {
        var browserWindow = $(window);
        var width = browserWindow.width();
        var height = browserWindow.height();
        $.post("/ajax/resolution/", {
                width:width,
                height:height,
                csrfmiddlewaretoken:'{{ csrf_token }}'
            },
            function(data){alert(data);}
        );
    });
}catch(e){alert(e)}
</script>
{% endif %}
{% if request.session.ajax_cookie %}
<script>
try{jQuery(document).ready(function(e) {
        jQuery.post("/ajax/cookie/", {
                csrfmiddlewaretoken:'{{ csrf_token }}'
            },
            function(data){alert(data);}
        );
    });
}catch(e){alert(e)}
</script>
{% endif %}
{% endblock %}
{% endcompress %}
</head>
<body style='background: url("{{ MEDIA_URL }}/img/background6.jpg") no-repeat fixed center top transparent;"'>
{# <!-- Google.Analytics --> #}{% include 'include/Google.Analytics.script' %}{# <!-- /Google.Analytics --> #}
{# <!-- Yandex.Metrika counter --> #}{% include 'include/Yandex.Metrica.script' %}{# <!-- /Yandex.Metrika counter --> #}
{# <!--LiveInternet counter--> #}{% include 'include/LiveInternet.script' %}{# <!--/LiveInternet--> #}
<div id="body">
{% block content %}
{% block content_center %}
{% endblock %}
{% endblock %}
</div>
<div id="footer">
{# <!--LiveInternet logo--> #}{% include 'include/LiveInternet.html' %}{# <!--/LiveInternet--> #}
{# <!-- Yandex.Metrika informer --> #}{% include 'include/Yandex.Metrica.html' %}{# <!-- /Yandex.Metrika informer --> #}
</div>
</body>
</html>