<!DOCTYPE html>
<html lang="ru">
<head>
{# {% compress css %} #}
{% block block_title %}<title>{% block title %}{% endblock %}</title>{% endblock %}
{% block block_description %}<meta name="description" content="{% block description %}{% endblock %}">{% endblock %}
{% block block_keywords %}<meta name="keywords" content="{% block keywords %}{% endblock %}">{% endblock %}
{# <base href="http://keksik.com.ua/" target="_blank"> - загрузить страницу в новой вкладке броузера #}
{# <base href="http://keksik.com.ua/" target="_self"> #}
<link rel="icon"{#  type="image/png" #} href="/media/img/favicon.png">
<meta charset="UTF-8">
{# <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> #}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/base_style.css">
{% block root_header_css %}{% endblock %}
{% block header_css %}{% endblock %}
{% block category_header_css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/categories_products_style.css">
{% endblock %}
{% block product_header_css %}{% endblock %}
<script src="{{ MEDIA_URL }}js/jquery/jquery.js"></script>
<script src="{{ MEDIA_URL }}js/animate_cart.js"></script>
{% block root_header_js %}{% endblock %}
{% block header_js %}{% endblock %}
{% block header_javascript1 %}{% endblock %}
{% block header_javascript2 %}{% endblock %}
{% block ajax %}
{% if request.session.ajax_resolution %}
<script>
try{$(document).ready(function(e) {
        var browserWindow = $(window);
        var width = browserWindow.width();
        var height = browserWindow.height();
        $.post("/ajax/resolution/", {
                width:width,
                height:height,
                csrfmiddlewaretoken:'{{ csrf_token }}'
            },
            function(data){alert(data);}
        );
    });
}catch(e){alert(e)}
</script>
{% endif %}
{% if request.session.ajax_cookie %}
<script>
try{$(document).ready(function(e) {
        $.post("/ajax/cookie/", {
                csrfmiddlewaretoken:'{{ csrf_token }}'
            },
            function(data){alert(data);}
        );
    });
}catch(e){alert(e)}
</script>
{% endif %}
{% endblock %}
{# {% endcompress %} #}
</head>
<body style='background:url("{{ MEDIA_URL }}img/background2.jpg") repeat fixed center top transparent;'>
{# http://www.wmtoolbox.net/ #}<!--4fa659d3-->
{# <!-- Google.Analytics --> #}{% include 'include/Google.Analytics.script' %}{# <!-- /Google.Analytics --> #}
{# <!-- Yandex.Metrika counter --> #}{% include 'include/Yandex.Metrica.script' %}{# <!-- /Yandex.Metrika --> #}
{# <!-- LiveInternet counter --> #}{% include 'include/LiveInternet.script' %}{# <!--/LiveInternet--> #}
{# <!-- Mail.ru counter --> #}{% include 'include/Mail.ru.script' %}{# <!--/Mail.ru--> #}
<div id="body">
<style>
body div#body p#to-top{
    position:fixed;
    bottom:30px;
    right:30px;
    z-index:999;
}
</style>
<p id="to-top">
<style>
body div#body p#to-top a{
    width:108px;
    display:block;
    text-align:center;
    font:11px/100% Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    text-decoration:none;
    color:#bbb;
    /* transition */
    -webkit-transition:1s;
    -moz-transition:1s;
    transition:1s;
}
body div#body p#to-top a:hover{
    color:#000;
}
</style>
    <a href="#top">
<style>
/* arrow icon (span tag) */
body div#body p#to-top span{
    width:108px;
    height:108px;
    display:block;
    margin-bottom:7px;
    background:#ddd url({{ MEDIA_URL }}img/arrow_to_top.png) no-repeat center center;
    /* rounded corners */
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    /* transition */
    -webkit-transition:1s;
    -moz-transition:1s;
    transition:1s;
}
body div#body p#to-top a:hover span{
    background-color:#777;
}
</style>
        <span></span>Вверх</a>
</p>
<script>
$(document).ready(function(){
    // hide #to-top first
    $("p#to-top").hide();
    // fade in #to-top
    $(function(){
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('p#to-top').fadeIn();
            }
            else{
                $('p#to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('p#to-top a').click(function(){
            $('body,html').animate({
                scrollTop:0
            }, 2000);
            return false;
        });
    });
});
</script>
{% block content %}
{% block content_center %}
{% endblock %}
{% endblock %}
</div>
<div id="footer">
{% if user.is_authenticated and user.is_staff %}
{# <!-- LiveInternet logo --> #}{% include 'include/LiveInternet.html' %}{# <!--/LiveInternet--> #}
{% endif %}
{% if user.is_authenticated and user.is_staff %}
{# <!-- Yandex.Metrika informer --> #}{% include 'include/Yandex.Metrica.html' %}{# <!-- /Yandex.Metrika --> #}
{% endif %}
{% if not user.is_staff %}
<div style="display:none">
{% endif %}
{# <!-- i.ua informer --> #}{% include 'include/i.ua.script' %}{# <!-- /i.ua --> #}
{% if not user.is_staff %}
</div>
{% endif %}
{% if user.is_authenticated and user.is_staff %}
{# <!-- Mail.ru informer --> #}{% include 'include/Mail.ru.html' %}{# <!-- /Mail.ru --> #}
{% endif %}
{% if not user.is_staff %}
<div style="display:none">
{% endif %}
{# <!-- rambler.ru informer --> #}{% include 'include/rambler.ru.script' %}{# <!-- /rambler.ru --> #}
{% if not user.is_staff %}
</div>
{% endif %}
</div>
{# <link rel="stylesheet" href="http://cdn.callbackhunter.com/widget/tracker.css"> #}
<div id="clb_div" class="callback_banner-wrapper">
    <div id="clb_div_ban" class="callback_banner callback_closed">
        <div id="clb_exit"
             class="callback_banner-exit"
                onClick="MouseClick_Close();"></div>
        <div class="callback_banner-body">
            <div id="clb_banner_h1" class="callback_banner-h1">Вы хотите что-бы мы Вам перезвонили, пожалуйста заполните поля ниже!!!</div>
            <div class="callback_banner-form-row-1">
                <div id="clb_banner_content" class="callback_banner-form">
                    <div class="callback_banner-arrow"></div>
                    <div id="clb_name_line" class="callback_line">
                        <input type="text" maxlength="64" value="" id="clb_name" placeholder="Enter your Name" class="callback_input-charbox">
                    </div>
                    <div id="clb_email_line" class="callback_line">
                        <input type="text" maxlength="32" value="" id="clb_email" placeholder="Enter your E-Mail" class="callback_input-charbox">
                    </div>
                    <div id="clb_phone_line" class="callback_line">
                        <input type="text" maxlength="32" value="" id="clb_phone" placeholder="Enter your phone number" class="callback_input-charbox">
                        <button id="clb_send" class="callback_submit-button">Call me!</button>
<script>
document.getElementById('clb_send').onclick=function(){
    var name = document.getElementById('clb_name').value;
    var email = document.getElementById('clb_email').value;
    var phone = document.getElementById('clb_phone').value;
    $.post("/ajax/callback/send/",{
                csrfmiddlewaretoken:'{{ csrf_token }}',
                sessionid:'{{ request.session.session_key }}',
                userid:'{% if request.user %}{{ request.user.id }}{% else %}0{% endif %}',
                name:name,
                email:email,
                phone:phone
        },
		function(data, textStatus, jqXHR){
            if(data.result=='Bad'){
                document.getElementById('clb_banner_bg').style.display="none";
                document.getElementById('clb_div_ban').classList.add('callback_closed');
                document.getElementById('body').classList.remove('callback_blur');
                document.getElementById('footer').classList.remove('callback_blur');
                alert('Ваши данные не принял сервер по причине:'+data.error);
            }else{
                document.getElementById('clb_banner_bg').style.display="none";
                document.getElementById('clb_div_ban').classList.add('callback_closed');
                document.getElementById('body').classList.remove('callback_blur');
                document.getElementById('footer').classList.remove('callback_blur');
                alert('Наш менеджер свяжется с Вами в ближайшее время');
		}
        },
		"json");
};
</script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="clb_banner_bg"
         class="callback_banner_bg"
         onclick="MouseClick_Close()"></div>
</div>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/callback/style.css">
<div id="clb-phone_div"
     class="clb-phone clb-green clb-show clb-static"
     style="top:25px;right:25px;"
     onmouseover="MouseOver();"
     onmouseout="MouseOut();"
     onclick="MouseClick();"
     title="Заказать обратный звонок с сайта">
    <div class="clb-ph-circle"></div>
    <div class="clb-ph-circle-fill"></div>
    <div class="clb-ph-img-circle"></div>
</div>
<script>
    {# document.getElementById('clb-phone_div').onMouseEnter=function(){
    alert('Enter'); #}
function MouseOver(){
    document.getElementById('clb-phone_div').classList.add('clb-hover');
    document.getElementById('clb-phone_div').classList.remove('clb-static');
}
    {# document.getElementById('clb-phone_div').onMouseOver=function(){
    alert('Over'); #}
function MouseOut() {
    document.getElementById('clb-phone_div').classList.remove('clb-hover');
    document.getElementById('clb-phone_div').classList.add('clb-static');
}
function MouseClick(){
    document.getElementById('clb_banner_bg').style.display="block";
    document.getElementById('clb_div_ban').classList.remove('callback_closed');
    document.getElementById('body').classList.add('callback_blur');
    document.getElementById('footer').classList.add('callback_blur');
}
function MouseClick_Close(){
    document.getElementById('clb_banner_bg').style.display="none";
    document.getElementById('clb_div_ban').classList.add('callback_closed');
    document.getElementById('body').classList.remove('callback_blur');
    document.getElementById('footer').classList.remove('callback_blur');
}
</script>
</body>
</html>