{% extends "base.jinja2.html" %}
{% block header_css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/root_style.css" />
{# <!-- Start WOWSlider.com HEAD section --> #}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/wowslider/style.css" />
{# <!-- End WOWSlider.com HEAD section --> #}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/vertical-account-menu/blue.css" />
{% endblock %}
{% block header_js %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/dcjqaccordion/cookie.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/dcjqaccordion/hoverIntent.minified.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/dcjqaccordion/dcjqaccordion.2.9.js"></script>
<script>
try{
    $(document).ready(function($){
        $('#accordion_menu').dcAccordion({
            eventType:'hover',
            autoClose:false,
            saveState:true,
            disableLink:false,
            speed:'slow',
            showCount:true,
            autoExpand:true,
            menuClose:true,
            cookie:'dcjq-accordion',
            classExpand:'dcjq-current-parent'
    });
});
}catch(e){ alert(e) }
</script>
<script src="{{ MEDIA_URL }}js/jquery/fancybox/mousewheel-3.0.6.pack.js"></script>
<script src="{{ MEDIA_URL }}js/jquery/fancybox/fancybox.pack.js?v=2.1.4"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/fancybox/fancybox.css?v=2.1.4" media="screen" />
<script>
try{
    $(document).ready(function() {
        $(".fancybox").fancybox({
            prevEffect		: 'elastic',
            nextEffect		: 'elastic',
            closeBtn		: true,
            helpers		: {
                title	: { type : 'inside' }
        {#                 buttons	: {} #}
            }
        });
    })
}catch(e){ alert(e) }
</script>
{% endblock %}
{% block content %}
    <div id="header">
        <div id="static_menu-wrapper">
            <div id="static_menu">
                <ul>
                    <li>
                        <a href="/">Главная</a>
                    </li>
                    <li>
                        <a href="/">Статьи</a>
                    </li>
                    <li>
                        <a href="/">Новинки</a>
                    </li>
                    <li>
                        <a href="/">Оплата</a>
                    </li>
                    <li>
                        <a href="/">Доставка</a>
                    </li>
                    <li>
                        <a href="/">Скидки</a>
                    </li>
                    <li>
                        <a href="/">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="cart"><a href="/корзина/">Корзина:</a></div>
        <div id="auth">Вход/Регистрация{# {{ social_auth_widget() }} #}</div>
        <div id="div_logo">
            <a id="logo"
               href="/"
               title="Главная страница интернет-магазина keksik.com.ua"
               alt="Кексик с глазами - интернет магазин kekesik.com.ua">
            </a>
        </div>
        {# <!-- Start WOWSlider.com BODY section --> #}
        <div id="wowslider-container1">
        	<div class="ws_images">
                <ul>
                    <li>
                        <a href="/1" target="_self">
                            <img src="/media/img/wowslider/chrysanthemum.jpg"
                                 alt="АЛЬТ первого слайда"
                                 title="ТИТЛ первого слайда"
                                 id="wows1_0"/>
                        </a>Первый слайд
                    </li>
                    <li>
                        <a href="/2" target="_blank">
                            <img src="/media/img/wowslider/desert.jpg"
                                 alt="АЛЬТ второго слайда"
                                 title="ТИТЛ второго слайда"
                                 id="wows1_1"/>
                        </a>Второй слайд
                    </li>
                    <li><a href="/3" target="_parent">
                           <img src="/media/img/wowslider/hydrangeas.jpg"
                                alt="АЛЬТ третьего слайда"
                                title="ТИТЛ третьего слайда"
                                id="wows1_2"/>
                        </a>Третий слайд
                    </li>
                </ul>
            </div>
            <div class="ws_bullets">
                <div>
                    <a href="#" title="Chrysanthemum"><img src="/media/img/wowslider/mini/chrysanthemum.jpg" alt="Chrysanthemum"/>1</a>
                    <a href="#" title="Desertkjnkjnkn"><img src="/media/img/wowslider/mini/desert.jpg" alt="Desertkjnkjnkn"/>2</a>
                    <a href="#" title="Hydrangeas iuhiuhih"><img src="/media/img/wowslider/mini/hydrangeas.jpg" alt="Hydrangeas iuhiuhih"/>3</a>
                </div>
            </div>
        	<div class="ws_shadow"></div>
       	</div>
        <script type="text/javascript" src="/media/js/jquery/wowslider/wowslider.js"></script>
       	<script type="text/javascript" src="/media/js/jquery/wowslider/script.js"></script>
       	{# <!-- End WOWSlider.com BODY section --> #}
    </div>
    {# <p>Категории верхнего уровня:</p> #}
{#     {% for cat in categories_ %} #}
{#         <li></a><a href='{{ url(show_category, template_name='category/show_category.jinja2.html', category_url=cat.url, id=cat.pk, ) }}'>{{ cat.title }}</a></li> #}
{#     {% if not cat.parent %}
        <p style='display:inline;'>Категория первого уровня:</p>
        <li><a href='{{ cat.get_absolute_url() }}'>{{ cat.title }}</a></li>
        {% endif %}
    {% else %}
        Каталог пуст
    {% endfor %} #}
    <div id="main">
    <div id="main_left">
    <div id="accordion_menu" class="left_menu">
    <p class="left_title">Категории</p>
    <ul id='accordion' class="menu basement">
        {% for cat in categories_basement_ recursive %}
            <li>
                <a href="{{ cat.get_absolute_url() }}"
                   alt='{{ cat.name }}'
                   title="{{ cat.title }}">{{ cat.title }}</a>
                {% set children = cat.children.all() %}
                {% if children %}
                    <ul class="submenu sub_level">{{ loop(children) }}</ul>
                {% endif %}</li>
        {% endfor %}
        <li>
            <a href="/"
               alt='Домой'
               title="Корень сайта Shop">Корень Shop</a>
        </li>
    </ul>
    </div>
    </div>
    <div id="main_center">
    {% block content_center %}
    {% endblock %}
    </div>
    <div id="main_right">

    </div>
    </div>
{% endblock %}
