{% extends "base.jinja2.html" %}
{% block root_header_css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/root_style.css" />
{# <!-- Start WOWSlider.com HEAD section --> #}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/wowslider/style.css" />
{# <!-- End WOWSlider.com HEAD section --> #}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/vertical-account-menu/blue.css" />
{# bxSlider CSS file #}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/bxSlider/bxSlider.css" />
{# tabSlider CSS file #}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/tabSlider/tabSlider.css" />
{% endblock %}
{% block root_header_js %}
<script src="{{ MEDIA_URL }}js/jquery/dcjqaccordion/cookie.js"></script>
<script src="{{ MEDIA_URL }}js/jquery/dcjqaccordion/hoverIntent.minified.js"></script>
<script src="{{ MEDIA_URL }}js/jquery/dcjqaccordion/dcjqaccordion.2.9.js"></script>
<script src="{{ MEDIA_URL }}js/jquery/dcjqaccordion/initial.js"></script>
{# bxSlider Javascript file #}
<script src="{{ MEDIA_URL }}js/jquery/rightSlider/rightSlider.min.js"></script>
{# Init bxSlider Javascript file #}
<script src="{{ MEDIA_URL }}js/jquery/rightSlider/Init.js"></script>
{# <script src="{{ MEDIA_URL }}js/jquery/fancybox/mousewheel-3.0.6.pack.js"></script>
<script src="{{ MEDIA_URL }}js/jquery/fancybox/fancybox.pack.js?v=2.1.4"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/fancybox/fancybox.css?v=2.1.4" media="screen" />
<script>
try{
    $(document).ready(function() {
        $(".fancybox").fancybox({
            prevEffect		: 'elastic',
            nextEffect		: 'elastic',
            closeBtn		: true,
            helpers		: {
                title	: { type : 'inside' }
        {1#                 buttons	: {} #1}
            }
        });
    })
}catch(e){ alert(e) }
</script> #}
{# tabSlider Javascript file #}
<script src="/media/js/jquery/tabSlider/tabSlideOut.js"></script>
<script src="/media/js/jquery/tabSlider/LeftInit.js"></script>
<script src="/media/js/jquery/tabSlider/TopInit.js"></script>
{# try{jQuery(document).ready(function() {
        $('.feedback-panel').tabSlideOut({
            tabHandle: '.feedback-tab',                   //class of the element that will be your tab -doesnt have to be an anchor
            pathToTabImage: '/media/img/feedbacktab.gif', //relative path to the image for the tab
            imageHeight: '99px',                          //height of tab image
            imageWidth: '30px'                            //width of tab image
        });
    })
}catch(e){ alert(e) }
 #}
{# try{
    $(document).ready(function() {
    var feedbackTab = {

        speed:300,
        containerWidth:$('.feedback-panel').outerWidth(),
        containerHeight:$('.feedback-panel').outerHeight(),
        tabWidth:$('.feedback-tab').outerWidth(),

        init:function(){
            $('.feedback-panel').css('height',feedbackTab.containerHeight + 'px');

            $('a.feedback-tab').click(function(event){
                if ($('.feedback-panel').hasClass('open')) {
                    $('.feedback-panel')
                    .animate({left:'-' + feedbackTab.containerWidth}, feedbackTab.speed)
                    .removeClass('open');
                } else {
                    $('.feedback-panel')
                    .animate({left:'0'},  feedbackTab.speed)
                    .addClass('open');
                }
                event.preventDefault();
            });
        }
    };
    });

    feedbackTab.init();
}catch(e){ alert(e) } #}
{# </script> #}
{% endblock %}
{% block content %}
<div class="feedback-panel" style="z-index:200;">
    <a class="feedback-tab" href="http://www.проверка.com/">Проверка</a>
    {# <a href="#">aaa123</a> #}
    <a id="logo1"
       href="/"
       title="Главная страница интернет-магазина keksik.com.ua"
       {# alt="Кексик с глазами - интернет магазин keksik.com.ua" #}>
        <img src="/media/img/logo.png" alt="проверка img" />
    </a>

    {# <!-- Start SiteHeart code --> #}
{# <script>
    (function(){
    var widget_id = 25530786;
    _shcp =[{widget_id : widget_id}];
    var lang =(navigator.language || navigator.systemLanguage
    || navigator.userLanguage ||"en")
    .substr(0,2).toLowerCase();
    var url ="widget.siteheart.com/widget/sh/"+ widget_id +"/"+ lang +"/widget.js";
    var hcc = document.createElement("script");
    hcc.type ="text/javascript";
    hcc.async =true;
    hcc.src =("https:"== document.location.protocol ?"https":"http")
    +"://"+ url;
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hcc, s.nextSibling);
    })();
</script> #}
    {# <!-- End SiteHeart code --> #}
</div>
{% if user.is_anonymous %}
    <div id="auth" class="auth-panel">
        <a class="auth-tab" href="http://www.проверка.com">Проверка</a>
        <a href="/accounts/signin/">Вход</a>/
        <a href="/accounts/signup/">Регистрация</a>{# {{ social_auth_widget() }} #}
        <a href="/social/login/odnoklassniki/">odnoklassniki-oauth2</a>
        <a href="/social/login/vk-oauth2/">vk-oauth2/</a>
    </div>
{% endif %}
<div id="cart" class="opened">
    <div id="cart_button" style="float:left;height:150px;overflow:hidden;width:60px;display:block;">
        <a onclick="Cart.toggle();return false;" href="javascript:void(0)" style="line-height:0px;">
            <img width="60" src="{{ MEDIA_URL }}img/shopping_cart.png" alt="Корзина">
        </a>
    </div>
    <div id="showcart" style="background:none repeat scroll 0 0 #fff6c9;border:1px solid #CECECE;border-radius:15px 0 0 15px;margin-left:70px;padding:10px;display:block;">{# googleoff: all #}
        {# <noindex> #}
            <div id="dynamic_div_showcart" style="color:Black;">
                <b>Позиций:</b> {{ user_cart_.count_name_of_products }}
                <br>
                <b>На сумму:</b> {{ user_cart_.summ_money_of_all_products_grn }} грн. {{ user_cart_.summ_money_of_all_products_kop }} коп.
                <br>
            </div>
            <b><a href="/корзина/" style="font-size:18px;margin-top:7px;display:block;">Перейти в корзину</a></b>
        {# </noindex> #}{# googleon: all #}
    </div>
</div>
<div id="header">
    <div id="static_menu-wrapper">
        <div id="static_menu">
            <ul>
                {% for static_page in static_pages_ %}
                    <li>
                        {% set static_path = '/' + static_page.url + '/' %}
{#                         {% for static_page_path in static_pages_ %}
                            {% if request.path == static_path %}
                                {% set static_path = '/' + static_page.url + '/' %}
                            {% endif %}
                        {% endfor %} #}
                        <a href="{{ static_path }}">{{ static_page.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {# <div id="cart"><a href="/корзина/">Корзина:</a></div> #}
    {#             <p>User: {{ user }}</p>
                <p>Authenticated: {{ user.is_authenticated }}</p>
                <p>Anonymous: {{ user.is_anonymous }}</p>
                <p>Staff: {{ user.is_staff }}</p> #}
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            {% if request.session.category %}
                <div id="category_admin"><a href="/admin/product/category/{{ current_category.pk }}/">{{ current_category.title }}</a></div>
            {% endif %}
            {% if request.session.product %}
                <div id="product_admin"><a href="/admin/product/product/{{ product.pk }}/">{{ product.title }}</a></div>
            {% endif %}
        {% endif %}
    {% endif %}
    <div id="div_logo">
        <a id="logo"
           href="/"
           title="Главная страница интернет-магазина keksik.com.ua"
           {# alt="Кексик с глазами - интернет магазин keksik.com.ua" #}>
        </a>
    </div>
    {% if slides_ %}
    {# <!-- Start WOWSlider.com BODY section --> #}
    <div id="wowslider-container1">
        <div class="ws_images">
            <ul>
                {% for slide in slides_ %}
                    <li>
                        <a href="{{ slide.url }}" target="_self">
                            <img src="{{ slide.slide.url }}"
                                 {% if slide.alt %}alt="{{ slide.alt }}"{% endif %}
                                 {% if slide.title %}title="{{ slide.title }}"{% endif %}
                                 id="wows1_{{ slide.order }}"/>
                        </a>{{ slide.text }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="ws_bullets">
            <div>
                {% for slide in slides_ %}
                    <a href="#" {% if slide.title %}title="{{ slide.title }}"{% endif %}>
                        <img src="{{ slide.slide.url_240x96 }}"
                             {% if slide.alt %}alt="{{ slide.alt }}"{% endif %}/>
                        {{ slide.order}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="ws_shadow"></div>
        <script src="{{ MEDIA_URL }}js/jquery/wowslider/wowslider.js"></script>
        <script src="{{ MEDIA_URL }}js/jquery/wowslider/script.js"></script>
    </div>
    {# <!-- End WOWSlider.com BODY section --> #}
    {% endif %}
</div>
<div id="main" class="clearFloat">
{# <style>
#main_left{
    float:left;
}
</style> #}
{# <div style="width:100%;height:1px;clear:both;"></div> #}
    <div id="main_left">
        <div id="accordion_menu" class="left_menu">
            <a class="left_title" href="/категории/" title="Категории верхнего уровная">Категории</a>
            <ul id='accordion' class="menu basement">
                {% for cat in categories_basement_ recursive %}
                    {% set children = cat.children.all()|sort(attribute=serial_number) %}
                    <li{% if children %} attribute="children_true"{% endif %}>
                        <a {% if cat.shown_colored or cat.shown_bold or cat.shown_italic %}class="{% if cat.shown_colored %}colored {% endif %}{% if cat.shown_bold %}bold {% endif %}{% if cat.shown_italic %}italic{% endif %}" {% endif %}href="{{ cat.get_absolute_url() }}" style="font-size:{{ cat.font_px }}px;"
                           {# alt="{{ cat.name }}" #}
                           title="{{ cat.title }}">{{ cat.title }}</a>
                        {% if children %}
                            <ul class="submenu sub_level">{{ loop(children) }}</ul>
                        {% endif %}
                    </li>
                {% endfor %}
                {# <li>
                    <a href="/"
                       alt='Домой'
                       title="Корень сайта Shop">Корень Shop</a>
                </li> #}
            </ul>
        </div>
    </div>
{# <style>
#main_center{
    float:left;
}
</style> #}
    <div id="main_center" style="width:{{ request.session.width_main_center }}px;" class="clearFloat">
        {% block content_center %}
        {% endblock %}
    </div>
{# <style>
#main_right{
    float:left;
}
</style> #}
{% if request.session.right_panel %}
    <div id="main_right">
        {% block content_right %}
            <form method="post" action="/search/" id="search">
                <table style="border-spacing:0px;">
                    <tbody>
                    {# <tr>
                        <td colspan="2" class="center_title">
                            Поиск
                        </td>
                    </tr> #}
                    <tr>
                        <td>
                            <input type="text" name="query" class="search_input" style="width:140px;">
                            {% csrf_token %}
                        </td>
                        <td align="left">
                            <input type="submit" value="Поиск" class="search_button">{# name="search_button" #}
                        </td>
                    </tr>
                    {# <tr>
                        <td>
                            <a href="/search/">Расширенный поиск</a>
                        </td>
                        <td>
                            <img alt="" src="/static/images/spacer.gif">
                        </td>
                    </tr> #}
                    </tbody>
                </table>
            </form>
            <div class="rightSlider">
                {% for view in viewed_ %}
                    <div class="rightSliderItem">
                        {# {% set view_content_type_id = view.content_type.id %} #}
                        {% if view.content_type.id|int == 9 %}
                            {% set cache_key = 'product' %}
                        {% else %}
                            {% set cache_key = 'other' %}
                        {% endif %}
                        {# {% set view_object_id = view.object_id %} #}
                        {% set cache_key = cache_key + '-' + view.object_id|string() %}
                        {% cache 300 cache_key %}
                            <a href="{{ view.parent.get_absolute_url() }}" style="font-size:14px;color:Black;"
                               title="{{ view.parent.title }}">{{ view.parent.description|safe }}</a>
                        {% endcache %}
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    </div>
{% endif %}
{# <div style="width:100%;height:1px;clear:both;"></div> #}
</div>
{% endblock %}
