{% extends "base.jinja2.html" %}
{% block root_header_css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/root_style.css" />
{# <!-- Start WOWSlider.com HEAD section --> #}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/wowslider/style.css" />
{# <!-- End WOWSlider.com HEAD section --> #}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/vertical-account-menu/blue.css" />
{% endblock %}
{% block root_header_js %}
<script src="{{ MEDIA_URL }}js/jquery/dcjqaccordion/cookie.js"></script>
<script src="{{ MEDIA_URL }}js/jquery/dcjqaccordion/hoverIntent.minified.js"></script>
<script src="{{ MEDIA_URL }}js/jquery/dcjqaccordion/dcjqaccordion.2.9.js"></script>
<script>
try{
    $(document).ready(function($){
        $('#accordion_menu').dcAccordion({
            eventType:'hover',
            autoClose:false,
            saveState:true,
            disableLink:false,
            speed:'slow',
            showCount:false,
            //showCount:true,
            autoExpand:true,
            menuClose:true,
            cookie:'dcjq-accordion',
            classExpand:'dcjq-current-parent'
    });
});
}catch(e){ alert(e) }
</script>
{# <script src="{{ MEDIA_URL }}js/jquery/fancybox/mousewheel-3.0.6.pack.js"></script>
<script src="{{ MEDIA_URL }}js/jquery/fancybox/fancybox.pack.js?v=2.1.4"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/fancybox/fancybox.css?v=2.1.4" media="screen" />
<script>
try{
    $(document).ready(function() {
        $(".fancybox").fancybox({
            prevEffect		: 'elastic',
            nextEffect		: 'elastic',
            closeBtn		: true,
            helpers		: {
                title	: { type : 'inside' }
        {1#                 buttons	: {} #1}
            }
        });
    })
}catch(e){ alert(e) }
</script> #}
{% endblock %}
{% block content %}
<div id="cart" class="opened">
    <div id="cart_button" style="float:left;height:150px;overflow:hidden;width:60px;display:block;">
        <a onclick="Cart.toggle();return false;" href="javascript:void(0)" style="line-height:0px;">
            <img width="60" src="{{ MEDIA_URL }}img/shopping_cart.png" alt="Корзина">
        </a>
    </div>
    <div id="showcart" style="background:none repeat scroll 0 0 #fff6c9;border:1px solid #CECECE;border-radius:15px 0 0 15px;margin-left:70px;padding:10px;display:block;">{# googleoff: all #}
        {# <noindex> #}
            <div id="dynamic_div_showcart" style="color:Black;">
                <b>Позиций:</b> {{ user_cart_.count_name_of_products }}
                <br>
                <b>На сумму:</b> {{ user_cart_.summ_money_of_all_products_grn }} грн. {{ user_cart_.summ_money_of_all_products_kop }} коп.
                <br>
            </div>
            <b><a href="/корзина/" style="font-size:18px;margin-top:7px;display:block;">Перейти в корзину</a></b>
        {# </noindex> #}{# googleon: all #}
    </div>
</div>
<div id="header">
    <div id="static_menu-wrapper">
        <div id="static_menu">
            <ul>
                {% for static_page in static_pages_ %}
                    <li>
                        {% set static_path = '/' + static_page.url + '/' %}
{#                         {% for static_page_path in static_pages_ %}
                            {% if request.path == static_path %}
                                {% set static_path = '/' + static_page.url + '/' %}
                            {% endif %}
                        {% endfor %} #}
                        <a href="{{ static_path }}">{{ static_page.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {# <div id="cart"><a href="/корзина/">Корзина:</a></div> #}
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            {% if request.session.category %}
                <div id="category_admin"><a href="/admin/product/category/{{ current_category.pk }}/">{{ current_category.title }}</a></div>
            {% endif %}
            {% if request.session.product %}
                <div id="product_admin"><a href="/admin/product/product/{{ product.pk }}/">{{ product.title }}</a></div>
            {% endif %}
        {% endif %}
    {% else %}
        <div id="auth">Вход/Регистрация{# {{ social_auth_widget() }} #}</div>
    {% endif %}
    <div id="div_logo">
        <a id="logo"
           href="/"
           title="Главная страница интернет-магазина keksik.com.ua"
           {# alt="Кексик с глазами - интернет магазин keksik.com.ua" #}>
        </a>
    </div>
    {% if slides_ %}
    {# <!-- Start WOWSlider.com BODY section --> #}
    <div id="wowslider-container1">
        <div class="ws_images">
            <ul>
                {% for slide in slides_ %}
                    <li>
                        <a href="{{ slide.url }}" target="_self">
                            <img src="{{ slide.slide.url }}"
                                 {% if slide.alt %}alt="{{ slide.alt }}"{% endif %}
                                 {% if slide.title %}title="{{ slide.title }}"{% endif %}
                                 id="wows1_{{ slide.order }}"/>
                        </a>{{ slide.text }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="ws_bullets">
            <div>
                {% for slide in slides_ %}
                    <a href="#" {% if slide.title %}title="{{ slide.title }}"{% endif %}>
                        <img src="{{ slide.slide.url_240x96 }}"
                             {% if slide.alt %}alt="{{ slide.alt }}"{% endif %}/>
                        {{ slide.order}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="ws_shadow"></div>
        <script src="{{ MEDIA_URL }}js/jquery/wowslider/wowslider.js"></script>
        <script src="{{ MEDIA_URL }}js/jquery/wowslider/script.js"></script>
    </div>
    {# <!-- End WOWSlider.com BODY section --> #}
    {% endif %}
</div>
<div id="main" class="clearFloat">
{# <style>
#main_left{
    float:left;
}
</style> #}
{# <div style="width:100%;height:1px;clear:both;"></div> #}
    <div id="main_left">
        <div id="accordion_menu" class="left_menu">
            <a class="left_title" href="/категории/" title="Категории верхнего уровная">Категории</a>
            <ul id='accordion' class="menu basement">
                {% for cat in categories_basement_ recursive %}
                    <li>
                        <a {% if cat.shown_colored or cat.shown_bold or shown_italic %}class="{% if cat.shown_colored %}colored {% endif %}{% if cat.shown_bold %}bold {% endif %}{% if cat.shown_italic %}italic{% endif %}" {% endif %}href="{{ cat.get_absolute_url() }}"
                           {# alt="{{ cat.name }}" #}
                           title="{{ cat.title }}">{{ cat.title }}</a>
                        {% set children = cat.children.all() %}
                        {% if children %}
                            <ul class="submenu sub_level">{{ loop(children) }}</ul>
                        {% endif %}
                    </li>
                {% endfor %}
                {# <li>
                    <a href="/"
                       alt='Домой'
                       title="Корень сайта Shop">Корень Shop</a>
                </li> #}
            </ul>
        </div>
    </div>
{# <style>
#main_center{
    float:left;
}
</style> #}
    <div id="main_center" style="width:{{ request.session.width_main_center }}px;" class="clearFloat">
        {% block content_center %}
        {% endblock %}
    </div>
{# <style>
#main_right{
    float:left;
}
</style> #}
    <div id="main_right">
        {% block content_right %}
            <p>Правая колонка</p>
        {% endblock %}
    </div>
{# <div style="width:100%;height:1px;clear:both;"></div> #}
</div>
{% endblock %}
