<form action="{{ url('opinion_ru:adding_ru') }}" method="post">{% csrf_token %}
    <label for="form.name.id_label_tag">Имя <span style="">*</span> :</label>
    <input id="form.name.id_label_tag" name="name" type="text" size="90" />

    <label for="form.email.id_label_tag">E-Mail <span>*</span> :</label>
    <input id="form.email.id_label_tag" name="email" type="email" size="90" />

    <label for="form.phone.id_label_tag">Теелефон :</label>
    <input id="form.phone.id_label_tag" name="phone" type="tel" size="90" />

    <label for="form.title.id_label_tag">Заголовок :</label>
    <input id="form.title.id_label_tag" name="title" type="text" size="90" />

    <label for="form.opinion.id_label_tag">Отзыв <span>*</span> :</label>
    <textarea id="form.opinion.id_label_tag" name="comment" rows="10" cols="90"></textarea>

    <br>
    <input type="submit" value="Добавить" />
    <input type="reset" value="Закрыть" />
</form>
