<p>Номер Вашего заказа в магазине Кексик №: {{ order.pk }}</p>
<p>Предварительная сумма заказа: {{ order.order_sum(calc_or_show='calc') }} грн.</p>
<p><strong>Наш менеджер свяжется с Вами в ближайщее время для уточнения заказа.</strong></p>
<p></p>
<p><strong>Спасибо за Ваш заказ !!!</strong></p>

<p><small><strong><a href="http://keksik.com.ua/" title="Интернет магазин хороших воспоминаний">Ваш keksik.com.ua</a></strong></small></p>
