
{% if order.user %}<p>User: {{ order.user }}</p>{% endif %}
{% if order.sessionid %}<p>SessionId: {{ order.sessionid }}</p>{% endif %}
<p>ФИО: {{ order.FIO }}</p>
<p>E-Mail: {{ order.email }}</p>
<p>Номер мобильного телефона: {{ order.phone }}</p>
<p>Страна: {{ order.country.name_ru }}</p>
{% if order.country.pk == 1 %}
<p>Область: {{ order.region }}</p>
<p>Населённый пункт: {{ order.settlement }}</p>
<p>Номер склада "Новая почта": {{ order.warehouse_number }}</p>
{% else %}
<p>Адресс: {{ order.address }}</p>
<p>Почтовый индекс: {{ order.postcode }}</p>
{% endif %}
<p>Комментарий к заказу: {{ order.comment }}</p>
<p>Жду реквизиты: {{ order.choice1|true_false }}</p>
<p>Жду звонка: {{ order.choice2|true_false }}</p>

<p>{% set url = order.pk|int_to_string %}
   {% set int_range = 6 - url|length %}
   {% if int_range > 0 %}
       {% for i in int_range|get_range %}
           {% set url = '0' + url %}
           {% if i == int_range - 1 %}
               <a href="/админ/заказ/редактор/{{ url }}/">Заказ №: {{ url }}</a>
           {% endif %}
       {% endfor %}
   {% endif %}</p>


<table id="table_carts" cols="6" summary="Корзина">
    <caption>Корзина</caption>
    <thead>
        <tr>
            <th scope="col">Наименование</th>
            <th scope="col">Артикул</th>
            <th scope="col">Цена</th>
            <th scope="col" style="width:68px;">Кол-во</th>
            <th scope="col">Итого</th>
            <th scope="col">Сумма предоплаты</th>
            <th scope="col">Под заказ</th>
        </tr>
    </thead>
    <tbody>
        {% for product in order.products %}
        {% set real_product=product.product %}
        <tr>
            <td>
                <a href="http://keksik.com.ua{{ real_product.get_absolute_url() }}">
                    {{ real_product.title }}
                </a>
            </td>
            <td>
                <a href="http://keksik.com.ua/admin/product/product/{{ real_product.id }}/">
                    {{ real_product.get_ItemID }}
                </a>
            </td>
            <td style="padding:0px;">
                {{ product.price }}
            </td>
            <td style="padding:0px;">
                {{ product.quantity }} {{ real_product.unit_of_measurement }}
            </td>
            <td>
                <p>{{ product.sum_of_quantity(calc_or_show='show') }} грн.</p>
            </td>
            <td>
                <p>{{ product.sum_of_quantity(calc_or_show='calc') }} грн.</p>
            </td>
            <td>
                {% if real_product.is_availability == 2 %}<p>Товар под заказ</p>{% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="1">Сумма заказа:</th>
            <th colspan="1">{{ order.order_sum(calc_or_show='show') }} грн.</th>
            <th colspan="3">Сумма предоплаты:</th>
            <th colspan="2">{{ order.order_sum(calc_or_show='calc') }} грн.</th>
        </tr>
    </tfoot>
</table>
