{% extends 'root.jinja2.html' %}
{# {% load header_category %} #}
{% block title %}Корзина{% if request.user %} пользователя - {{ request.user }}{% endif %}{% endblock %}
{% block content_center -%}
    {% if user_cart_ %}
        <form method="POST" action=".">
            <input type="hidden" name="POST_NAME" value="order">
            <input type="text" name="text1" id="text1"/><label for="text1">Текстовое поле</label>
            <input type="tel" name="tel1" id="tel1"/><label for="tel1">Телефон</label>
            <input type="email">
            <input type="submit" name="" src="">
        </form>
        <div>
            <a href="/корзина/заказ/" title="Оформить заказ">Оформить заказ</a>
            <a href="/" title="Вернуться к покупкам">Продолжить покупки >></a></p>
        </div>
    {% else %}
        <p>Ваша корзина пуста<br>
        <a href="/" title="Вернуться к покупкам">Продолжить покупки >></a></p>
    {% endif %}

{%- endblock %}
