{% extends 'root.jinja2.html' %}
{# {% load header_category %} #}
{% block title %}Корзина{% if request.user %} пользователя - {{ request.user }}{% endif %}{% endblock %}
{% block content_center %}
    <div id="show_order" style="color:Black;text-align:left;">
    {% if user_cart_ %}
        <table id="table_carts" cols="3" summary="Ваша корзина">
            <caption style="font-size:20px;">Ваша корзина</caption>
            <thead>
                <tr>
                    <th scope="col">Наименование</th>
                    <th scope="col" style="width:68px;text-align:center;">Кол-во</th>
                    <th scope="col" style="text-align:center;">Сумма</th>
                </tr>
            </thead>
            <tbody>
                {% for product in user_cart_.products %}
                    {% set real_product=product.product %}
                    <tr>
                        <td>
                            <input type="hidden"
                                   name="product_in_request_{{ product.pk }}"
                                   value="{{ product.pk }}"/>
                            <a href="{{ real_product.get_absolute_url() }}">
                                {{ real_product.title }}
                            </a>
                        </td>
                        <td style="padding:0px;text-align:center;">
                            {# <li style="text-align:center;list-style-type:none;line-height:22px;"> #}
                                {{ product.quantity }}&nbsp;{{ real_product.unit_of_measurement }}
                                {# <input id="quantity1_{{ product.pk }}"
                                       style="border:1px solid #CCCCCC;text-align:center;width:20px;padding:2px;"
                                       name="quantity_{{ product.pk }}" value="{{ product.quantity }}"
                                       disabled=disabled
                                       type="text"/> #}
                            {# </li> #}
                        </td>
                        <td><p id="summ_of_quantity_{{ product.pk }}"
                               style="text-align:center;">{{ product.summ_of_quantity }} грн.</p></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2"
                        style="text-align:right;">Сумма:</th>
                    <th id="all_summ_of_quantity"
                        style="text-align:center;color:Red;font-size:18px;">{{ user_cart_.summ_money_of_all_products }} грн.</th>
                </tr>
            </tfoot>
        </table>
        {% if user_cart_.summ_money_of_all_products < 200 %}
            <div id="buttons"
                 style="margin:15px;">
                {# <a href="/" title="Вернуться к покупкам">Продолжить покупки >></a>&nbsp;&nbsp;&nbsp; #}
                <a href="/корзина/" title="Редактировать корзину">&gt;&gt;&nbsp;Редактировать корзину</a>
            </div>
        {% else %}
            <form method="POST" action="." id="form_order" name="form_order">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
                <input type="hidden" name="POST_NAME" value="order"/>
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email"/>
                <br />
                <label for="FIO">ФИО</label>
                <input type="text" name="FIO" id="FIO"/>
                <br />
                <label for="phone">Номер мобильного телефона</label>
                <input type="tel" name="phone" id="phone"/>
                <br />
                <select name="select_country"
                        id="select_country"
                        required=""
                        style="float:left;width:240px;"
                        onKeyDown="javascript:window.setTimeout('sel_country();', 0);"
                        onChange="javascript:sel_country();">
                    {% if not select_country or select_country == '1000' %}
                        <option value="1000"
                                selected=""
                                disabled="disabled">Страна
                        </option>
                    {% endif %}
                    {% for country_select in country_list %}
                        {% if select_country == country_select and select_country != 1000 %}
                            <option value="{{ country_select.pk }}"
                                    selected="">
                                <strong>{{ country_select.name_ru }}
                                </strong>
                            </option>
                        {% else %}
                            <option value="{{ country_select.pk }}">{{ country_select.name_ru }}
                            </option>
                        {% endif %}
                    {% endfor %}
<script type="text/javascript">
function sel_country() {
	var country_pk=document.forms["form_order"].select_country.selectedIndex;
	var request_dict = {
        csrfmiddlewaretoken: '{{ csrf_token }}',
		country_pk: country_pk };
	jQuery.post("/ajax/country/",
		request_dict,
		function(data, textStatus, jqXHR) {
//			if (data.result == 'Ok' && data.sel_country == 1) {
				jQuery('#dynamic_div').html(data.html);
//				jQuery('#select_country').attr('disabled', 'disabled');// };
//            if (data.result == 'Ok' && data.sel_country != 1) {
//				jQuery('#country_div').html(data.html);
//				jQuery('#select_country').attr('disabled', 'disabled');
//            };
		},
		"json");
}
//sel_country();
</script>
                </select>
                <br />
                <div id="dynamic_div">
                <br />
                <label for="region">Область</label>
                <input type="text" name="region" id="region"/>
                <br />
                <label for="settlement">Город (населённый пункт)</label>
                <input type="text" name="settlement" id="settlement"/>
                <br />
                <label for="warehouse_number">Номер склада "Новой почты"</label>
                <input type="number" name="warehouse_number" id="warehouse_number"/>
                </div>
                <br />
                <label for="comment">Комментарий к заказу</label>
                <textarea cols="50" rows="5" name="comment" id="comment"></textarea>
                <br />
                <input type="submit" value="Отправить заказ" />
            </form>
        {% endif %}
    {% else %}
        <p>Ваша корзина пуста<br>
            <a href="/" title="Вернуться к покупкам">Продолжить покупки >></a>
        </p>
    {% endif %}
    </div>
{% endblock %}
