{% extends 'root.jinja2.html' %}
{# {% load header_category %} #}
{% block title %}Корзина{% if request.user %} пользователя - {{ request.user }}{% endif %}{% endblock %}
{% block content_center -%}
    {% if user_cart_ %}

        <form method="POST" action="." id="form_order" name="form_order">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
            <input type="hidden" name="POST_NAME" value="order"/>
            <label for="email1">E-Mail</label>
            <input type="email" name="email1" id="email1"/>
            <br />
            <label for="text1">ФИО</label>
            <input type="text" name="text1" id="text1"/>
            <br />
            <label for="tel1">Телефон</label>
            <input type="tel" name="tel1" id="tel1"/>
            <br />
            <select name="select_country"
                    id="select_country"
                    required=""
                    style="float:left;width:240px;"
                    onKeyDown="javascript:window.setTimeout('sel_country();', 0);"
                    onChange="javascript:sel_country();">
                {% if not select_country or select_country == '1000' %}
                    <option value="1000"
                            selected=""
                            disabled="disabled">Страна
                    </option>
                {% endif %}
                {% for country_select in country_list %}
                    {% if select_country == country_select and select_country != 1000 %}
                        <option value="{{ country_select.pk }}"
                                selected="">
                            <strong>{{ country_select.name_ru }}
                            </strong>
                        </option>
                    {% else %}
                        <option value="{{ country_select.pk }}">{{ country_select.name_ru }}
                        </option>
                    {% endif %}
                {% endfor %}
<script type="text/javascript">
function sel_country() {
	var country_pk=document.forms["form_order"].select_country.selectedIndex;
	var request_dict = {
        csrfmiddlewaretoken: '{{ csrf_token }}',
		country_pk: country_pk };
	jQuery.post("/ajax/country/",
		request_dict,
		function(data, textStatus, jqXHR) {
//			if (data.result == 'Ok' && data.sel_country == 1) {
				jQuery('#dynamic_div').html(data.html);
//				jQuery('#select_country').attr('disabled', 'disabled');// };
//            if (data.result == 'Ok' && data.sel_country != 1) {
//				jQuery('#country_div').html(data.html);
//				jQuery('#select_country').attr('disabled', 'disabled');
//            };
		},
		"json");
}
//sel_country();
</script>
            </select>
            <br />
            <div id="dynamic_div">
            <br />
            <label for="settlement1">Город, населённый пункт</label>
            <input type="text" name="settlement1" id="settlement1"/>
            <br />
            <label for="warehouse_number1">Номер склада "Новой почты"</label>
            <input type="text" name="warehouse_number1" id="warehouse_number1"/>
            </div>
            <br />
            <input type="submit" valeu="Отправить заказ" />
        </form>
    {% else %}
        <p>Ваша корзина пуста<br>
        <a href="/" title="Вернуться к покупкам">Продолжить покупки >></a></p>
    {% endif %}
{%- endblock %}
