{# language: jinja2 #}
<!DOCTYPE html>
<html lang="ru">
<head>
{# {% compress css %} #}
{% block block_title %}<title>{% block title %}{% endblock %}</title>{% endblock %}
{% block block_description %}<meta name="description" content="{% block description %}{% endblock %}">{% endblock %}
{% block block_keywords %}<meta name="keywords" content="{% block keywords %}{% endblock %}">{% endblock %}
{# <base href="http://keksik.com.ua/" target="_blank"> - загрузить страницу в новой вкладке броузера #}
{# <base href="http://keksik.com.ua/" target="_self"> #}
<link rel="icon"{#  type="image/png" #} href="{{ MEDIA_URL }}img/favicon.png">
<meta charset="UTF-8">
{# <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> #}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/base_style.css">
{% block root_header_css %}{% endblock %}
{% block header_css %}{% endblock %}
{% block category_header_css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/categories_products_style.css">
{% endblock %}
{% block product_header_css %}{% endblock %}
<script src="{{ MEDIA_URL }}js/jquery/jquery-1.9.1.min.js"></script>
<script src="{{ MEDIA_URL }}js/animate_cart.js"></script>
{% block root_header_js %}{% endblock %}
{% block header_js %}{% endblock %}
{% block header_javascript1 %}{% endblock %}
{% block header_javascript2 %}{% endblock %}
{% block ajax %}
{% if request.session.ajax_timezone %}
<script>
$(document).ready(function(e){
    var d = new Date();
    var offset = d.getTimezoneOffset();
    $.post("/ajax/timezone/client/",{
            offset:offset,
            csrfmiddlewaretoken:'{{ csrf_token }}'
        },
        function(data){alert(data);}
    );
});
</script>
{% endif %}
{% if request.session.ajax_resolution %}
<script>
$(document).ready(function(e){
    var browserWindow = $(window);
    var width = browserWindow.width();
    var height = browserWindow.height();
    $.post("/ajax/resolution/",{
            width:width,
            height:height,
            csrfmiddlewaretoken:'{{ csrf_token }}'
        },
        function(data){alert(data);}
    );
});
</script>
{% endif %}
{% if request.session.ajax_cookie %}
<script>
$(document).ready(function(e){
    $.post("/ajax/cookie/",{
            csrfmiddlewaretoken:'{{ csrf_token }}'
        },
        function(data){alert(data);}
    );
});
</script>
{% endif %}
{% endblock %}
{# {% endcompress %} #}
</head>
<body style='background:url("{{ MEDIA_URL }}img/background2.jpg") repeat fixed center top transparent;'>
{# http://www.wmtoolbox.net/ #}<!--4fa659d3-->
{# <!-- Google.Analytics --> #}{% include 'include/Google.Analytics.script' %}{# <!-- /Google.Analytics --> #}
{# <!-- Yandex.Metrika counter --> #}{% include 'include/Yandex.Metrica.script' %}{# <!-- /Yandex.Metrika --> #}
{# <!-- LiveInternet counter --> #}{% include 'include/LiveInternet.script' %}{# <!--/LiveInternet--> #}
{# <!-- Mail.ru counter --> #}{% include 'include/Mail.ru.script' %}{# <!--/Mail.ru--> #}
<section id="body">
<header id="header">
{% block header %}
{% endblock %}
</header>
<section id="main" class="clearFloat">
{% block content %}
{% block content_center %}
{% endblock %}
{% endblock %}
</section>
<footer id="footer">
{% if user.is_authenticated and user.is_staff %}
{# <!-- LiveInternet logo --> #}{% include 'include/LiveInternet.html' %}{# <!--/LiveInternet--> #}
{% endif %}
{% if user.is_authenticated and user.is_staff %}
{# <!-- Yandex.Metrika informer --> #}{% include 'include/Yandex.Metrica.html' %}{# <!-- /Yandex.Metrika --> #}
{% endif %}
{% if not user.is_staff %}
<div style="display:none">
{% endif %}
{# <!-- i.ua informer --> #}{% include 'include/i.ua.script' %}{# <!-- /i.ua --> #}
{% if not user.is_staff %}
</div>
{% endif %}
{% if user.is_authenticated and user.is_staff %}
{# <!-- Mail.ru informer --> #}{% include 'include/Mail.ru.html' %}{# <!-- /Mail.ru --> #}
{% endif %}
{% if not user.is_staff %}
<div style="display:none">
{% endif %}
{# <!-- rambler.ru informer --> #}{% include 'include/rambler.ru.script' %}{# <!-- /rambler.ru --> #}
{% if not user.is_staff %}
</div>
{% endif %}
</footer>
<style>
.feedback-panel{
    background-color:rgba(255, 255, 255, 0.85);
    height:440px;
    margin:0 auto;
    padding-top:15px;
    padding-right:20px;
    padding-left:20px;
    position:relative;
    top:100px;
    transition:all 0.6s ease-out 0s;
    width:385px;
    z-index:200;
}
.feedback_banner-h1{
    color:#555555;
    font-size:26px;
    line-height:24px;
    text-align:right;
    height:auto;
}
.feedback_banner-form-row-1{
    position:relative;
    top:22px;
    height:33px;
    float:left;
    width:100%;
    text-align:left;
    letter-spacing:normal;
}
.feedback_line{
    position:relative;
    float:left;
    margin-bottom:5px;
}
.feedback_banner-charbox, .feedback_banner-textbox{
    width:350px;
    border:1px inset #c2c2c2;
    font-size:14px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background:0 0;
    color:#333;
    line-height:30px;
    float:left;
    display:block;
    -webkit-transition:.25s ease-out;
    -moz-transition:.25s ease-out;
    -o-transition:.25s ease-out;
    transition:.25s ease-out;
    padding:0 8px;
    text-align:left;
    letter-spacing:normal;
    left:auto;
}
.feedback_banner-charbox{
    height:34px;
}
.feedback_banner-textbox{
    height:164px;
}
.feedback_submit-button{
    width:158px;
    height:33px;
    font-size:14px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    border:1px solid #333;
    color:#fff;
    line-height:30px;
    float:left;
    cursor:pointer;
    margin-top:10px;
    margin-left:0;
    -webkit-transition:.25s ease-out;
    -moz-transition:.25s ease-out;
    -o-transition:.25s ease-out;
    transition:.25s ease-out;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    padding:0;
    background:#333;
    letter-spacing:normal;
    text-indent:0;
    position:static;
}
</style>
<div class="feedback-panel">
    <a class="feedback-tab" href="http://www.keksik.com.ua/"></a>
    <div id="feedback-banner_h1" class="feedback_banner-h1">У Вас есть замечания или пожелания по работе сайта, напишите нам.</div>
    <div class="feedback_banner-form-row-1">
        <div id="feedback_banner_content" class="feedback_banner-form">
            <div id="feedback_name_line" class="feedback_line">
                <input type="text"
                       maxlength="64"
                       value=""
                       id="feedback_name"
                       placeholder="Ваше Имя"
                       class="feedback_banner-charbox">
            </div>
            <div id="feedback_email_line" class="feedback_line">
                <input type="text"
                       maxlength="32"
                       value=""
                       id="feedback_email"
                       placeholder="Ваш E-Mail адресс"
                       class="feedback_banner-charbox">
            </div>
            <div id="feedback_phone_line" class="feedback_line">
                <input type="text"
                       maxlength="32"
                       value=""
                       id="feedback_phone"
                       placeholder="Ваш номер телефона"
                       class="feedback_banner-charbox">
            </div>
            <div id="feedback_comment_line" class="feedback_line">
                <input type="text"
                       maxlength="4096"
                       value=""
                       id="feedback_comment"
                       placeholder="Ваше сообщение"
                       class="feedback_banner-textbox">
            </div>
            <div id="feedback_comment_line" class="feedback_line">
                <button id="submit_send" class="feedback_submit-button">Оставить отзыв!</button>
<script>
document.getElementById('submit_send').onclick=function(){
    var name = document.getElementById('feedback_name').value;
    var email = document.getElementById('feedback_email').value;
    var phone = document.getElementById('feedback_phone').value;
    var comment = document.getElementById('feedback_comment').value;
    jQuery.post("/ajax/feedback/send/",{
                csrfmiddlewaretoken:'{{ csrf_token }}',
                sessionid:'{{ request.session.session_key }}',
                userid:'{% if request.user %}{{ request.user.id }}{% else %}0{% endif %}',
                name:name,
                email:email,
                phone:phone,
                comment:comment
        },
		function(data, textStatus, jqXHR){
            if(data.result=='Bad'){
                document.getElementById('feedback-panel').style.display="none";
                alert('Ваши данные не принял сервер по причине:'+data.error);
            }else{
                document.getElementById('feedback-panel').style.display="none";
                alert('Мы рассмотрим Ваш вопрос/жалобу в ближайшее время');
		}
        },
		"json");
};
</script>
            </div>
        </div>
    </div>
</div>
{# <link rel="stylesheet" href="http://cdn.callbackhunter.com/widget/tracker.css"> #}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/callback/style.css">
<div id="clb_div" class="callback_banner-wrapper">
    <div id="clb_div_ban" class="callback_banner callback_closed">
        <div id="clb_exit"
             class="callback_banner-exit"
                onClick="MouseClick_Close();"></div>
        <div class="callback_banner-body">
            <div id="clb_banner_h1" class="callback_banner-h1">Вы хотите что-бы мы Вам перезвонили, пожалуйста заполните поля ниже!!!</div>
            <div class="callback_banner-form-row-1">
                <div id="clb_banner_content" class="callback_banner-form">
                    <div class="callback_banner-arrow"></div>
                    <div id="clb_name_line" class="callback_line">
                        <input type="text" maxlength="64" value="" id="clb_name" placeholder="Enter your Name" class="callback_input-charbox">
                    </div>
                    <div id="clb_email_line" class="callback_line">
                        <input type="text" maxlength="32" value="" id="clb_email" placeholder="Enter your E-Mail" class="callback_input-charbox">
                    </div>
                    <div id="clb_phone_line" class="callback_line">
                        <input type="text" maxlength="32" value="" id="clb_phone" placeholder="Enter your phone number" class="callback_input-charbox">
                        <button id="clb_send" class="callback_submit-button">Call me!</button>
<script>
document.getElementById('clb_send').onclick=function(){
    var name = document.getElementById('clb_name').value;
    var email = document.getElementById('clb_email').value;
    var phone = document.getElementById('clb_phone').value;
    $.post("/ajax/callback/send/",{
                csrfmiddlewaretoken:'{{ csrf_token }}',
                sessionid:'{{ request.session.session_key }}',
                userid:'{% if request.user %}{{ request.user.id }}{% else %}0{% endif %}',
                name:name,
                email:email,
                phone:phone
        },
		function(data, textStatus, jqXHR){
            document.getElementById('clb_banner_bg').style.display="none";
            document.getElementById('clb_div_ban').classList.add('callback_closed');
            document.getElementById('header').classList.remove('callback_blur');
            document.getElementById('main').classList.remove('callback_blur');
            document.getElementById('footer').classList.remove('callback_blur');
            if(data.result=='Bad'){
                alert('Ваши данные не принял сервер по причине:'+data.error);
            }else{
                alert('Наш менеджер свяжется с Вами в ближайшее время');
		}
        },
		"json");
};
</script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="clb_banner_bg"
         class="callback_banner_bg"
         onclick="MouseClick_Close()"></div>
</div>
<div id="clb-phone_div"
     class="clb-phone clb-green {# clb-show  #}clb-static"
     onmouseover="MouseOver();"
     onmouseout="MouseOut();"
     onclick="MouseClick();"
     title="Заказать обратный звонок с сайта">
    <div class="clb-ph-circle"></div>
    <div class="clb-ph-circle-fill"></div>
    <div class="clb-ph-img-circle"></div>
</div>
<script>
    {# document.getElementById('clb-phone_div').onMouseEnter=function(){
    alert('Enter'); #}
function MouseOver(){
    document.getElementById('clb-phone_div').classList.add('clb-hover');
    document.getElementById('clb-phone_div').classList.remove('clb-static');
}
    {# document.getElementById('clb-phone_div').onMouseOver=function(){
    alert('Over'); #}
function MouseOut() {
    document.getElementById('clb-phone_div').classList.remove('clb-hover');
    document.getElementById('clb-phone_div').classList.add('clb-static');
}
function MouseClick(){
    document.getElementById('clb_banner_bg').style.display="block";
    document.getElementById('clb_div_ban').classList.remove('callback_closed');
    document.getElementById('header').classList.add('callback_blur');
    document.getElementById('main').classList.add('callback_blur');
    document.getElementById('footer').classList.add('callback_blur');
}
function MouseClick_Close(){
    document.getElementById('clb_banner_bg').style.display="none";
    document.getElementById('clb_div_ban').classList.add('callback_closed');
    document.getElementById('header').classList.remove('callback_blur');
    document.getElementById('main').classList.remove('callback_blur');
    document.getElementById('footer').classList.remove('callback_blur');
}
var callback=false;
function CallBack_Enable(){
    document.getElementById('clb-phone_div').classList.add('clb-show');
    //alert('40sec');
}
</script>
<p id="to-top"><a href="#top"><span></span>Вверх</a>
</p>
<script>
$(document).ready(function(){
    // hide #to-top first
    $("p#to-top").hide();
    // fade in #to-top
    $(function(){
        $(window).scroll(function(){
            if($(this).scrollTop()>200){
                $('p#to-top').fadeIn();
                if(callback==false){
                    callback=true;
                    setTimeout(CallBack_Enable, 60000)
                }
            }else{
                $('p#to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('p#to-top a').click(function(){
            $('body,html').animate({
                scrollTop:0
            }, 2000);
            return false;
        });
    });
});
</script>
{% block after_footer %}
{% endblock %}
</section>
</body>
</html>
