<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
    {% block block_title %}<title>{% block title %}{% endblock %}</title>{% endblock %}
    {% block block_description %}<meta name="description" content="{% block description %}{% endblock %}">{% endblock %}
    {% block block_keywords %}<meta name="keywords" content="{% block keywords %}{% endblock %}">{% endblock %}
    {# <base href="http://keksik.com.ua/" target="_blank"> - загрузить страницу в новой вкладке броузера #}{# <base href="http://keksik.com.ua/" target="_self"> #}
	{# <title>Заголовок</title>
	<meta name="description" content="" /> #}
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="favicon.png" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}libs/bootstrap/bootstrap.css" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}libs/bootstrap/bootstrap-grid-3.3.1.min.css" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}libs/font-awesome-4.2.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}libs/fancybox/jquery.fancybox.css" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}libs/stepper/jquery.fs.stepper.css" />
	<link href="{{ MEDIA_URL }}libs/bootstrap-star-rating-master/css/star-rating.css" media="all" rel="stylesheet" type="text/css" />
	<link href="{{ MEDIA_URL }}libs/bootstrap-star-rating-master/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}libs/countdown/jquery.countdown.css" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}libs/slick-1.5.9/slick/slick.css" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}libs/slick-1.5.9/slick/slick-theme.css" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/fonts.css?ver=0.01" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css?ver=0.13" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/media.css?ver=0.03" />
</head>
<body>

	<div class="wrapper">

		<div class="menu_mobile hidden-lg">
			<div class="header_menu">
				<div class="user_icon">
					<img src="{{ MEDIA_URL }}img/user.png" alt="alt">
				</div>
				<div class="menu_avtorization" style="display:none;">
					<a href="#" class="avtoriz_menu">Вход</a>
					<a href="#" class="register_menu">Регистрация</a>
				</div>
			</div>
			<div class="tabs_menu">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab_menu1" data-toggle="tab">Категории</a></li>
					<li><a href="#tab_menu2" data-toggle="tab">Поиск</a></li>
					<li><a href="#tab_menu3" data-toggle="tab">Меню</a></li>
					<li><a href="#tab_menu4" data-toggle="tab">Корзина</a></li>
				</ul>
			</div>

{% block tab_menu_mobile %}
{% endblock %}

		</div>

{% block main_header %}
{% endblock %}

{% block main_top_navigation %}
{% endblock %}

{% block billboard %}
{% endblock %}

{% block main_down_navigation %}
{% endblock %}

{% block content %}
{% endblock %}

{% block section_recommendation %}
{# root.jinja2 section #}
{% endblock %}

{% block section_banner %}
{# root.jinja2 section #}
{% endblock %}

{% block section_novelties %}
{# root.jinja2 section #}
{% endblock %}

{% block section_recommended %}
{% endblock %}

{% block main_footer %}
{% endblock %}

	</div>

	<!--[if lt IE 9]>
	<script src="{{ MEDIA_URL }}libs/html5shiv/es5-shim.min.js"></script>
	<script src="{{ MEDIA_URL }}libs/html5shiv/html5shiv.min.js"></script>
	<script src="{{ MEDIA_URL }}libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="{{ MEDIA_URL }}libs/respond/respond.min.js"></script>
	<![endif]-->
	<script src="{{ MEDIA_URL }}libs/jquery/jquery-1.11.1.min.js"></script>
	<script src="{{ MEDIA_URL }}libs/jquery-mousewheel/jquery.mousewheel.min.js"></script>
	<script src="{{ MEDIA_URL }}libs/bootstrap/bootstrap.min.js"></script>	
	<script src="{{ MEDIA_URL }}libs/fancybox/jquery.fancybox.pack.js"></script>
	<script src="{{ MEDIA_URL }}libs/waypoints/waypoints-1.6.2.min.js"></script>
	<script src="{{ MEDIA_URL }}libs/scrollto/jquery.scrollTo.min.js"></script>
	<script src="{{ MEDIA_URL }}libs/slick-1.5.9/slick/slick.min.js"></script>
	<script src="{{ MEDIA_URL }}libs/equalHeights/jquery.equalheights.min.js"></script>
	<script src="{{ MEDIA_URL }}libs/scroll2id/PageScroll2id.min.js"></script>
	<script src="{{ MEDIA_URL }}libs/stepper/jquery.fs.stepper.js"></script>
	<script src="{{ MEDIA_URL }}libs/bootstrap-star-rating-master/js/star-rating.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}libs/bootstrap-star-rating-master/krajee-svg/theme.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}libs/jQueryFormStyler-master/jquery.formstyler.min.js"></script>
	<script src="{{ MEDIA_URL }}libs/countdown/jquery.plugin.js"></script>
	<script src="{{ MEDIA_URL }}libs/countdown/jquery.countdown.min.js"></script>
	<script src="{{ MEDIA_URL }}libs/countdown/jquery.countdown-ru.js"></script>
	<script src="{{ MEDIA_URL }}js/common.js"></script>
	<!-- Yandex.Metrika counter --><!-- /Yandex.Metrika counter -->
	<!-- Google Analytics counter --><!-- /Google Analytics counter -->
</body>
</html>
