{# language: jinja2 #}
{% extends "base.jinja2" %}
{% block root_header_css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/root_style.css" />
{# <!-- Start WOWSlider.com HEAD section --> #}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/topSlider/style.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/topSlider/style.mod.css" />
{# <!-- End WOWSlider.com HEAD section --> #}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/vertical-account-menu/blue.css" />
{# bxSlider CSS file #}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/bxSlider/bxSlider.css" />
{# tabSlider CSS file #}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/tabSlider/tabSlider.css" />
{% endblock %}
{% block root_header_js %}
<script src="{{ MEDIA_URL }}js/jquery/dcjqaccordion/cookie.js"></script>
<script src="{{ MEDIA_URL }}js/jquery/dcjqaccordion/hoverIntent.minified.js"></script>
<script src="{{ MEDIA_URL }}js/jquery/dcjqaccordion/dcjqaccordion.2.9.js"></script>
<script src="{{ MEDIA_URL }}js/jquery/dcjqaccordion/initial.js"></script>
{# bxSlider Javascript file #}
<script src="{{ MEDIA_URL }}js/jquery/rightSlider/rightSlider.min.js"></script>
{# Init bxSlider Javascript file #}
<script src="{{ MEDIA_URL }}js/jquery/rightSlider/Init.js"></script>
{# <script src="{{ MEDIA_URL }}js/jquery/fancybox/mousewheel-3.0.6.pack.js"></script>
<script src="{{ MEDIA_URL }}js/jquery/fancybox/fancybox.pack.js?v=2.1.4"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/fancybox/fancybox.css?v=2.1.4" media="screen" />
<script>
try{
    $(document).ready(function() {
        $(".fancybox").fancybox({
            prevEffect		:'elastic',
            nextEffect		:'elastic',
            closeBtn		:true,
            helpers		:{
                title	:{ type :'inside' }
        {1#                 buttons	:{} #1}
            }
        });
    })
}catch(e){ alert(e) }
</script> #}
{# tabSlider Javascript file #}
<script src="/media/js/jquery/tabSlider/tabSlideOut.js"></script>
<script src="/media/js/jquery/tabSlider/LeftInit.js"></script>
<script src="/media/js/jquery/tabSlider/TopInit.js"></script>
{# try{jQuery(document).ready(function() {
        $('.feedback-panel').tabSlideOut({
            tabHandle:'.feedback-tab',                   //class of the element that will be your tab -doesnt have to be an anchor
            pathToTabImage:'/media/img/feedbacktab.gif', //relative path to the image for the tab
            imageHeight:'99px',                          //height of tab image
            imageWidth:'30px'                            //width of tab image
        });
    })
}catch(e){ alert(e) }
 #}
{# try{
    $(document).ready(function() {
    var feedbackTab = {

        speed:300,
        containerWidth:$('.feedback-panel').outerWidth(),
        containerHeight:$('.feedback-panel').outerHeight(),
        tabWidth:$('.feedback-tab').outerWidth(),

        init:function(){
            $('.feedback-panel').css('height',feedbackTab.containerHeight + 'px');

            $('a.feedback-tab').click(function(event){
                if ($('.feedback-panel').hasClass('open')) {
                    $('.feedback-panel')
                    .animate({left:'-' + feedbackTab.containerWidth}, feedbackTab.speed)
                    .removeClass('open');
                } else {
                    $('.feedback-panel')
                    .animate({left:'0'},  feedbackTab.speed)
                    .addClass('open');
                }
                event.preventDefault();
            });
        }
    };
    });

    feedbackTab.init();
}catch(e){ alert(e) } #}
{# </script> #}
{# <script src="/media/js/jquery/inview/inview.js"></script> #}
{% endblock %}
{% block header %}
{% if user.is_anonymous %}
    <div id="auth" class="auth-panel">
        <a class="auth-tab" href="http://www.проверка.com">Проверка</a>
        <a href="/accounts/signin/">Вход</a>/
        <a href="/accounts/signup/">Регистрация</a>/{# {{ social_auth_widget() }} #}
        <a href="/social/login/odnoklassniki-oauth2/">odnoklassniki-oauth2</a>/
        <a href="/social/login/vk-oauth2/">vk-oauth2</a>/
        <a href="/social/login/google-oauth2/">google-oauth2</a>
    </div>
{% endif %}
<div id="cart" class="opened">
    <div id="currencies_block_top">
        <!-- cpt_container_start -->
        <form method="POST" action="/Валюта/Изменение/" name="CurrencyChange" {# id="setCurrency" #}>
			<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
			<input type="hidden" name="action" value="CurrencyChange" />
			<input type="hidden" name="redirect_url" value="{{ request.get_full_path() }}" />

            <span class="light">Валюта:</span>

            <script>
                function CurrencyChange(){
                    document.CurrencyChange.submit();
                }
            </script>
{# <style>
select option[selected]{
font-weight:bold;
}
</style> #}
            <select onchange="document.CurrencyChange.submit();"
                    name="currency">
                {% for currency in currency_ %}
                    {% if currency.pk == request.session.currency_pk %}
                        <option id="selected"
                                value="{{ currency.pk }}"
                                selected>
                            {# <b> #}{{ currency.name_ru|capfirst }}{# </b> #}
                        </option>
                    {% else %}
                        <option value="{{ currency.pk }}">{{ currency.name_ru|capfirst }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
        <!-- cpt_container_end-->
    </div>
    <div id="cart_button">
        <a onclick="Cart.toggle();return false;" href="javascript:void(0)" style="line-height:0px;" title="Для начала оформления заказа перейдите в корзину">
            <img width="60" src="{{ MEDIA_URL }}img/shopping_cart.png" alt="Корзина покупателя магазина Кексик.com.ua">
        </a>
    </div>
    <div id="showcart">{# googleoff:all #}
        {# <noindex> #}
            <div id="dynamic_div_showcart">
                {% if user_cart_ %}
                    <b>Позиций:</b> {{ user_cart_.count_name_of_products }}
                    <br>
                    <b>На сумму:</b> {{ user_cart_.sum_money_of_all_products_integral(request) }} {{ get_currency(request) }} {{ user_cart_.sum_money_of_all_products_fractional(request) }} {{ get_currency(request) }}{# нужно выводить единицу измерения в копейках, центах, и евроцентах #}
                    <br>
                {% else %}
                    <strong>Ваша корзина пуста!!!</strong>
                {% endif %}
            </div>
            <b><a href="/корзина/">Перейти в корзину</a></b>
        {# </noindex> #}{# googleon:all #}
    </div>
</div>
<div id="static_menu-wrapper">
    <div id="static_menu">
        <ul>
            {% for static_page in static_pages_ %}
                <li>
                    {% set static_path = '/' + static_page.url + '/' %}
{#                         {% for static_page_path in static_pages_ %}
                        {% if request.path == static_path %}
                            {% set static_path = '/' + static_page.url + '/' %}
                        {% endif %}
                    {% endfor %} #}
                    <a href="{{ static_path }}">{{ static_page.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{# <div id="cart"><a href="/корзина/">Корзина:</a></div> #}
{#             <p>User:{{ user }}</p>
            <p>Authenticated:{{ user.is_authenticated }}</p>
            <p>Anonymous:{{ user.is_anonymous }}</p>
            <p>Staff:{{ user.is_staff }}</p> #}
{% if user.is_authenticated and user.is_staff %}
    {% if request.session.category %}
        <div id="category_admin"><a href="/admin/product/category/{{ current_category.pk }}/">{{ current_category.title }}</a></div>
    {% endif %}
    {% if request.session.product %}
        <div id="product_admin"><a href="/admin/product/product/{{ product.pk }}/">{{ product.title }}</a></div>
    {% endif %}
{% endif %}
<div id="div_logo">
    <a id="logo"
       style="background-image:url('{{ get_value_variable('main_logo', 'img')[2] }}');"
       href="/"
       title="Главная страница интернет-магазина keksik.com.ua"
       {# alt="Кексик с глазами - интернет магазин keksik.com.ua" #}>
    </a>
</div>
{% if slides_ %}
{# <!-- Start WOWSlider.com BODY section --> #}
<div id="wowslider-container1">
    <div class="ws_images">
        <ul>
            {% for slide in slides_ %}
                <li>
                    <a href="{{ slide.url }}" target="_self">
                        <img src="{{ slide.slide.url }}"
                             {% if slide.alt %}alt="{{ slide.alt }}"{% else %}alt="{{ slide.title }}"{% endif %}
                             title="{% if slide.title %}{{ slide.title }}{% endif %}"
                             id="wows1_{{ slide.order }}">
                    </a>{{ slide.text }}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="ws_bullets">
        <div>
            {% for slide in slides_ %}
                <a href="#" {% if slide.title %}title="{{ slide.title }}"{% endif %}>
                    <img src="{{ slide.slide.url_240x96 }}"
                         {% if slide.alt %}alt="{{ slide.alt }}"{% else %}alt="{{ slide.title }}"{% endif %}>{#
                    #}&#10022;</a>{# {{ slide.order}} #}{# &#8987; - песочніе часі &#9885; - звездочка #}
            {% endfor %}
        </div>
    </div>
    <div class="ws_shadow"></div>
    <script src="{{ MEDIA_URL }}js/jquery/topSlider/slider.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery/topSlider/script.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery/topSlider/slider.mod.js"></script>
</div>
{# <!-- End WOWSlider.com BODY section --> #}
{% endif %}
{% endblock %}
{% block content %}
<div id="main_left">
    <div id="accordion_menu" class="left_menu">
        <a class="left_title" href="/категории/" title="Категории верхнего уровная">Категории</a>
        <ul id='accordion' class="menu basement">
            <li>
                <a id="new_items" href="/">Новинки</a>
            </li>
{#                 {% for cat in categories_basement_|sort(attribute='serial_number') recursive %} #}
            {% for cat in categories_basement_ recursive %}
{#                 {% set children = cat.children.all()|sort(attribute='serial_number') %} #}
                {% set children = cat.children.serial_number() %}
                <li{# {% if children %} attribute="children_true"{% endif %} #}>
                    <a {% if cat.shown_colored or cat.shown_bold or cat.shown_italic %}class="{% if cat.shown_colored %}colored {% endif %}{% if cat.shown_bold %}bold {% endif %}{% if cat.shown_italic %}italic{% endif %}" {% endif %}
                       href="{{ cat.get_absolute_url() }}"
                       style="font-size:{{ cat.font_px }}px;color:{{ cat.font_color }};
                               {% if cat.shadow_color or cat.shadow_px or cat.shadow_blur_px %}
                                   text-shadow:0 {% if cat.shadow_px %}{{ cat.shadow_px }}px{% else %}0{% endif %} {% if cat.shadow_blur_px %}{{ cat.shadow_blur_px }}px{% else %}0{% endif %} {% if cat.shadow_color %}{{ cat.shadow_color }}{% else %}Black{% endif %},
                                               {% if cat.shadow_px %}{{ cat.shadow_px }}px{% else %}0{% endif %} 0 {% if cat.shadow_blur_px %}{{ cat.shadow_blur_px }}px{% else %}0{% endif %} {% if cat.shadow_color %}{{ cat.shadow_color }}{% else %}Black{% endif %},
                                               0 {% if cat.shadow_px %}-{{ cat.shadow_px }}px{% else %}0{% endif %} {% if cat.shadow_blur_px %}{{ cat.shadow_blur_px }}px{% else %}0{% endif %} {% if cat.shadow_color %}{{ cat.shadow_color }}{% else %}Black{% endif %},
                                               {% if cat.shadow_px %}-{{ cat.shadow_px }}px{% else %}0{% endif %} 0 {% if cat.shadow_blur_px %}{{ cat.shadow_blur_px }}px{% else %}0{% endif %} {% if cat.shadow_color %}{{ cat.shadow_color }}{% else %}Black{% endif %};
                               {% endif %}"
                       {# alt="{{ cat.name }}" #}
                       title="{{ cat.title }}">{{ cat.title }}</a>
                    {% if children %}
                        <ul class="submenu sub_level">{{ loop(children) }}</ul>
                    {% endif %}
                </li>
            {% endfor %}
            {# <li>
                <a href="/"
                   alt='Домой'
                   title="Корень сайта Shop">Корень Shop</a>
            </li> #}
        </ul>
    </div>
{% if user.is_authenticated and user.is_staff %}
{% set url = request.get_full_path() %}
{% set deny_url = ['/корзина/', '/корзина/заказ/', '/корзина/заказ/принят/', '/админ/', '/admin/'] %}
{% if url not in deny_url %}
<style>
div#main_left div#products_block_left{
margin-left:-10px;
}
.sticky {
  position: fixed;
  z-index: 101;
}
.stop {
  position: relative;
  z-index: 101;
}
</style>
<div id="form_slide_left" style="margin-left:-10px;">
    {# {{ one_block(product_random_test_, request, 'div', 1, 1, 'product')|safe }} #}
</div>
{# <script src="/media/js/jquery/inview/inview.js"></script> #}
<script>
$(document).ready(function(){
        //var form_slide_left = document.getElementById('form_slide_left');
        //var script_jquery_inview = document.createElement('script');
        //script_jquery_inview.src = "{{ MEDIA_URL }}js/jquery/inview/inview.js";
        //form_slide_left.appendChild(script_jquery_inview);
        $.getScript("{{ MEDIA_URL }}js/jquery/inview/inview.js",
                function(){
                    var form_slide_left = document.getElementById('form_slide_left');
                    $(form_slide_left).bind('inview', function (event, visible, visiblePartX, visiblePartY){
                if(visible == true && form_slide_left.className == ''){
                    form_slide_left.className = 'reviewed';
                    var height_visible_part_of_window = window.innerHeight
                            || document.documentElement.clientHeight
                            || document.body.clientHeight;
                    var main_left_Height = document.getElementById('main_left').offsetHeight;
                    var main_center_Height = document.getElementById('main_center').offsetHeight;
                    $.post(url = "/ajax/slides/left/",
                            data = {
                                url_path: '{{ url }}',
                                height_visible_part_of_window: height_visible_part_of_window,
                                main_left_Height: main_left_Height,
                                main_center_Height: main_center_Height,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            function(data, textStatus, jqXHR){
                                if (data.result == 'Ok'){
                                    form_slide_left.insertAdjacentHTML('afterEnd', data.html_block);
(function() {
    var a = document.querySelector('#products_block_left'), b = null, P = 0;
    //$(window).scroll(function () {
window.addEventListener('scroll', Ascroll, false);
document.body.addEventListener('scroll', Ascroll, false);
function Ascroll() {
    if (b == null) {
            var Sa = getComputedStyle(a, ''), s = '';
            for (var i = 0; i < Sa.length; i++) {
                if (Sa[i].indexOf('box-sizing') == 0 || Sa[i].indexOf('overflow') == 0 || Sa[i].indexOf('width') == 0 || Sa[i].indexOf('padding') == 0 || Sa[i].indexOf('border') == 0 || Sa[i].indexOf('outline') == 0 || Sa[i].indexOf('box-shadow') == 0 || Sa[i].indexOf('background') == 0) {
                    s += Sa[i] + ': ' + Sa.getPropertyValue(Sa[i]) + '; '
                }
            }
            a.innerHTML = '<div style="' + s + '">' + a.innerHTML + '</div>';
            b = a.children[0];
            a.style.height = b.getBoundingClientRect().height + 'px';
            a.style.padding = '0';
            a.style.border = '0';
        }
  var Ra = a.getBoundingClientRect(),
      R = Math.round(Ra.top + b.getBoundingClientRect().height - document.querySelector('footer').getBoundingClientRect().top + 0);
{# // селектор блока, при достижении верхнего края которого нужно открепить прилипающий элемент;  Math.round() только для IE; если ноль заменить на число, то блок будет прилипать до того, как нижний край элемента дойдёт до футера #}
{#         var Ra = a.getBoundingClientRect(),
                R = Math.round(Ra.top + b.getBoundingClientRect().height - document.querySelector('#main_center').getBoundingClientRect().bottom); #}
        {#   // селектор блока, при достижении нижнего края которого нужно открепить прилипающий элемент #}
        if ((Ra.top - P) <= 0) {
            if ((Ra.top - P) <= R) {
                b.className = 'stop';
                b.style.top = -R + 'px';
            } else {
                b.className = 'sticky';
                b.style.top = P + 'px';
            }
        } else {
            b.className = '';
            b.style.top = '';
        }
    }
})();
                                }
                            },
                            dataType = "json"
                    );
                }
            });
        });
            });
</script>
{% endif %}
{% endif %}
</div>
<div id="main_center"
     style="width:{{ request.session.width_main_center }}px;"
     class="clearFloat">
    {% block content_center %}
    {% endblock %}
</div>
{# <style>
#main_right{
    float:left;
}
</style> #}
{% if request.session.right_panel %}
    <div id="main_right">
        {% block content_right %}
            <form method="get" action="/search/" id="search">
                {% csrf_token %}
                <table>
                    <tbody>
                    {# <tr>
                        <td colspan="2" class="center_title">
                            Поиск
                        </td>
                    </tr> #}
                    <tr>
                        <td>
                            <input type="text" name="query" class="search_input" style="width:140px;">
                        </td>
                        <td align="left">
                            <input type="submit" value="Поиск" class="search_button">{# name="search_button" #}
                        </td>
                    </tr>
                    {# <tr>
                        <td>
                            <a href="/search/">Расширенный поиск</a>
                        </td>
                        <td>
                            <img alt="" src="/static/images/spacer.gif">
                        </td>
                    </tr> #}
                    </tbody>
                </table>
            </form>
            <div class="rightSlider">
                {% if viewed_ %}
                    {% for view in viewed_ %}
                        <div class="rightSliderItems">
                            {# {% set view_content_type_id = view.content_type.id %} #}
                            {# {% if view.content_type.id|int == 9 %}
                                {% set cache_key = 'product' %}
                            {% else %}
                                {% set cache_key = 'other' %}
                            {% endif %} #}
                            {# {% set view_object_id = view.object_id %} #}
                            {# {% set cache_key = cache_key + '-' + view.object_id|string() %}
                            {% cache 300 cache_key %} #}
                                <a id="product_box_title"
                                   href="{{ view.parent.get_absolute_url() }}"{#
                                   title="{{ view.parent.description }}">{{ view.parent.title|safe }}
                                    #}title="{{ view.parent.description }}">{{ view.parent.title }}
                                </a>
                                <a id="product_box_img"
                                   href="{{ view.parent.get_absolute_url() }}"
                                   {% if view.parent.main_photo %}
                                       style="background-image:url('{{ view.parent.main_photo.photo.url_210x160 }}');"
                                   {% endif %}
                                   title="{{ view.parent.main_photo.title }}">
                               </a>
                            {# {% endcache %} #}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endblock %}
    </div>
{% endif %}
{# <div style="width:100%;height:1px;clear:both;"></div> #}
{# <script>
function setEqualHeight(columns){
    var tallestcolumn = 0;
    columns.each(function(){
        currentHeight = $(this).height();
        if(currentHeight > tallestcolumn){
            tallestcolumn = currentHeight;
        }
    });
    columns.height(tallestcolumn);
}

document.onload=setEqualHeight($("#main > div"));
</script> #}
{% endblock %}
