{# {1{ imgN }} #}<figure><p><img src='{{ img_url }}'{% if alt %} alt='{{ alt }}'{% endif %}{% if title %} title='{{ title }}'{% endif %}></p>{% if caption %}<figcaption><p>{{ caption }}</p></figcaption>{% endif %}</figure>