{% extends 'base.jinja2.html' %}
{% block title %}Страница продукта{% endblok %}
{% block content %}
    {% if not current_category_.parent %}
    <a href="/">Home</a>&nbsp;<a href="{{ current_category_.get_absolute_url() }}">{{ current_category_.title }}</a>
    {% elif not current_category_.parent.parent %}
    <a href="/">Home</a>&nbsp;<a href="{{ current_category_.parent.get_absolute_url() }}">{{ current_category_.parent.title }}</a>&nbsp;<a href="{{ current_category_.get_absolute_url() }}">{{ current_category_.title }}</a>
    {% elif not current_category_.parent.parent.parent %}
    <a href="/">Home</a>&nbsp;<a href="{{ current_category_.parent.parent.get_absolute_url() }}">{{ current_category_.parent.parent.title }}</a>&nbsp;<a href="{{ current_category_.parent.get_absolute_url() }}">{{ current_category_.parent.title }}</a>&nbsp;<a href="{{ current_category_.get_absolute_url() }}">{{ current_category_.title }}</a>
    {% elif not current_category_.parent.parent.parent.parent %}
    <a href="/">Home</a>&nbsp;<a href="{{ current_category_.parent.parent.parent.get_absolute_url() }}">{{ current_category_.parent.parent.parent.title }}</a>&nbsp;<a href="{{ current_category_.parent.parent.get_absolute_url() }}">{{ current_category_.parent.parent.title }}</a>&nbsp;<a href="{{ current_category_.parent.get_absolute_url() }}">{{ current_category_.parent.title }}</a>&nbsp;<a href="{{ current_category_.get_absolute_url() }}">{{ current_category_.title }}</a>
    {% elif not current_category_.parent.parent.parent.parent.parent %}
    <a href="/">Home</a>&nbsp;<a href="{{ current_category_.parent.parent.parent.parent.get_absolute_url() }}">{{ current_category_.parent.parent.parent.parent.title }}</a>&nbsp;<a href="{{ current_category_.parent.parent.parent.get_absolute_url() }}">{{ current_category_.parent.parent.parent.title }}</a>&nbsp;<a href="{{ current_category_.parent.parent.get_absolute_url() }}">{{ current_category_.parent.parent.title }}</a>&nbsp;<a href="{{ current_category_.parent.get_absolute_url() }}">{{ current_category_.parent.title }}</a>&nbsp;<a href="{{ current_category_.get_absolute_url() }}">{{ current_category_.title }}</a>
    {% elif not current_category_.parent.parent.parent.parent.parent.parent %}
    <a href="/">Home</a>&nbsp;<a href="{{ current_category_.parent.parent.parent.parent.parent.get_absolute_url() }}">{{ current_category_.parent.parent.parent.parent.parent.title }}</a>&nbsp;<a href="{{ current_category_.parent.parent.parent.get_absolute_url() }}">{{ current_category_.parent.parent.parent.title }}</a>&nbsp;<a href="{{ current_category_.parent.parent.get_absolute_url() }}">{{ current_category_.parent.parent.title }}</a>&nbsp;<a href="{{ current_category_.parent.get_absolute_url() }}">{{ current_category_.parent.title }}</a>&nbsp;<a href="{{ current_category_.get_absolute_url() }}">{{ current_category_.title }}</a>
    {% endif %}
    {{ current_category_ }}
    {{ product_ }}
    <form method="POST" action=".">
        <input type="hidden" name="product_pk" value="{{ product_.pk }}" />
    	<input type="hidden" name="product_slug" value="{{ product_.slug }}" />
    	<input type="hidden" name="action" value="addtocard" />

        <input type="submit" value="Добавить в корзину" />
    </form>
{% endblock %}