<!DOCTYPE html>
<html>
<head>
<title>Добавление комментария</title>
<meta charset="utf-8">
<script src="{{ MEDIA_URL }}js/jquery/jquery-1.10.2.js"></script>
{# <script src="{{ MEDIA_URL }}js/jquery/jquery-ui/jquery-ui-1.10.4.js"></script> #}
</head>
<body>
<h1>Добавить комментарий, отзыв или вопрос по товару.</h1>
{% if error_message %}
<p>{{ error_message }}</p>
{% endif %}
<form name="comment_add" method="post" action=".">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <input type="hidden" name="POST_NAME" value="comment_add">

    <label for="commenter_name">Ваше имя:</label>
    <input type="text" name="commenter_name" id="commenter_name" required>
    <br>
    <label for="comment">Ваш комментарий:</label>
    <input type="text" name="comment" id="comment" required>
    <br>
    <label for="request_a_response">Запрос на ответ:</label>
    <input type="checkbox" name="require_a_response" id="request_a_response">
    <br>
    <label for="commenter_email">Ваш email:</label>
    <input type="email" name="email_for_response" id="commenter_email">
    <br>
    <label for="commenter_rating">Ваш рейтинг:</label>
    <input type="number" name="rating" id="commenter_rating">
    <br class="clearFloat">
    {# <input type="hidden" name="product_pk" value="{1{ product.pk }}" />
    <input type="hidden" name="product_url" value="{1{ product.url }}" /> #}
    {% for key in 0,1,2 %}
        <div style="background-image:url('/captcha/{{ keys[key].key }}.jpg');width:300px;height:300px;float:left;" id="capcha"></div>
    {% endfor %}
    <br class="clearFloat">
    <input type="submit" value="Добавить комментарий"{#  style="margin-top:2px;" #}>

</form>
</body>
</html>