{% if blocks %}
    {# <p>Под категории в этой категории</p> #}
    <div id="categories_block">
        {% set cycle = 1 %}
        {% set last_loop = False %}
        {% set revcounter = blocks|length %}
        {% for category in blocks %}
            {% if revcounter < request.session.limit_on_string %}
                {% set last_loop = True %}
            {% endif %}
            {% set revcounter = revcounter - 1 %}
            {{ one_block(category, '', cycle, last_loop, 'category')|safe }}
            {% if cycle < request.session.limit_on_string %}
                {% set cycle = cycle + 1 %}
            {% else %}
                {% set cycle = 1 %}
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    {# <p>Подкатегории в этой категории отсутсвуют</p> #}
{% endif %}
