{% if blocks %}
<div id="categories_block"{% if top_border %} class="top_border"{% endif %}>
    {% set cycle = 1 %}
    {% set revcounter = blocks|length %}
    {% if revcounter <= request.session.limit_on_string %}
        {% set last_loop = True %}
    {% else %}
        {% set last_loop = False %}
    {% endif %}
    {% for category in blocks|sort(attribute='serial_number') %}
        {{ one_block(category, request, '', cycle, last_loop, 'category')|safe }}
        {% if cycle < request.session.limit_on_string %}
            {% set cycle = cycle + 1 %}
        {% else %}
            {% set cycle = 1 %}
            {% set revcounter = revcounter - request.session.limit_on_string %}
            {% if revcounter <= request.session.limit_on_string %}
                {% set last_loop = True %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
{% endif %}
