<div class="category_block" style="margin-bottom:{{ margin_bottom }};margin-left:{{ margin_left }};">
    {% if block.main_photo %}
        <a class="category_block_title"
           href="{{ block.get_absolute_url() }}"
           title="{% if block.item_description %}{{ block.item_description }}{% else %}{{ block.title }}{% endif %}">{{ block.title }}</a>
        <a class="category_block_img"
           href="{{ block.get_absolute_url() }}"
           title="{{ block.main_photo.title }}">
            <img src="{{ block.main_photo.photo.url_210x160 }}"
                 alt="{% if block.main_photo.photo.meta_alt %}{{ block.main_photo.photo.meta_alt }}{% else %}{{ block.title }}{% endif %}"
                 border="0"/>
        </a>
        {% if block.item_description %}
            <a class="category_block_excerpt"
               href="{{ block.get_absolute_url() }}"
               title="{{ block.title }}">{{ block.item_description }}</a>
        {% endif %}
        <a class="category_block_arrow" href="{{ block.get_absolute_url() }}"
            title="{{ block.title }}">
            <img src="/media/img/strelka40.png" />
        </a>
    {% else %}
        <a class="category_block_title"
           href="{{ block.get_absolute_url() }}"
           title="{% if block.item_description %}{{ block.item_description }}{% else %}{{ block.title }}{% endif %}">{{ block.title }}</a>
        <a class="category_block_img"
           href="{{ block.get_absolute_url() }}"
           title="{{ block.title }}">
            <img src="/media/img/NoPhoto_210x160.jpg"
                 alt="No Photo"
                 border="0"/>
        </a>
        {% if block.item_description %}
            <a class="category_block_excerpt"
               href="{{ block.get_absolute_url() }}"
               title="{{ block.title }}">{{ block.item_description }}</a>
        {% endif %}
        <a class="category_block_arrow" href="{{ block.get_absolute_url() }}"
            title="{{ block.title }}">
            <img src="/media/img/strelka40.png" />
        </a>
    {% endif %}
</div>
