<div class="{{ category_block }}">
    {% if category.main_photo %}
        <a class="category_block_title"
           href="{{ category.get_absolute_url() }}"
           title="{% if category.description %}{{ category.description }}{% else %}{{ category.title }}{% endif %}">{{ category.title }}</a>
        <a class="category_block_img"
           href="{{ category.get_absolute_url() }}"
           title="{{ category.main_photo.title }}">
            <img src="{{ category.main_photo.photo.url_210x160 }}"
                 alt="{% if category.main_photo.photo.meta_alt %}{{ category.main_photo.photo.meta_alt }}{% else %}{{ category.title }}{% endif %}"
                 border="0"/>
        </a>
        {% if category.description %}
            <a class="category_block_excerpt"
               href="{{ category.get_absolute_url() }}"
               title="{{ category.title }}">{{ category.description }}</a>
        {% endif %}
    {% else %}
        <a class="category_block_title"
           href="{{ category.get_absolute_url() }}"
           title="{% if category.description %}{{ category.description }}{% else %}{{ category.title }}{% endif %}">{{ category.title }}</a>
        <a class="category_block_img"
           href="{{ category.get_absolute_url() }}"
           title="{{ category.title }}">
            <img src="/media/img/NoPhoto_210x160.jpg"
                 alt="No Photo"
                 border="0"/>
        </a>
        {% if category.description %}
            <a class="category_block_excerpt"
               href="{{ category.get_absolute_url() }}"
               title="{{ category.title }}">{{ category.description }}</a>
        {% endif %}
    {% endif %}
</div>
