<div id="current_category">
{% if category.main_photo %}
    <figure class="current_category_img">
        <a href="{{ category.get_absolute_url() }}"
           {% if category.main_photo.meta_title %}title="{{ category.main_photo.meta_title }}"{% endif %}>
            <img src="{{ category.main_photo.photo.url_210x160 }}" alt="{{ category.main_photo.meta_alt }}" border="0">
        </a>
        {% if category.main_photo.sign %}<figcaption><p>{{ category.main_photo.sign }}</p></figcaption>{% endif %}
        {% if category.item_description %}<h1>{{ category.description|safe }}</h1>{% endif %}
        {% if category.description %}{{ category.description|safe }}{% endif %}
    </figure>
{% else %}
    {% if category.item_description %}<h1>{{ category.description|safe }}</h1>{% endif %}
    {% if category.description %}{{ category.description|safe }}{% endif %}
{% endif %}
</div>
