{% if category.main_photo %}
{#  <a class="this_category_title"
       href="{{ category.get_absolute_url() }}"
       title="{{ category.title }}">{{ category.name }}</a> #}
    <div class="this_category_img">
        <a href="{{ category.get_absolute_url() }}"
           title="{{ category.main_photo.title }}">
            <img src="{{ category.main_photo.photo.url_210x160 }}" alt="{{ category.main_photo.photo.meta_alt }}" border="0"/>
        </a>
    </div>
    {% if category.description %}
        <div class="this_category_excerpt"
             title="{{ category.description }}">{{ category.description }}
        </div>
    {% endif %}
{% else %}
{#  <a class="this_category_title"
       href="{{ category.get_absolute_url() }}"
       title="{{ category.title }}">{{ category.name }}</a> #}
    {% if category.description %}
        <div class="this_category_excerpt"
             title="{{ category.description }}">{{ category.description }}
        </div>
    {% endif %}
{% endif %}
