{% if category.main_photo %}
    <div id="current_category">
        <figure class="current_category_img">
            <a href="{{ category.get_absolute_url() }}"
               {% if category.main_photo.meta_title %}title="{{ category.main_photo.meta_title }}"{% endif %}>
                <img src="{{ category.main_photo.photo.url_210x160 }}" alt="{{ category.main_photo.meta_alt }}" border="0">
            </a>
            <figcaption><p>{{ category.main_photo.sign }}</p></figcaption>
        </figure>
        {% if category.description %}
            <div class="current_category_excerpt" style="width:{{ width_this_category }}px;"
                 {% if category.item_description %}title="{{ category.item_description }}"{% endif %}>{{ category.description|safe }}
            </div>
        {% endif %}
    </div>
{% else %}
    {% if category.description %}
        <div id="current_category">
            <div class="current_category_excerpt"
                 {% if category.item_description %}title="{{ category.item_description }}"{% endif %}>{{ category.description|safe }}
            </div>
        </div>
    {% endif %}
{% endif %}
