<!DOCTYPE html>
<html lang="ru">
<head>
<title>Страница редактирования Комментария.</title>
<meta charset="utf-8">
<script src="{{ MEDIA_URL }}js/jquery/jquery-1.10.2.js"></script>
<script>
function button_enabled(id){
    {# jQuery('#button_commenter_name').prop("disabled", false); #}
    document.getElementById(id).removeAttribute("disabled");
}
function button_click(action, tag_type, tag_id){
    var comment_tag_value;
    {# alert(tag_type); #}
    if (tag_type=='text'){
        {# alert('aaa') #}
        comment_tag_value = document.getElementById(tag_id).value;
    } else if (tag_type=='checkbox'){
        comment_tag_value = document.getElementById(tag_id).checked;
    };
    var comment_json_array = {};
    comment_json_array.csrfmiddlewaretoken='{{ csrf_token }}';
    comment_json_array.comment_pk={{ comment.pk }};
    comment_json_array.content_type='{{ comment.content_type }}';
    comment_json_array.object_id={{ comment.object_id }};
    comment_json_array.action=action;
    if (action=='commenter_name_change'){
        comment_json_array.commenter_name=comment_tag_value;
    } else if (action=='comment_change'){
        comment_json_array.comment=comment_tag_value;
    } else if (action=='comment_pass_moderation_change'){
        comment_json_array.comment_pass_moderation=comment_tag_value;
    } else if (action=='comment_delete'){
    };
    jQuery.post("/ajax/comment/change/",
        comment_json_array,
        function(data, textStatus, jqXHR){
        },
        "json");
    if (action=='comment_delete'){
        window.location.href = "/админ/комментарий/поиск/";
        {#
        // Производит возврат на предыдущую страницу безе перечитывания содержимого
        history.back()
        // similar behavior as an HTTP redirect
        window.location.replace("http://stackoverflow.com");

        // similar behavior as clicking on a link
        window.location.href = "http://stackoverflow.com"; #}
    };
}
</script>
</head>
<body>
    <div id="show_comment" style="color:Black;text-align:left;">
        {% set url = comment.pk|int_to_string %}
        {% set int_range = 6 - url|length %}
        {% if int_range > 0 %}
            {% for i in int_range|get_range %}
                {% set url = '0' + url %}
                {% if i == int_range - 1 %}
        <form method="POST" action="/админ/комментарий/редактор/{{ url }}/">
                {% endif %}
            {% endfor %}
        {% endif %}
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="POST_NAME" value="comment_dispatch">

            <label for="comment_id">№ комментария:</label>
            <input type="text" id="comment_id" value="{{ comment.pk }}" disabled>
            <br>
            <label for="commenter_name">Имя комментатора:</label>
            <input type="text" id="commenter_name" value="{{ comment.name }}" onkeyup="javascript:button_enabled('button_commenter_name');">
            <input type="button" id="button_commenter_name" value="Изменить" disabled onclick="javascript:button_click('commenter_name_change', 'text', 'commenter_name');">
            <br>
            {% if comment.user %}
                <label for="commenter_user">Пользователь комментатор:</label>
                <input type="text" id="commenter_user" value="{{ comment.user }}" disabled>
                <br>
            {% endif %}
            <label for="commenter_sessionid">SessionID комментатора:</label>
            <input type="text" id="commenter_sessionid" value="{{ comment.sessionid }}" disabled>
            <br>
            <label for="comment">Комментарий:</label>
            <input type="text" id="comment" value="{{ comment.comment }}" onkeyup="javascript:button_enabled('button_comment');">
            <input type="button" id="button_comment" value="Изменить" disabled onclick="javascript:button_click('comment_change', 'comment', 'text');">
            <br>
            <label for="comment_pass_moderation">Прохождение модерации:</label>
            <input
                   type="checkbox" id="comment_pass_moderation"
                   {% if comment.pass_moderation %}
                       checked
                   {% endif %}
                   {# onkeyup="javascript:button_enabled('button_comment_pass_moderation');"
                   onclick="javascript:button_enabled('button_comment_pass_moderation');" #}
                   onchange="javascript:button_enabled('button_comment_pass_moderation');">
            <input
                   type="button"
                   id="button_comment_pass_moderation"
                   value="Изменить"
                   disabled
                   onclick="javascript:button_click('comment_pass_moderation_change', 'checkbox', 'comment_pass_moderation');">
            <br>
            <label for="comment_require_a_response">Запрос на ответ:</label>
            <input type="checkbox" id="comment_require_a_response" value="{{ comment.require_a_response }}">
            <br>
            <label for="comment_email_for_response">E-Mail для ответа:</label>
            <input type="email" id="comment_email_for_response" value="{{ comment.email_for_response }}">
            <br>
            <label for="comment_created_at">Дата и врямя создания:</label>
            <input type="datetime" id="comment_created_at" value="{{ comment.created_at }}">
            <br>
            <label for="comment_updated_at">Дата и врямя изменения:</label>
            <input type="datetime" id="comment_updated_at" value="{{ comment.updated_at }}">
            <br>
            <input type="button" value="Ответить">
            <input type="button" value="Сохранить">
            <input type="button" value="Удалить" onclick="javascript:button_click('comment_delete')">
            <input type="button" value="Назад" onclick="javascript:history.back()">
            {# <a href="javascript:history.back()" onMouseOver="window.status='Back';return true">Назад</A> #}
        </form>
    </div>
</body>
</html>
